.control-card + .control-card {
	display: none;
	text-align: left;
}

span.button-index {
	display: flex;
	justify-content: left;
	align-items: center;
	margin-top: 0.125em;
	margin-bottom: 0.125em;
}

span.button-index .arrow,
span.button-index .button,
span.button-index b{
	margin-left: 0.5em;
	margin-right: 0.5em;
}
