.viewport {
	background: black;
}

.viewport-frame:not(.no-intro) .viewport-overlay {
	filter: url(#ntsc);
}

.screen-card {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% + 1px);

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: black;
	color: white;

	transition: opacity 500ms 250ms linear, filter 500ms linear;

	pointer-events: initial;

}

.screen-card-boot-card {
	color: white;
	background-color: black
}

.screen-card.opening {
	filter: brightness(0) saturate(0);
}

.screen-card-loading-card {
	opacity: 1 !important;
	font-family: '8-bit-pusab';
	color: rgba(255,255,255,0.125);
}

.screen-card.opened {
	opacity: 1;
}

.screen-card-title-screen-card.closing,
.screen-card-title-screen-card.closed {
	filter: brightness(0) saturate(0);
}

.screen-card-boot-card.closed {
	filter: brightness(0);
}

.screen-card-title-screen-card.opening {
}

.screen-card-boot-card span {
	white-space: pre;
	text-align: center;
	font-family: '8-bit-pusab';
	font-size: 0.5rem;
}

.screen-card-sean-card.opening {
}

.screen-card-title-screen-card {
	/*background-image: url(/Sonic/title-screen-emblem.png);*/
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgba(0,0,0,1);
}

.screen-card-debian-card {
	background-color: rgba(255,255,255,1);
	color: black;
	font-family: poppl-laudatiocondensed;
	text-align: center;
	transition: opacity 0.5s ease-out, filter 0.75s ease-out;
}

.screen-card-debian-card .caption {
	font-size: 16pt;
	padding: 1em;
	transition: opacity 0.75s 1.75s ease-out;
	opacity: 1;
}

.screen-card-debian-card.opening {
	opacity: 0;
	filter: blur(0px);
}

.screen-card-debian-card.closed,
.screen-card-debian-card.closing {
	opacity: 0;
	filter: blur(5px) saturate(0);
}

.screen-card-debian-card.opening .caption {
	opacity: 0;
}

.debian-logo {
	margin-left: auto;
	margin-right: auto;
	background-image: url(/ui/debian.svg);
	width: 128px;
	height: 128px;
	background-repeat: no-repeat;
	background-position: center;
  	clip-path: circle(0% at 58% 40%);
	animation: debian-iris 2.25s 1s ease-out 1 forwards;
}

@keyframes debian-iris {
  0% { clip-path: circle(0% at 58% 40%); }
  100% { clip-path: circle(100% at 58% 40%); }
}

.screen-card-title-screen-card .main-elements-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.screen-card-title-screen-card.opening .title-emblem {
	transform: translateY(-150%);
}

.screen-card-title-screen-card.opened .title-emblem {
	transform: translateY(0%);
}

.screen-card-title-screen-card .title-emblem {
	width: 256px;
	height: 200px;
	margin-top: -10px;
	margin-bottom: -30px;
	background-image: url(/Sonic/title-screen-emblem.png);
	transition: transform 1s 1.75s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.screen-card-title-screen-card.opening .backdrop {
	transform: translateY(-25%);
}

.screen-card-title-screen-card.opened .backdrop {
	transform: translateY(0%);
}

.screen-card-title-screen-card .backdrop {
	transition: transform 1.5s 1s ease-out;
}

.screen-card-title-screen-card .press-start {
	filter: drop-shadow(0px 0px 3px rgba(0,0,0,1));
	animation: press-start steps(1) infinite 600ms 2s forwards;
	opacity: 0;
}

@keyframes press-start {
	from{
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
