@font-face {
	font-family: "Sega";
	src: url("fonts/sega/SEGA.woff2") format('woff2')
		,url("fonts/sega/SEGA.woff") format('woff')
		,url("fonts/sega/SEGA.TTF") format('ttf');
}

div.splash {
	font-family: Sega, Arial;
	position: fixed;
	top:    0px;
	left:   0px;
	width:  100%;
	height: 100%;
	display: flex;
	align-items: center;
	background-color: #BBB;
	background-color: black;
	align-content: center;
	justify-content: center;
	font-size: 44pt;
	color:#11559c;
}

div.splash div.center {
	box-sizing: content-box;
	padding: 20px;
	position: relative;
	overflow: hidden;
	padding: 0px;
}

div.splash div.center div.sm {
	position: absolute;
	top: 5px;
	right: 8px;
	font-size: 6px;
	font-weight: bold;
	font-family: system, monospace;
	opacity: 0;
}

div.splash div.center:first-child {
	-webkit-text-stroke: 3px white;
}

div.splash div.center:first-child div.sm {
	-webkit-text-stroke: 1px white;
}

div.splash div.center:first-child div.min {
	-webkit-text-stroke: 3px white !important;
}

div.splash div.center:first-child {
	/*text-shadow: 10px 10px 10px rgba(0,0,0,0.5);*/
}

div.splash div.center span.min {
	opacity: 0;
}

div.splash div.center:last-child {
	opacity: 0.5;
}

div.splash div.center {
	text-align: center;
	padding:10px;
	position: absolute;
	clip-path: polygon(
		0 0
		, 100% 0
		, 100% 93%
		, 0 93%
	);
}

div.splash.hide div.center {
	clip-path: polygon(
		-25% 0%
		, -10% 0%
		, -10% 93%
		, -25% 93%
	);
}

div.splash.slide div.center {
	clip-path: polygon(
		110% 0%
		, 125% 0%
		, 125% 93%
		, 110% 93%
	);
	opacity: 0.25;
	transition: clip-path 0.75s;
	filter: brightness(5) saturate(0.5) contrast(2);
}

div.splash div.center {
	clip-path: polygon(
		0% 0%
		, 100% 0%
		, 100% 93%
		, 0% 93%
	);
}

div.splash.show {
	background-color: #BBB;
	background-color: black;
	color:#11559c;
	transition: background-color 0.5s;
}

div.splash.show div.center:last-child,
div.splash.done div.center:last-child {
	opacity: 1;
	transition: opacity 0.25s;
}

div.splash.show div.center span.min,
div.splash.done div.center span.min {
	opacity: 1;
	transition: opacity 1.5s;
}

div.splash.show div.center div.sm,
div.splash.done div.center div.sm {
	opacity: 1;
	transition: opacity 0.5s ease-in, background-color 0.25s ease-in, filter 0.75s ease-in;
}

div.splash.done {
	background-color: black;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s ease-in, background-color 0.25s ease-in, filter 0.75s ease-in;
}

span.min {
	font-size:  13px;
	margin-top: 8px;
	display: block;
}

.modal-dialog iframe {
	width: 100%;
	min-height: 600px;
	margin-top: 2em;
}

iframe {
	flex: 1;
	border: 0px transparent;
	max-width: 100%;
	margin: 15px;
}

.modal .circle-progress {
	border: black;
}
