.screen-card.screen-card-main-menu *::-webkit-scrollbar {
  display: none;
}

.screen-card.screen-card-main-menu .menu-container {
	display: flex;
	width: 100%;
	align-items: center;
	filter:
		drop-shadow(-1px 1px 1px rgba(0,0,0,0.75))
		drop-shadow(1px 1px 1px rgba(0,0,0,0.75))
		drop-shadow(0px 0px 1px rgba(0,0,0,0.75));
}

.screen-card.screen-card-main-menu .menu-container > * {
	display: flex;
	justify-content: center;
}

.screen-card.screen-card-main-menu .menu-container > *:first-child {
	justify-content: flex-end;
	font-size: 1.25rem;
	width: 40%;
}

.screen-card.screen-card-main-menu .menu-container > *:last-child {
	justify-content: flex-start;
	width: 60%;
}

.screen-card.screen-card-main-menu {
	/*background-color: transparent;*/
	z-index: 1;
}

.screen-card.screen-card-main-menu.closed,
.screen-card.screen-card-main-menu.closing {
	opacity: 0;
}

/*:not(textarea):not(input):not(button):not(select):focus*/

.screen-card-main-menu :focus .title,
.screen-card-main-menu li:focus-within .title,
.screen-card-main-menu .focused .title {
	/*outline: 1px solid rgba(255,255,255,0.2);
	outline-offset: 0.6em;*/
	text-decoration: underline;
	color: white;
}
.screen-card-main-menu :focus,
.screen-card-main-menu .focused {
	outline: none;
}

.screen-card-main-menu li {
	display: flex;
	margin-bottom: 1em;
	user-select: none;
	margin-top: 1em;
	cursor: pointer;
	color: #CCC;
}

.screen-card-main-menu .unavailable {
	color: #666;
}

.screen-card-pause-menu li,
.screen-card-main-menu li {
	position: relative;
}

.screen-card-main-menu .unavailable.focused {
	color: #999;
}

.screen-card-pause-menu .subtext,
.screen-card-main-menu .subtext {
	display: none;
}

.screen-card-pause-menu .subtext {
	margin-top: 1em;
}

.screen-card-pause-menu li:not(.unavailable):focus .subtext,
.screen-card-pause-menu li:not(.unavailable):focus-within .subtext,
.screen-card-pause-menu li:not(.unavailable).focused .subtext,
.screen-card-pause-menu .unavailable.focused::after,
.screen-card-pause-menu .unavailable:focus-within::after,
.screen-card-pause-menu .unavailable:focus::after,

.screen-card-main-menu li:not(.unavailable):focus .subtext,
.screen-card-main-menu li:not(.unavailable):focus-within .subtext,
.screen-card-main-menu li:not(.unavailable).focused .subtext,
.screen-card-main-menu .unavailable.focused::after,
.screen-card-main-menu .unavailable:focus-within::after,
.screen-card-main-menu .unavailable:focus::after {
	display: initial;

	font-size: 0.2em;

	position: absolute;
	left: 0;
	top: 100%;
}

.screen-card-pause-menu .unavailable.focused::after,
.screen-card-pause-menu .unavailable:focus-within::after,
.screen-card-pause-menu .unavailable:focus::after,
.screen-card-main-menu .unavailable.focused::after,
.screen-card-main-menu .unavailable:focus-within::after,
.screen-card-main-menu .unavailable:focus::after {
	content: 'not yet implemented';
}

.screen-card-main-menu {
	position: relative;
	background-color: black;
}

.screen-card-main-menu .menu-scroller {
	content: ' ';
	animation: menu-bg-scroll 12000ms linear infinite forwards;

	z-index: -1;

	filter: url(#menu-warp);

	background-color: #0024d8;

	background-image: url(/custom/checker-blue.png);
}

.screen-card-main-menu svg {
	pointer-events: none;
}

.screen-card-main-menu svg,
.screen-card-main-menu .menu-scroller {
	position: absolute;
	transform: scale(2);
	height: 50%;
	width:  50%;
}

.screen-card-main-menu .menu-scroller {
}

@keyframes menu-bg-scroll {
	0%   { background-position-x: 0px; }
	100% { background-position-x: 96px; }
}


.screen-card-main-menu .token-exchange {
	position: absolute;
	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
	justify-content: center;
}

.screen-card-main-menu .token-exchange label:empty {
	display: none;
}

.screen-card-main-menu .token-exchange label {
	position: relative;
	display: block;
	margin:auto;
	margin-left: 0.125em;
	margin-right: 0.125em;
	width: 170px;
	height: 50%;
	padding: 0.5em;
	display: flex;
	flex-direction: column;
	white-space: initial;
	background-color: white;
	border: 1px solid black;
	border-radius: 0.5em;
	color: black;
	text-shadow: 1em 1em 1em black;
}

.screen-card-main-menu .token-exchange label p {
	font-size: 0.45rem;
	margin: 0.5em;
	margin-top: 0;
}

.screen-card-main-menu .token-exchange button {
	border: 1.125px solid #333;
	border-radius: 5px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-top: 0;
	background-color: #BBB;
	width: 160px;
	box-sizing: content-box;
	margin: 0;
	padding: 0.25rem;
	font-size: 0.5rem;
	font-weight: bold;
}

.screen-card-main-menu .token-exchange textarea {
	border: 1.125px solid #333;
	padding: 0.25rem;
	font-size: 0.25rem;
	box-sizing: content-box;
	border-radius: 5px;
	color: black !important;
	display: inline-block;
	flex: 1;
	min-height: 45px;
	width: 160px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	margin: 0;
	background-color: transparent;
}

.screen-card-main-menu .close {
	background-position: center;
	background-repeat: no-repeat;
	background-image:  url(/ui/close.svg);
	background-size:   0.5em 0.5rem;
	background-color:  black;
	box-shadow: 0em 0.25em 0.25em rgba(0,0,0,0.333);
	color: white;
	position: absolute;
	top: -0.75em;
	right: -0.75em;
	border-radius: 50%;
	width: 1rem;
	height: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.75rem;
	font-weight: bold;
}

.screen-card-main-menu .close:hover {
	background-color: #999;
	color: #333;
}

.screen-card-pause-menu input,
.screen-card-pause-menu select,
.screen-card-main-menu input,
.screen-card-main-menu select {
	background: none;
	appearance: none;
	border: none;
	color: white;
}

.screen-card-pause-menu input,
.screen-card-pause-menu select {
	padding: 0.25em;
}

.screen-card-pause-menu input,
.screen-card-main-menu input {
	text-decoration: underline;
	display: inline;
	width: 8em;
}

.screen-card-main-menu ul {
	height: 7em;
	overflow: auto;
}

.screen-card-main-menu li {
	position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/*-webkit-appearance: inner-spin-button !important;*/
	-webkit-appearance: none;
	margin: 0;
}
