.screen-card.screen-card-pause-menu {
	background-color: rgba(0,0,0,0.5);
}

.screen-card.screen-card-pause-menu .menu-container {
	display: flex;
	flex-direction: column;
	margin: auto;
	/* align-items: center; */
	z-index: 3000000;
}

.screen-card.screen-card-pause-menu ul {
	padding: 0;
	/* scroll-behavior: smooth; */
	overflow-y: scroll;
	overflow-x: visible;
	max-height: calc(-40px + calc(1px * var(--height)));
}

.screen-card.screen-card-pause-menu ul::-webkit-scrollbar {
	display: none;
}

.screen-card.screen-card-pause-menu li {
	--default-color: rgba(0,0,0,0.75);
	--back-color: rgba(64,64,64,1);
	background-color: rgba(0,0,0,0.75);
	background-color: color-mix( in srgb, var(--color) 20%,rgba(0,0,0,0.75) );
	box-shadow: 0em 0.05em 0.25em rgba(255,255,255,0.25);
	backdrop-filter: blur(0px);
	border: 1px solid transparent;
	margin: 0.25em;
	text-align: center;
	list-style: none;

	display: flex;
	justify-content: center;
	align-items: center;

	min-width: 200px;
	min-height: 2em;
	margin-bottom: 0.8em;

	transition: background-color 0.8s ease-in-out, filter 0.4s ease-in-out;
}

.screen-card.screen-card-pause-menu [data-current-menu="Next 15"] li[data-title$=")"] .hud-character-string,
.screen-card.screen-card-pause-menu [data-current-menu="Traces"] li[data-title$=")"] .hud-character-string {
	margin-left: calc(10px * var(--scale));
}

.screen-card.screen-card-pause-menu li:focus,
.screen-card.screen-card-pause-menu li.focused {
	transition:
		background-color 0.1s ease-in-out, filter 0.1s ease-in-out,
		box-shadow  0.1s ease-in-out, filter 0.1s ease-in-out;
	/* font-weight: bold; */
	--default-color: rgba(255,255,255,0.125);
	background-color: rgba(255,255,255,0.125);
	background-color: color-mix( in srgb, var(--color) 25%,rgba(255,255,255,0.125) );
	backdrop-filter: blur(1.25px);
	/* border-radius: 5px; */
	border-color: white;
	/*text-shadow: 0em 0.15em 0.125em black;*/
	outline: none;
	box-shadow: inset 0rem 0rem 0.25rem #000;
}

.screen-card.screen-card-pause-menu li:focus .hud-character-string,
.screen-card.screen-card-pause-menu li.focused .hud-character-string {
	filter: drop-shadow(1px 1px 0px #000);
}

.screen-card.screen-card-pause-menu li:focus .subtext {
	text-shadow: 1px 1px 0px #000;
}

.screen-card.screen-card-pause-menu .menu-container > div {
	text-align: center;
	filter: drop-shadow(-1px 1px 1px rgba(0,0,0,0.75))
		drop-shadow(1px 1px 1px rgba(0,0,0,0.75))
		drop-shadow(0px 0px 1px rgba(0,0,0,0.75));
}

.menu-container .hidden {
	display: none;
}

.pause-menu-hide {
	opacity: 0;
	pointer-events: none !important;
}

section.pause-menu {
	z-index: 2000;
}

section.pause-menu li {
	cursor: pointer;
}

.menu-container :not(.hidden)[data-tags=inline] {
	display: flex;
	flex-direction: row;
}
