.region {
	--widthPx: calc(1px * var(--width));
	--heightPx: calc(1px * var(--height));
	--widthNx: calc(-1px * var(--width));
	--heightNx: calc(-1px * var(--height));
}

.region .sprite {
	z-index: 9000000;
}

.region.region-shade .sprite,
.region.region-lava .sprite,
.region.region-water .sprite {
	position: absolute;
	pointer-events: none;
}

.region.region-shade .sprite,
.region.region-waterfall .sprite,
.region.region-lava .sprite,
.region.region-water .sprite {

	--bottomBoundary: -1px;

	top: calc( calc(-1px * var(--height)) + max(0.00001px, var(--topBoundry)));
	bottom: calc( var(--bottomBoundary) + 1px);
	left: max(0.00001px, var(--leftBoundry));

	width: calc(var(--widthPx) - max(0px, var(--leftBoundry)));

	max-width: calc(16px + var(--viewportWidth));

	height: auto;

	background-attachment: fixed;
	z-index: 100001;
}

.region.region-shade .sprite,
.region.region-water .sprite {
	bottom: calc( var(--bottomBoundary));
	top: calc( calc( calc(-1px * var(--height)) + max(0.00001px, var(--topBoundry))) - 16px);
	/*clip-path: var(--maskImage);*/
}

.region.region-shade .region-color-wrapper,
.region.region-lava .region-color-wrapper {
	overflow: hidden;
	position: absolute;
	left:    0;
	right:   0;
	top:     -4px;
	bottom:  64px;
}

.region.region-lava .region-color,
.region.region-water .region-color {
	background-color: rgba(0,128,255,0.25);
	max-height: var(--viewportHeight);
}

.region.region-lava .sprite,
.region.region-water .sprite,
.region.region-lava .region-filter-wrapper,
.region.region-water .region-filter-wrapper,
.region.region-lava .region-color-wrapper,
.region.region-water .region-color-wrapper {
	max-height: calc(var(--viewportHeight) + 80px);
}

.region.region-lava .region-filter-wrapper {

}

.region.region-shade .region-filter-wrapper,
.region.region-water .region-filter-wrapper {
	overflow: hidden;
	position: absolute;
	left:   0;
	right:  0;
	top:    12px;
	bottom: 65px;
}

.region.region-shade .region-color,
.region.region-shade .region-filter,
.region.region-lava .region-color,
.region.region-lava .region-filter,
.region.region-water .region-color,
.region.region-water .region-filter {
	position: absolute;
	left:    0;
	right:   0;
	top:     4px;
	bottom: -64px;
}

.region.region-lava .region-color {
	top: 16px;
}

.region.exit,
.region.boss,
.region.rolling,
.region.grinding,
.region-force,
.region.corkscrew {
	display: none !important;
}
