.region.region-waterfall {
	/*filter: url(#waterBlur);*/
	z-index: 1000;
}

.region.region-waterfall .sprite:before {
	content:  ' ';
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(/Sonic/waterfall.png);
	background-position: 0 0;
	background-repeat: repeat;
	background-attachment: local;

	opacity: 0.55;

	filter: blur(0.25px);

	animation: waterfall-fall 650ms steps(4) infinite;
}

.region.region-waterfall .sprite:after {
	content: '.';
	color: transparent;
	background-image: url(Sonic/waterfall-cap.png);
	background-position: 0px 0px;
	position: absolute;

	width: 100%;

	left: 0;
	height: 16px;
	top: 0px;

	opacity: 0.65;

	/*animation:  100ms steps(1,end) infinite;
	background-position-x: 0px;
	background-position-y: 32px;*/
	animation-name: waterfall-cap-shift;
	animation-timing-function: steps(2);
	animation-iteration-count: infinite;
	animation-duration: 650ms;
	animation-direction: alternate;
	animation-delay: 0ms;
}

@keyframes waterfall-fall {
	0% {
		background-position-y: 0px;
	}
	100% {
		background-position-y: 15px;
	}
}

@keyframes waterfall-cap-shift {
	0% {
		background-position-x: 0px;
	}
	100% {
		background-position-x: 12px;
	}
}
