.region.region-water .region-color-wrapper {
	overflow: hidden;
	position: absolute;
	left:   0;
	right:  0;
	top:    14px;
	bottom: 64px;
}

.region.region-water .region-color {
	background-color: rgba(0,128,255,0.33);
}

.viewport:not(.displacement-off) .region.region-water .region-filter-wrapper {
}

.viewport:not(.displacement-off) .region.region-water .region-filter {
	backdrop-filter: invert(0);
	filter: url(#waves);
	z-index: -10000;
}

.region.region-water .sprite:after {
	content: '.';
	color: transparent;
	background-image: url(Sonic/water-surface-wave.png);
	background-position: 0px 0px;
	position: absolute;

	opacity: min(var(--height), 0.5);

	width: calc(100% + 2px);
	height: 16px;

	left: calc(-1px);
	top: 8px;

	animation-name: water-waves-frames, water-waves-flow;
	animation-timing-function: steps(3), ease-in-out;
	animation-iteration-count: infinite, infinite;
	animation-duration: 1400ms, 2800ms;
	animation-direction: normal, alternate;
	animation-delay: 0ms, 0ms;
}

@keyframes water-waves-frames {
	0% {
		background-position-y: 0px;
	}
	100% {
		background-position-y: 48px;
	}
}

@keyframes water-waves-flow {
	0% {
		background-position-x: 0px;
	}
	100% {
		background-position-x: 96px;
	}
}
