.region {
	--widthPx: calc(1px * var(--width));
	--heightPx: calc(1px * var(--height));

	width: calc( var(--widthPx));

	--widthNx: calc(-1px * var(--width));
	--heightNx: calc(-1px * var(--height));
	/*pointer-events: none;*/

	/*will-change: transform, top, left;*/
}

.region .sprite {
	z-index: 9000000;
}

.region.region-lava .sprite,
.region.region-water .sprite {
	position: absolute;
	width: calc(1px * var(--width));
	height: calc(1px * var(--height));
	pointer-events: none;
}

.region.region-lava .sprite,
.region.region-water .sprite {

	--bottomBoundary: -1px;

	top: calc( calc(-1px * var(--height)) + max(0.00001px, var(--topBoundry)));

	bottom: calc( var(--bottomBoundary) + 1px);

	left: max(0.00001px, var(--leftBoundry));

	width: min(
		calc(var(--width) * 1px)
		, calc(calc(16px * var(--scale)) + var(--viewportWidth))
		, calc(var(--widthPx) - var(--leftBoundry))
	);

	height: auto;

	background-attachment: fixed;
	z-index: 100001;
}

.region.region-water .sprite {
	bottom: calc( var(--bottomBoundary));
	top: calc( calc( calc(-1px * var(--height)) + max(0.00001px, var(--topBoundry))) - 16px);
	/*clip-path: var(--maskImage);*/
}

.region.region-water .region-color-wrapper {
	overflow: hidden;
	position: absolute;
	left:   0;
	right:  0;
	top:    14px;
	bottom: 64px;
}

.region.region-lava .region-color-wrapper {
	overflow: hidden;
	position: absolute;
	left:    0;
	right:   0;
	top:     -4px;
	bottom:  64px;
}

.region.region-lava .region-color,
.region.region-water .region-color {
	background-color: rgba(0,128,255,0.25);
	max-height: var(--viewportHeight);
}

.region.region-lava .sprite,
.region.region-water .sprite,
.region.region-lava .region-filter-wrapper,
.region.region-water .region-filter-wrapper,
.region.region-lava .region-color-wrapper,
.region.region-water .region-color-wrapper {
	max-height: calc(var(--viewportHeight) + 80px);
}

.region.region-lava .region-filter-wrapper {

}

.region.region-water .region-filter-wrapper {
	overflow: hidden;
	position: absolute;
	left:   0;
	right:  0;
	top:    12px;
	bottom: 65px;
}

.region.region-lava .region-color,
.region.region-lava .region-filter,
.region.region-water .region-color,
.region.region-water .region-filter {
	position: absolute;
	left:    0;
	right:   0;
	top:     4px;
	bottom: -64px;
}

.region.region-lava .region-color {
	top: 16px;
}

.viewport:not(.displacement-off) .region.region-water .region-filter {
	backdrop-filter: invert(0);
	filter: url(#waves);
	z-index: -10000;
	transform: translate3d(0, 0, 0);
}

.region.region-water .sprite:after {
	content: '.';
	color: transparent;
	background-image: url(Sonic/water-surface-wave.png);
	background-position: 0px 0px;
	position: absolute;

	opacity: min(var(--height), 0.5);

	width: calc(100% + 2px);

	left: calc(-1px);
	height: 16px;
	top: 8px;

	/*animation:  100ms steps(1,end) infinite;
	background-position-x: 0px;
	background-position-y: 32px;*/
	animation-name: water-waves-frames, water-waves-flow;
	animation-timing-function: steps(3), ease-in-out;
	animation-iteration-count: infinite, infinite;
	animation-duration: 1400ms, 2800ms;
	animation-direction: normal, alternate;
	animation-delay: 0ms, 0ms;
}

@keyframes water-waves-frames {
	0% {
		background-position-y: 0px;
	}
	100% {
		background-position-y: 48px;
	}
}

@keyframes water-waves-flow {
	0% {
		background-position-x: 0px;
	}
	100% {
		background-position-x: 96px;
	}
}
