.region.region-shade .hud-character-string {
	position: absolute;
	left: 50%;
	bottom: 8.75em;

	transform: translateX(-50%);

	--scale: 0.75 !important;

	filter: drop-shadow(-1px 1px 1px rgba(0,0,0,0.75))
		drop-shadow(1px 1px 1px rgba(0,0,0,0.75))
		drop-shadow(1px -1px 1px rgba(0,0,0,0.75))
		drop-shadow(-1px -1px 1px rgba(0,0,0,0.75));
}

.region.region-shade.studio .hud-character-string {
	filter: none;
}

.region.region-shade .hud-character-string:not(:empty) {
	animation-name: shade-title-flicker;
	animation-timing-function: steps(3);
	animation-iteration-count: 5;
	animation-duration: 0.151515s;
}

.region.region-shade .region-color,
.region.region-shade .region-color-wrapper,
.region.region-shade .region-filter,
.region.region-shade .region-filter-wrapper,
.region.region-shade .sprite {
	position: absolute;
	width: calc(1px * var(--width));
	height: calc(1px * var(--height));
	pointer-events: none;
	z-index: 20000;
}

.region.region-shade .region-color,
.region.region-shade .region-color-wrapper,
.region.region-shade .region-filter,
.region.region-shade .region-filter-wrapper {
	overflow: hidden;
}

.region.region-shade .region-color-wrapper,
.region.region-shade .sprite {
	top: calc(1px + calc(-1px * var(--height)));
	left: -16px;
	background-attachment: fixed;
}

.region.region-shade .region-filter {
	position: absolute;

	left:    0;
	top:     0;
	width:   calc(100% + 128px);
	height:  calc(100% + 128px);
	/*width:   calc(var(--viewportWidth));
	height:  calc(var(--viewportHeight) + 128px);*/
}

.region.region-shade.studio .sprite {
	/*opacity: 0.99999997019;*/
	/*opacity: 1;*/
	/*background-blend-mode: darken;*/
	backdrop-filter: blur(10px);
}

.region.region-shade.studio .region-color-wrapper {
	opacity: 0.5;
	background-color: rgba(255,255,255,1);
	mix-blend-mode: exclusion;
}

.region.region-shade.studio .region-filter-wrapper {
}

.region.region-shade.runners .region-color-wrapper {
	mix-blend-mode: darken;
	opacity: 0;
}

.region.region-shade.runners .region-filter {
	backdrop-filter:
		drop-shadow(1px 1px 0.125px black)
		drop-shadow(-1px 1px 0.125px black)
		drop-shadow(1px -1px 0.125px black)
		drop-shadow(-1px -1px 0.125px black)
	;
}


/*.filters-screen.runners::before {
	content: ' ';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	backdrop-filter:
		drop-shadow(1px 1px 0.125px black)
		drop-shadow(-1px 1px 0.125px black)
		drop-shadow(1px -1px 0.125px black)
		drop-shadow(-1px -1px 0.125px black)
	;
}

.filters-screen.runners::after {
	content: ' ';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	mix-blend-mode: darken;
	opacity: 0;
}
*/

.region.region-shade.western .region-filter {
	backdrop-filter: sepia(0.85) brightness(0.75) contrast(1.5);
}

.region.region-shade.hydro .region-color {
	background-color: rgba(0,128,255,0.25);
}

.viewport:not(.displacement-off) .region.region-shade.hydro .region-filter {
	backdrop-filter: blur(0.5px);
	filter: url(#waves);
}

.region.region-shade.hydro .sprite:before {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	transform: translateY(-16px);
	background: rgba(0,0,0,0);
}

.region.region-shade.hydro .sprite:after {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	background-image: url(Sonic/water-surface-wave.png);

	transform: translateY(-16px);

	opacity: 0.5;

	height: 16px;
	width: 100%;

	z-index: 10000;

	animation-name: water-waves-frames, water-waves-flow;
	animation-timing-function: steps(3), linear;
	animation-iteration-count: infinite, infinite;
	animation-duration: 1.15s, 9s;
}

.region.region-shade.heat .region-color-wrapper {
	background-color: rgba(255,255,255,0.0);
	mix-blend-mode: lighten;
}

.region.region-shade.heat .region-color {
}

.region.region-shade.heat .region-filter {
	filter: brightness(4) url(#waves) blur(0.5px) url(#waves) contrast(1.25);
	backdrop-filter:
		drop-shadow(0px -0.25px  0.5px rgba(255, 255,  32, 0.333))
		drop-shadow(0px -0.50px  0.5px  rgba(255, 64,  32, 0.25))
		drop-shadow(0px -1.25px  1.00px rgba(128, 0,   0,  0.5))
		drop-shadow(0px -1.50px  1.50px rgba(0,   0,   0,  0.5));
}

.region.region-lava,
.region.region-shade.lava {
	/*mix-blend-mode: screen;*/
	z-index: 10000;
	opacity: 0.85;
	mix-blend-mode: hard-light;
}

.region.region-lava .region-color-wrapper,
.region.region-shade.lava .region-color-wrapper {
}

.region.region-lava .region-filter {
	background-clip: content-box;
	padding-top: 16px;
	/*opacity: 0.25;*/
}

.region.region-lava .region-color,
.region.region-shade.lava .region-color {
	/*background-blend-mode: hard-light;*/
	animation: lava-ripple steps(1) infinite 1.5s, lava-flow ease-in-out infinite alternate 4.5s;
	background-image: url(Sonic/lava-1.png);
	background-color: rgba(255,192,0,1);
	opacity: 0.75;
}

.region.region-lava .region-filter,
.region.region-shade.lava .region-filter {
/*	filter: contrast(4);
	backdrop-filter:
		drop-shadow(0px -0.25px  0.5px  rgba(0, 0, 0, 1))
		drop-shadow(0px -0.50px  0.5px  rgba(0, 0, 0, 1))
		drop-shadow(0px -1.25px  1.00px rgba(0, 0, 0, 1))
		drop-shadow(0px -1.50px  1.5px  rgba(0, 0, 0, 1));*/
}

.region.region-lava .region-color-wrapper:after,
.region.region-shade.lava .region-color-wrapper:after {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	background-image: url(Sonic/lava-surface-1.png);

	height: 16px;
	width: 100%;

	opacity: 0.75;

	z-index: 10000;

	animation: lava-waves steps(1) infinite 1.5s, lava-flow ease-in-out infinite alternate 4.5s;
}

.region.region-lava .region-color-wrapper:after {
	transform: translateY(0px);
}

.region.region-shade.lava .region-color-wrapper:after {
	transform: translateY(16px);
}

.viewport.displacement-off .region.region-shade.heat .region-filter {
	filter: brightness(4) blur(1px) contrast(1.25);

	animation-name: heat-flicker;
	animation-timing-function: linear;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-duration: .5s;

	backdrop-filter:
		drop-shadow(0px -0.25px  0.5px rgba(255, 255,  32, 0.333))
		drop-shadow(0px -0.50px  0.5px  rgba(255, 64,  32, 0.25))
		drop-shadow(0px -1.25px  1.00px rgba(128, 0,   0,  0.5))
		drop-shadow(0px -1.50px  1.50px rgba(0,   0,   0,  0.5))
		opacity(0.6);
}

.region.region-shade.frost .region-filter-wrapper {
	/*background-color: rgba(255,255,255,0.0);*/
}

.region.region-shade.frost .region-color-wrapper {
	/*background-color: rgba(255,255,255,0.0);*/
	mix-blend-mode: lighten;
}

.region.region-shade.frost .region-color {
}

.region.region-shade.frost .region-filter {
	backdrop-filter:
		drop-shadow(0px -0.25px  0.5px  rgba(255, 255,  255,  0.333))
		drop-shadow(0px -0.50px  0.5px  rgba(0,   128,  255,  0.25))
		drop-shadow(0px -1.25px  1.00px rgba(0,   0,    128,  0.5))
		drop-shadow(0px -1.50px  1.50px rgba(255, 255,  255,    0.5))
		saturate(0) brightness(0.75) contrast(0.75) sepia(1) hue-rotate(180deg) saturate(1.5) brightness(1.5);
}

.region.region-shade.eight-bit .region-color-wrapper {
	mix-blend-mode: darken;
}

.region.region-shade.eight-bit .region-color {
}

.region.region-shade.eight-bit .region-filter {
	backdrop-filter: saturate(0) brightness(1.25) contrast(1.75);
	/*filter: saturate(1) brightness(1.25) contrast(3);
	backdrop-filter:
		drop-shadow(1px 1px 0.125px rgba(0,0,0,0.75))
		drop-shadow(-1px 1px 0.125px rgba(0,0,0,0.75))
		drop-shadow(1px -1px 0.125px rgba(0,0,0,0.75))
		drop-shadow(-1px -1px 0.125px rgba(0,0,0,0.75))
	;*/
}

.region.region-shade.corruption .region-color-wrapper {
	mix-blend-mode: screen;
}

.region.region-shade.corruption .region-color {
}

.region.region-shade.corruption .region-filter-wrapper {
}

.region.region-shade.corruption .region-filter {

	opacity: 1;

	filter:
		brightness(1.25)
		hue-rotate(-180deg)
		invert(1)
		brightness(1.25)
		contrast(1.75);

	backdrop-filter:
		drop-shadow(1px 1px 1px rgba(255,255,255,0.5))
		drop-shadow(0px 0px 2px rgba(0,0,0,0.75));
}

.region.region-shade.black-hole .region-filter-wrapper {
	backdrop-filter: blur(0px);
 	filter: url(#shade-pinch);
}

@keyframes shade-title-flicker {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


@keyframes heat-flicker {
	0% {
		backdrop-filter:
		drop-shadow(0px -0.25px  0.5px rgba(255, 255,  32, 0.333))
		drop-shadow(0px -0.50px  0.5px  rgba(255, 64,  32, 0.25))
		drop-shadow(0px -1.25px  1.00px rgba(128, 0,   0,  0.5))
		drop-shadow(0px -1.50px  1.50px rgba(0,   0,   0,  0.5))
		opacity(0.75);
	}
	100% {
		backdrop-filter:
		drop-shadow(0px -1.25px  0.5px rgba(255, 255,  32, 0.333))
		drop-shadow(0px -1.50px  0.5px  rgba(255, 64,  32, 0.25))
		drop-shadow(0px -2.25px  1.00px rgba(128, 0,   0,  0.5))
		drop-shadow(0px -3.50px  1.50px rgba(0,   0,   0,  0.5))
		opacity(0.85);
	}
}

@keyframes lava-waves {
	0% {
		background-image: url(Sonic/lava-surface-1.png);
	}
	33.34% {
		background-image: url(Sonic/lava-surface-2.png);
	}
	66.67% {
		background-image: url(Sonic/lava-surface-3.png);
	}
	100% {
		background-image: url(Sonic/lava-surface-1.png);
	}
}

@keyframes lava-ripple {
	/*0% {
		background-image: url(Sonic/lava-1.png);
	}
	33.34% {
		background-image: url(Sonic/lava-2.png);
	}
	66.67% {
		background-image: url(Sonic/lava-3.png);
	}
	100% {
		background-image: url(Sonic/lava-1.png);
	}*/
}


@keyframes lava-flow {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 128px 0;
	}
}
