::selection {
	background-color: #fcc203;
}

.viewport.standalone,
.viewport.fullscreen,
body {
	background-image:
		url(/ui/pokemon-ruby-sun-overlay.png)
		, url(/ui/pokemon-ruby-clouds-overlay-a.png)
		, url(/ui/pokemon-ruby-clouds-overlay-b.png)
		, url(/ui/pokemon-ruby-sky-overlay.png)
		, url(/ui/pokemon-ruby-ground.png);
	background-repeat: repeat-x, repeat-x, repeat-x, repeat-x, repeat-x;
	background-position: 0% top, 0% 63%, 0% 63%, 0% 63%, 0% bottom;
	background-size: auto 37%, auto 42%, auto 42%, auto 42%, auto 21.5%;
	background-color: #357aab;
	overflow: hidden;
}

h1 {
	font-family: early_gameboy_regular;
	font-size: 2rem;
	color: white;
	text-shadow:
		3px 3px 0px rgba(0,0,0,1)
		, 3px -3px 0px rgba(0,0,0,1)
		, -3px 3px 0px rgba(0,0,0,1)
		, -3px -3px 0px rgba(0,0,0,1)
	;
}

.sean-icon {
	background-image: url(/ui/masksean.png);
	background-repeat: no-repeat;
	background-position: 2px 1px;
	background-size: cover;
	border: 3px solid black;
	border-radius: 50%;
	margin-right: 1em;
	width: 4.5em;
	height: 4.5em;
	display: inline-block;
	box-shadow: 0 0.5em 1em rgba(0,0,0,0.5);
	background-color: white;
}
