.bubble-sheild {
	position: absolute;
	z-index: 100;
	left: -5px;
	top: 18px;
	width: 72px;
	height: 48px;
	background-image: url(/Sonic/sheild-bubble.png);
	background-position: 0 0;
	animation: bubble-sheild-flicker 0.5s steps(2) infinite,
		sheild-flip calc(0.5s * 2) infinite;
}


[data-animation=jumping] .bubble-sheild.bouncing {
	background-position: -216px 0;
	animation: bubble-sheild-bounce 50ms steps(3) 1;
}

.bubble-sheild:not(.bouncing) .bubble-sheild-shine {
	background-image: url(/Sonic/bubble-sheild-shine.png);
	position: absolute;
	z-index: 100;
	top: 0;
	left: 12px;
	width: 48px;
	height: 48px;
	background-position: -48px 0;
	animation: water-sheild-rotate 0.5s steps(9) infinite;
}

.electric-sheild {
	position: absolute;
	z-index: 100;
	left: 6px;
	top: 18px;
	width: 48px;
	height: 48px;
	background-image: url(/Sonic/sheild-electric.png);
	background-position: calc(-48px * 3) 0;
	animation:
		electric-sheild-rotate 300ms steps(8) infinite alternate forwards,
		sheild-flip calc(600ms) infinite;
}

.electric-sheild.boosted {
	animation:
		electric-sheild-flash 0.20s steps(3) infinite forwards,
		sheild-flip 0.45s infinite;
}

.fire-sheild {
	position: absolute;
	z-index: 100;
	left: 7px;
	top: 18px;
	width: 48px;
	height: 48px;
	background-image: url(/Sonic/sheild-fire.png);
	background-position: calc(-48px * 0) 0;
	animation: fire-sheild-rotate 0.5s steps(19) infinite;
}

.fire-sheild.boosted {
	position: absolute;
	z-index: 100;
	left: -16px;
	top: 18px;
	width: 64px;
	height: 48px;
	background-image: url(/Sonic/shield-fire-boost.png);
	background-position: calc(-48px * 0) 0;
	animation: fire-sheild-flash 50ms steps(3) infinite, sheild-flip 0.1s infinite;
	transform: scale(-1, -1) rotate(calc(calc(1rad * var(--air-angle)) + 180deg));
}

[data-facing=left] .fire-sheild.boosted {
	transform: rotate(calc(calc(-1rad * var(--air-angle)) + 180deg));
}

.actor-sonic[data-animation=wall-stick] .bubble-sheild {
	top: 32px;
	left: -1px;
}

.actor-sonic[data-animation=wall-stick] .electric-sheild,
.actor-sonic[data-animation=wall-stick] .fire-sheild {
	top: 32px;
	left: 10px;
}

.actor-knuckles[data-animation=climbing] .fire-sheild,
.actor-knuckles[data-animation=climbing-up] .fire-sheild,
.actor-knuckles[data-animation=climbing-down] .fire-sheild,
.actor-knuckles[data-animation=flying] .fire-sheild {
	top: 26px;
	left: 10px;
}

[data-animation=rolling] .fire-sheild,
[data-animation=jumping] .fire-sheild {
	left: 8px;
	top: 24px;
}

[data-animation=rolling] .fire-sheild.boosted,
[data-animation=jumping] .fire-sheild.boosted {
	left: -16px;
	top: 24px;
}

[data-animation=rolling] .electric-sheild,
[data-animation=jumping] .electric-sheild {
	left: 7px;
	top: 24px;
}

[data-animation=lightdash] .electric-sheild,
[data-animation=lightdash-back] .electric-sheild ,
[data-animation=airdash] .electric-sheild {
	left: 6px;
	top: 10px;
}
[data-animation=lightdash] .fire-sheild.boosted,
[data-animation=lightdash-back] .fire-sheild.boosted,
[data-animation=airdash] .fire-sheild.boosted {
	left: -12px;
	top: 10px;
}

.actor-knuckles[data-animation=climbing] .bubble-sheild,
.actor-knuckles[data-animation=climbing-up] .bubble-sheild,
.actor-knuckles[data-animation=climbing-down] .bubble-sheild,
.actor-knuckles[data-animation=flying] .bubble-sheild {
	left: -2px;
	top: 26px;
}

.actor-knuckles[data-animation=climbing] .electric-sheild,
.actor-knuckles[data-animation=climbing-up] .electric-sheild,
.actor-knuckles[data-animation=climbing-down] .electric-sheild,
.actor-knuckles[data-animation=flying] .electric-sheild {
	left: 10px;
	top: 26px;
}

[data-animation=rolling] .bubble-sheild,
[data-animation=jumping] .bubble-sheild {
	left: -4px;
	top: 24px;
}

[data-animation=lightdash-back] .bubble-sheild,
[data-animation=lightdash] .bubble-sheild,
[data-animation=airdash] .bubble-sheild {
	left: -6px;
	top: 10px;
}

.actor-chalmers .electric-sheild,
.actor-chalmers .bubble-sheild,
.actor-chalmers .fire-sheild,
.actor-seymour .electric-sheild,
.actor-seymour .bubble-sheild,
.actor-seymour .fire-sheild,
.actor-eggrobo .electric-sheild,
.actor-eggrobo .bubble-sheild,
.actor-eggrobo .fire-sheild,
.actor-eggman .electric-sheild,
.actor-eggman .bubble-sheild,
.actor-eggman .fire-sheild,
.actor-mecha-sonic .electric-sheild,
.actor-mecha-sonic .bubble-sheild,
.actor-mecha-sonic .fire-sheild {
	transform: scale(1.5) translate(4px, -4px);
}

.actor-mecha-sonic[data-animation=jumping] .electric-sheild,
.actor-mecha-sonic[data-animation=jumping] .bubble-sheild,
.actor-mecha-sonic[data-animation=jumping] .fire-sheild,
.actor-mecha-sonic[data-animation=rolling] .electric-sheild,
.actor-mecha-sonic[data-animation=rolling] .bubble-sheild,
.actor-mecha-sonic[data-animation=rolling] .fire-sheild {
	transform: scale(1.5) translate(-0px, -2px);
}

@keyframes electric-sheild-rotate {
	from{
		background-position: calc(-48px * 3) 0;
	}
	to{
		background-position: calc(-48px * 11) 0;
	}
}

@keyframes electric-sheild-flash {
	from{
		background-position: calc(-48px * 0) 0;
	}
	to{
		background-position: calc(-48px * 3) 0;
	}
}

@keyframes fire-sheild-flash {
	from{
		background-position: calc(-48px * 0) 0;
	}
	to{
		background-position: calc(-64px * 3) 0;
	}
}

@keyframes sheild-flip {
	from{
		z-index: -0;
	}
	to{
		z-index: 2;
	}
}

@keyframes fire-sheild-rotate {
	from{
		z-index: -100;
		background-position: calc(-48px * 0) 0;
	}
	to{
		z-index: 100;
		background-position: calc(-48px * 19) 0;
	}
}

@keyframes water-sheild-rotate {
	from{
		z-index: -100;
		background-position: calc(-48px * 0) 0;
	}
	to{
		z-index: 100;
		background-position: calc(-48px * 9) 0;
	}
}

@keyframes bubble-sheild-flicker {
	from{
		background-position: 0 0;
	}
	to{
		background-position: -144px 0;
	}
}


@keyframes bubble-sheild-bounce {
	from{
		background-position: 0 0;
	}
	to{
		background-position: -216px 0;
	}
}
