.screen-card-gamepad-config-card {
	background-color: #666 !important;
}

.screen-card-gamepad-config-card span {
	display: contents;
}

.screen-card-gamepad-config-card svg {
	width: 100%;
	height: 100%;
}

.screen-card-gamepad-config-card .buttons {
	position: absolute;
	bottom: 3rem;
}

.screen-card-gamepad-config-card.input-gc {
	--dpad-travel:    8px;
	--stick-travel:   56px;
	--bumper-travel:  16px;
	--trigger-travel: 32px;
}

.screen-card-gamepad-config-card.input-xb {
	--dpad-travel:    4px;
	--stick-travel:   12px;
	--bumper-travel:  4px;
	--trigger-travel: 8px;
}

.screen-card-gamepad-config-card.input-ps {
	--dpad-travel:    4px;
	--stick-travel:   8px;
	--bumper-travel:  2px;
	--trigger-travel: 8px;
}

[data-button~="button-0"] {
	filter: brightness(calc(1 + calc(-0.2 * var(--pressed-0, 0))));
	r: calc(9 + calc(-0.5 * var(--pressed0, 0)));
}

[data-button~="button-1"] {
	filter: brightness(calc(1 + calc(-0.2 * var(--pressed-1, 0))));
	r: calc(9 + calc(-0.5 * var(--pressed0, 0)));
}

[data-button~="button-2"] {
	filter: brightness(calc(1 + calc(-0.2 * var(--pressed-2, 0))));
	r: calc(9 + calc(-0.5 * var(--pressed0, 0)));
}

[data-button~="button-3"] {
	filter: brightness(calc(1 + calc(-0.2 * var(--pressed-3, 0))));
	r: calc(9 + calc(-0.5 * var(--pressed0, 0)));
}

[data-button~="button-4"] {
	filter: brightness(calc(1 + calc(-0.2 * var(--pressed-4, 0))));
	transform: translateY( calc(var(--bumper-travel) * var(--pressed-4, 0)) );
}

[data-button~="button-5"] {
	filter: brightness(calc(1 + calc(-0.2 * var(--pressed-5, 0))));
	transform: translateY( calc(var(--bumper-travel) * var(--pressed-5, 0)) );
}

[data-button~="button-6"] {
	filter: brightness(calc(1 + calc(-0.2 * var(--pressed-6, 0))));
	transform: translateY( calc(var(--trigger-travel) * var(--pressed-6, 0)) );
}

[data-button~="button-7"] {
	filter: brightness(calc(1 + calc(-0.2 * var(--pressed-7, 0))));
	transform: translateY( calc(var(--trigger-travel) * var(--pressed-7, 0)) );
}

[data-button~="button-8"] {
	filter: brightness(calc(1 + calc(-0.2 * var(--pressed-8, 0))));
	transform: translateY( calc(1px * var(--pressed-8, 0)) );
}

[data-button~="button-9"] {
	filter: brightness(calc(1 + calc(-0.2 * var(--pressed-9, 0))));
	transform: translateY( calc(1px * var(--pressed-9, 0)) );
}

[data-button~="button-10"] {
	filter: brightness(calc(1 + calc(-0.2 * var(--pressed-10, 0))));
	transform:
		translateY( calc(1px * var(--pressed-10, 0)) )
		translate(calc(var(--stick-travel) * var(--x, 0)), calc(var(--stick-travel) * var(--y, 0)));
}

[data-button~="button-11"] {
	filter: brightness(calc(1 + calc(-0.2 * var(--pressed-11, 0))));
	transform:
		translateY( calc(1px * var(--pressed-11, 0)) )
		translate(calc(var(--stick-travel) * var(--a, 0)), calc(var(--stick-travel) * var(--b, 0)));
}


[data-button~="dpad-0"] {
	transform: translate(
		calc( calc(calc(-1 * var(--dpad-travel)) * var(--pressed-14, 0)) + calc(var(--dpad-travel) * var(--pressed-15, 0)) ),
		calc( calc(calc(-1 * var(--dpad-travel)) * var(--pressed-12, 0)) + calc(var(--dpad-travel) * var(--pressed-13, 0)) )
	);
}

[data-button~="button-12"] {
	filter: brightness(calc(1 + calc(-0.2 * var(--pressed-12, 0))));
	transform: translateY( calc(1px * var(--pressed-12, 0)) );
}

[data-button~="button-13"] {
	filter: brightness(calc(1 + calc(-0.2 * var(--pressed-13, 0))));
	transform: translateY( calc(1px * var(--pressed-13, 0)) );
}

[data-button~="button-14"] {
	filter: brightness(calc(1 + calc(-0.2 * var(--pressed-14, 0))));
	transform: translateY( calc(1px * var(--pressed-14, 0)) );
}

[data-button~="button-15"] {
	filter: brightness(calc(1 + calc(-0.2 * var(--pressed-15, 0))));
	transform: translateY( calc(1px * var(--pressed-15, 0)) );
}

[data-button~="button-16"] {
	filter: brightness(calc(1 + calc(-0.2 * var(--pressed-16, 0))));
	transform: translateY( calc(0.5px * var(--pressed-16, 0)) );
}
