.gamepad-config {
	background-color: #666 !important;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.gamepad-config > span {
	display: contents;
}

.gamepad-config svg {
	width: 100%;
	height: 100%;
}

.gamepad-config .buttons {
	position: absolute;
	bottom: 3rem;
}

.gamepad-config.input-gc {
	--dpad-travel:    8px;
	--stick-travel:   56px;
	--bumper-travel:  16px;
	--trigger-travel: 32px;
	--button-travel:  4px;
}

.gamepad-config.input-xb {
	--dpad-travel:    4px;
	--stick-travel:   12px;
	--bumper-travel:  4px;
	--trigger-travel: 8px;
	--button-size:    9;
	--button-travel:  0.5px;
}

.gamepad-config.input-ps {
	--dpad-travel:    4px;
	--stick-travel:   8px;
	--bumper-travel:  2px;
	--trigger-travel: 8px;
	--button-travel:  0.25px;
}

.gamepad-config.input-dc {
	--dpad-travel:    1.5px;
	--stick-travel:   8px;
	--bumper-travel:  2px;
	--trigger-travel: 8px;
	--button-travel:  0.75px;
}

[data-button~="button-0"] {  --pressed: var(--pressed-0); }
[data-button~="button-1"] {	 --pressed: var(--pressed-1); }
[data-button~="button-2"] {  --pressed: var(--pressed-2); }
[data-button~="button-3"] {	 --pressed: var(--pressed-3); }
[data-button~="button-4"] {	 --pressed: var(--pressed-4); }
[data-button~="button-5"] {  --pressed: var(--pressed-5); }
[data-button~="button-6"] {  --pressed: var(--pressed-6); }
[data-button~="button-7"] {  --pressed: var(--pressed-7); }

[data-button~="button-8"] {  --pressed: var(--pressed-8); }
[data-button~="button-9"] {  --pressed: var(--pressed-9); }
[data-button~="button-10"] { --pressed: var(--pressed-10); }
[data-button~="button-11"] { --pressed: var(--pressed-11); }
[data-button~="button-12"] { --pressed: var(--pressed-12); }
[data-button~="button-13"] { --pressed: var(--pressed-13); }
[data-button~="button-14"] { --pressed: var(--pressed-14); }
[data-button~="button-15"] { --pressed: var(--pressed-15); }

[data-button~="button-16"] { --pressed: var(--pressed-16); }

[data-button~="button-0"],
[data-button~="button-1"],
[data-button~="button-2"],
[data-button~="button-3"],
[data-button~="button-4"],
[data-button~="button-5"],
[data-button~="button-6"],
[data-button~="button-7"],
[data-button~="button-8"],
[data-button~="button-9"],
[data-button~="button-10"],
[data-button~="button-11"],
[data-button~="button-12"],
[data-button~="button-13"],
[data-button~="button-14"],
[data-button~="button-15"],
[data-button~="button-16"] {
	filter: brightness(calc(1 + calc(-0.4 * var(--pressed, 0))));
}

[data-button~="button-0"],
[data-button~="button-1"],
[data-button~="button-2"],
[data-button~="button-3"] {
	transform: translateY( calc(var(--button-travel) * var(--pressed, 0)) );
}

[data-button~="button-4"],
[data-button~="button-5"] {
	transform: translateY( calc(var(--bumper-travel) * var(--pressed, 0)) );
}

[data-button~="button-6"],
[data-button~="button-7"] {
	transform: translateY( calc(var(--trigger-travel) * var(--pressed, 0)) );
}

[data-button~="button-8"] {
	transform: translateY( calc(1px * var(--pressed, 0)) );
}

[data-button~="button-9"] {
	transform: translateY( calc(1px * var(--pressed, 0)) );
}

[data-button~="button-10"] {
	transform:
		translateY( calc(1px * var(--pressed, 0)) )
		translate(calc(var(--stick-travel) * var(--x, 0)), calc(var(--stick-travel) * var(--y, 0)));
}

[data-button~="button-11"] {
	transform:
		translateY( calc(1px * var(--pressed, 0)) )
		translate(calc(var(--stick-travel) * var(--a, 0)), calc(var(--stick-travel) * var(--b, 0)));
}


[data-button~="dpad-0"] {
	transform: translate(
		calc( calc(calc(-1 * var(--dpad-travel)) * var(--pressed-14, 0)) + calc(var(--dpad-travel) * var(--pressed-15, 0)) ),
		calc( calc(calc(-1 * var(--dpad-travel)) * var(--pressed-12, 0)) + calc(var(--dpad-travel) * var(--pressed-13, 0)) )
	);
}

[data-button~="button-12"],
[data-button~="button-13"],
[data-button~="button-14"],
[data-button~="button-15"] {
	transform: translateY( calc(var(--button-travel) * var(--pressed, 0)) );
}

[data-button~="button-16"] {
	transform: translateY( calc(var(--button-travel) * var(--pressed, 0)) );
}

.gamepad-config > div {
	color:black;
	text-align: center;
	position: absolute;
	bottom:2.5rem;
	left:0;
	right:0;
}

.gamepad-config.input-kb > span {
	margin:auto;
	width: 33%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding-top: 1.25rem;
}

.gamepad-config.input-kb {
	background-color: #333 !important;
}

.gamepad-config.input-kb div {
	bottom: 1.75rem;
	color: white;
}

.gamepad-config.input-kb .hud-character-string {
	margin-bottom: 0.2rem
}

.gamepad-config .start path { opacity: calc(0.5  + var(--pressed-9)) !important; }
.gamepad-config .a path     { opacity: calc(0.5  + var(--pressed-0)) !important; }
.gamepad-config .b path     { opacity: calc(0.5  + var(--pressed-1)) !important; }
.gamepad-config .x path     { opacity: calc(0.5  + var(--pressed-2)) !important; }
.gamepad-config .y path     { opacity: calc(0.5  + var(--pressed-3)) !important; }
.gamepad-config .l1 path    { opacity: calc(0.5  + var(--pressed-4)) !important; }
.gamepad-config .r1 path    { opacity: calc(0.5  + var(--pressed-5)) !important; }

.gamepad-config tspan.start { font-weight: calc(400 + calc(var(--pressed-9) * 400)) !important; }
.gamepad-config tspan.a     { font-weight: calc(400 + calc(var(--pressed-0) * 400)) !important; }
.gamepad-config tspan.b     { font-weight: calc(400 + calc(var(--pressed-1) * 400)) !important; }
.gamepad-config tspan.x     { font-weight: calc(400 + calc(var(--pressed-2) * 400)) !important; }
.gamepad-config tspan.y     { font-weight: calc(400 + calc(var(--pressed-3) * 400)) !important; }
.gamepad-config tspan.l1    { font-weight: calc(400 + calc(var(--pressed-4) * 400)) !important; }
.gamepad-config tspan.r1    { font-weight: calc(400 + calc(var(--pressed-5) * 400)) !important; }
