.input-xbox .hud-character[data-value="9913"]{
	background-image: url(/ui/xbox-dpad.svg) !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 1.5em;
	height: 1.25em;
	transform: translateY(2px);
}

.input-xbox .hud-character[data-value="9374"]{
	background-image: url(/ui/xbox-button-a.svg) !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 1.1em;
	height: 1.25em;
	transform: translateY(2px);
}

.input-xbox .hud-character[data-value="10005"]{
	background-image: url(/ui/xbox-button-b.svg) !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 1.1em;
	height: 1.25em;
	transform: translateY(2px);
}

.input-xbox .hud-character[data-value="10006"]{
	background-image: url(/ui/xbox-button-x.svg) !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 1.1em;
	height: 1.25em;
	transform: translateY(2px);
}

.input-xbox .hud-character[data-value="10007"]{
	background-image: url(/ui/xbox-button-y.svg) !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 1.1em;
	height: 1.25em;
	transform: translateY(2px);
}

.input-xbox .hud-character[data-value="10008"]{
	background-image: url(/ui/xbox-button-lb.svg) !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 1.5em;
	height: 1.25em;
	transform: translateY(2px);
}

.input-xbox .hud-character[data-value="10009"]{
	background-image: url(/ui/xbox-button-rb.svg) !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 1.5em;
	height: 1.25em;
	transform: translateY(2px);
}

.input-xbox .hud-character[data-value="10010"]{
	background-image: url(/ui/xbox-button-lt.svg) !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 1.1em;
	height: 1.25em;
	transform: translateY(2px);
}

.input-xbox .hud-character[data-value="10011"]{
	background-image: url(/ui/xbox-button-rt.svg) !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 1.1em;
	height: 1.25em;
	transform: translateY(2px);
}

.input-xbox .hud-character[data-value="10012"]{
	background-image: url(/ui/xbox-button-back.svg) !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 1.5em;
	height: 1.25em;
	transform: translateY(2px);
}

.input-xbox .hud-character[data-value="10013"]{
	background-image: url(/ui/xbox-button-start.svg) !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 1.5em;
	height: 1.25em;
	transform: translateY(2px);
}

.input-xbox .hud-character[data-value="10014"]{
	background-image: url(/ui/xbox-button-lsb.svg) !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 1.5em;
	height: 1.25em;
	transform: translateY(2px);
}

.input-xbox .hud-character[data-value="9354"]{
	background-image: url(/ui/xbox-button-rsb.svg) !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 1.5em;
	height: 1.25em;
	transform: translateY(2px);
}


.input-xbox .hud-character[data-value="8495"]{
	background-image: url(/ui/xbox-button-left.svg) !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 1.5em;
	height: 1.25em;
	transform: translateY(2px);
}


.input-xbox .hud-character[data-value="8497"]{
	background-image: url(/ui/xbox-button-right.svg) !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 1.5em;
	height: 1.25em;
	transform: translateY(2px);
}


.input-xbox .hud-character[data-value="8496"]{
	background-image: url(/ui/xbox-button-up.svg) !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 1.5em;
	height: 1.25em;
	transform: translateY(2px);
}

.input-xbox .hud-character[data-value="8498"]{
	background-image: url(/ui/xbox-button-down.svg) !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 1.5em;
	height: 1.25em;
	transform: translateY(2px);
}

.input-xbox .hud-character[data-value="10961"]{
	background-image: url(/ui/xbox-button-ls.svg) !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 1.5em;
	height: 1.25em;
	transform: translateY(2px);
}

.input-xbox .hud-character[data-value="55261"] +
.hud-character[data-value="56327"]{
	background-image: url(/ui/xbox-button-ls-left.svg) !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 1.5em;
	height: 1.25em;
	transform: translateY(2px);
}

.input-xbox .hud-character[data-value="55261"] +
.hud-character[data-value="56329"]{
	background-image: url(/ui/xbox-button-ls-right.svg) !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 1.5em;
	height: 1.25em;
	transform: translateY(2px);
}

.input-xbox .hud-character[data-value="55261"] +
.hud-character[data-value="56328"]{
	background-image: url(/ui/xbox-button-ls-up.svg) !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 1.5em;
	height: 1.25em;
	transform: translateY(2px);
}

.input-xbox .hud-character[data-value="55261"] +
.hud-character[data-value="56330"]{
	background-image: url(/ui/xbox-button-ls-down.svg) !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 1.5em;
	height: 1.25em;
	transform: translateY(2px);
}

.input-xbox .hud-character[data-value="9541"],
.input-xbox .hud-character[data-value="10131"]{
	background-image: url(/ui/xbox-button-rs.svg) !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 1.5em;
	height: 1.25em;
	transform: translateY(2px);
}

.input-xbox .hud-character[data-value="55261"] +
.hud-character[data-value="56335"],
.input-xbox .hud-character[data-value="55261"] +
.hud-character[data-value="56319"]{
	background-image: url(/ui/xbox-button-rs-left.svg) !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 1.5em;
	height: 1.25em;
	transform: translateY(2px);
}

.input-xbox .hud-character[data-value="55261"] +
.hud-character[data-value="56337"],
.input-xbox .hud-character[data-value="55261"] +
.hud-character[data-value="56321"]{
	background-image: url(/ui/xbox-button-rs-right.svg) !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 1.5em;
	height: 1.25em;
	transform: translateY(2px);
}

.input-xbox .hud-character[data-value="55261"] +
.hud-character[data-value="56336"],
.input-xbox .hud-character[data-value="55261"] +
.hud-character[data-value="56320"]{
	background-image: url(/ui/xbox-button-rs-up.svg) !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 1.5em;
	height: 1.25em;
	transform: translateY(2px);
}


.input-xbox .hud-character[data-value="55261"] +
.hud-character[data-value="56338"],
.input-xbox .hud-character[data-value="55261"] +
.hud-character[data-value="56322"]{
	background-image: url(/ui/xbox-button-rs-down.svg) !important;
	background-position: 50% 50% !important;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 1.5em;
	height: 1.25em;
	transform: translateY(2px);
}

