.hud-frame {
	position: absolute;
	top: 5px;
	left: 5px;
	background-image: url(/Sonic/ring-hud.png);
	background-repeat: no-repeat;
	width: 79px;
	height: 25px;
	transform: scale(2);
	transform-origin: top left;
}

.hud-value {
	position: absolute;;
	top: 5px;
	left: 24px;
	width: 50px;
	padding-left: 2px;
	padding-top: 1px;
	box-sizing: border-box;
	background-color: rgba(0,0,0,0.25);
	text-align: right;
}
