.hud-character-string {
	--scale: 1;
	--xyz: calc(-14px * var(--scale));

}

.hud-character {
	display: inline-block;
	image-rendering: pixelated;
	background-size: auto calc(30px * var(--scale));
	background-image: url(/Sonic/font.png);
	background-position: calc(calc(-10px * var(--scale)) * var(--value)) 0;
	height: calc(12px * var(--scale));
	width: calc(8px * var(--scale));
	font-size: calc(13px * var(--scale));
	color: rgba(0,0,0,0);
}


.hud-character-string.red .hud-character {
	animation: redalert 0.25s steps(2) infinite;
	background-image: url(/Sonic/font-red.png);
}


.hud-character-string.yellow .hud-character {
	background-image: url(/Sonic/font-yellow.png);
}


.hud-character-string.orange .hud-character {
	background-image: url(/Sonic/font-orange.png);
}

.hud-character[data-type="letter"] {
	background-position: calc(calc(-10px * var(--scale)) * var(--value)) calc(-16px * var(--scale));
}

.hud-character[data-type="letter"][data-value="8"] {
	width: calc(6px * var(--scale));
}

.hud-character[data-type="letter"][data-value="11"] {
	width: calc(6px * var(--scale));
}


@-webkit-keyframes redalert{
	from{
		background-image: url(/Sonic/font-red.png);
		transform: scale(1.25);
	}
	to{
		background-image: url(/Sonic/font.png);
	}
}
