.hud-character-string {
	--scale: 1;
	--xyz: calc(-14px * var(--scale));
	display: inline;
	vertical-align: middle;
	/*contain: strict;*/
	margin-left: 2px;
	margin-right: 1px;
}

.hud-character {
	display: inline-block;
	image-rendering: pixelated;
	background-size: auto calc(48px * var(--scale));
	background-image: url(/Sonic/font.png);
	background-position: calc(calc(-10px * var(--scale)) * var(--value)) 0;
	background-repeat: no-repeat;
	height: calc(12px * var(--scale));
	width: calc(9px * var(--scale));
	margin-left: -1px;
	margin-bottom: -2px;
	font-size: calc(12px * var(--scale));
	overflow: hidden;
	color: rgba(0,0,0,0);
}

.small-menu-font .hud-character,
li .small-menu-font .hud-character {
	background-image: url(/Sonic/small-menu-font-shadow.png);
	/*background-image: url(/Sonic/small-menu-font-italic.png);*/
	height: 0.5rem;
	margin-bottom: 0rem;
}

li.focused .small-menu-font .hud-character,
li:focus .small-menu-font .hud-character {
	background-image: url(/Sonic/small-menu-font-yellow-shadow.png);
	/*background-image: url(/Sonic/small-menu-font-yellow-italic.png);*/
}

li.unavailable .small-menu-font .hud-character {
	background-image: url(/Sonic/small-menu-font-grey.png);
	/*background-image: url(/Sonic/small-menu-font-italic-grey.png);*/
}

li:focus.unavailable .small-menu-font .hud-character,
li.focused.unavailable .small-menu-font .hud-character {
	background-image: url(/Sonic/small-menu-font-yellow-dim.png);
	/*background-image: url(/Sonic/small-menu-font-italic-red-dim.png);*/
}

.dialog-frame.red-alert .hud-character,
.hud-character-string.red-alert .hud-character {
	animation: redalert 450ms steps(2) infinite;
	background-image: url(/Sonic/font-red.png);
}

.dialog-frame.red .hud-character,
.hud-character-string.red .hud-character {
	background-image: url(/Sonic/font-red.png);
}

.dialog-frame.yellow .hud-character,
.hud-character-string.yellow .hud-character {
	background-image: url(/Sonic/font-yellow.png);
}

.dialog-frame.orange .hud-character,
.hud-character-string.orange .hud-character {
	background-image: url(/Sonic/font-orange.png);
}

.hud-character-string.green .hud-character {
	background-image: url(/Sonic/font-green.png);
}

.hud-character[data-type="letter"] {
	background-position: calc(calc(-10px * var(--scale)) * var(--value)) calc(-16px * var(--scale));
}

.hud-character[data-type="symbol2"] {
	background-position: calc(calc(-10px * var(--scale)) * var(--value)) calc(-32px * var(--scale));
}

.hud-character[data-type="number"][data-value="17"],
.hud-character[data-type="number"][data-value="19"],
.hud-character[data-type="number"][data-value="18"] {
	margin-right:3px;
}

.hud-character[data-type="letter"][data-value="8"] {
	width: calc(6px * var(--scale));
}

.hud-character[data-type="letter"][data-value="11"] {
	width: calc(6px * var(--scale));
}

@keyframes redalert {
	from{
		background-image: url(/Sonic/font-red.png);
	}
	to{
		background-image: url(/Sonic/font.png);
	}
}
