.hud-top-left {
	position: absolute;
	top: 5px;
	left: 5px;
	display: flex;
	flex-direction: column;
	/*transform: scale(calc(var(--scale) / 2));*/
	transform-origin: top left;
	justify-content: flex-start;
}

.hud-top-right {
	position: absolute;
	top: 5px;
	right: 5px;
	display: flex;
	flex-direction: column;
	/*transform: scale(calc(var(--scale) / 2));*/
	transform-origin: top left;
	justify-content: flex-start;
}

.hud-bottom-right {
	position: absolute;
	bottom: 5px;
	right: 5px;
	display: flex;
	flex-direction: column;
	transform-origin: top left;
	justify-content: flex-start;
}

.hud-top-left > :empty {
	display: none;
}

.hud-frame {
	width: 79px;
	height: 25px;
	position: relative;
}

.hud-frame:before {
	background-image: url(/Sonic/hud-frame.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	content: ' ';
	z-index: 1;
}

.ring-frame:before {
	background-image: url(/Sonic/ring-hud.png);
}

.coin-frame:before {
	background-image: url(/custom/coin-hud.png);
}

.emerald-frame:before {
	background-image: url(/custom/emerald-hud.png);
}

.hud-value {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 69px;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	box-sizing: border-box;
	background-color: rgba(0,0,0,0.5);
	text-align: right;
}

.ring-frame .hud-value {
	width: 50px;
	left: 24px;
}

.timer {
}


.viewport .hud {
	position: absolute;
	z-index: 0;
}

.viewport .hud-dark {
	padding: 6px;
	padding-left: 6px;
	border-radius: 3px;
	background-color: rgba(0,0,0,0.5);
	pointer-events: initial;
}

.viewport .hud table {
	border-spacing: 0;
	border-collapse: collapse;
	font-family: 'early_gameboy_regular'
}

.viewport .hud tr > td {
	padding: 0;
	margin: 0;
}

.viewport .hud tr > td > * {
	vertical-align: middle;
	margin-top: -3px;
}

.viewport .hud tr > td:nth-child(2) {
	margin: 0;
	text-align: right;
}

.status-message .hud-character {
	background-color: rgb(0,0,0,0.5);
	animation: sine 1.5s ease-in-out infinite;
	animation-delay: calc(var(--time) * calc( var(--index) - var(--length) ));
}
.status-message .hud-character-string {
	transition: opacity 0.333s 0.5s ease-in;
	opacity: 1;
}

.status-message .hud-character-string.hide {
	opacity: 0;
}

@keyframes sine {
	0%,100% {transform: translateY( var(--distance) );}
	25% {transform: translateY( calc(-1 * var(--distance)) );}
	50% {transform: translateY( var(--distance) );}
	75% {transform: translateY( calc(-1 * var(--distance)) );}
}
