.hud {
	/*image-rendering: pixelated;*/
	opacity: 0;
}

.viewport-frame.level .hud {
	opacity: 1;
	z-index: 1000;
}

.hud-centered-raised:empty,
.hud-centered:empty {
	display: none;
}

.hud-centered-raised,
.hud-centered {
	top: 50%;
	left:  50%;
	transform: translate(-50%, -50%) !important;
	min-width: 20em;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	transform-origin: top left;
}

.hud-centered-raised {
	top:  25%;
	width: 30em;
}

.hud .centered {
	display: flex;
	justify-content: center;
}

.hud-top-left {
	transform-origin: top left;
	display: block;
	position: absolute;
	top: 4px;
	left: 4px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.hud-top-right {
	transform-origin: top right;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 4px;
	right: 4px;
}

.hud-top-right.hud-table {
	top: 32px;
}

.hud-top-right.hud-table:empty {
	display: none;
}

.emerald-hud {
	margin-right: 3px;
	padding-top: 2px;
	margin-top: 0px;
	display: flex;
	flex-direction: row-reverse;
}

.emblem-hud {
	padding-right: 1px;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	max-width: 5rem;
	margin-top: 3px;
}

.emblem-hud img {
	/* transform: rotateY(0deg) scale(1); */
	padding: 1.5px;
	transform-origin: 53% 50%;
	perspective: 10000px;
}

.emblem-hud img:last-child:not(.existing) {
	animation: emblem-spin 2s ease-out 1, emblem-flicker 0.125s ease-in-out 14 backwards;
}

@keyframes emblem-spin {
	0% {
		transform: rotateY(calc(360deg * 7)) scale(2.5);
	}
	100% {
		transform: rotateY(0deg) scale(1);
	}
}

@keyframes emblem-flicker {
	0% { filter: brightness(0.125); }
	50% { filter: brightness(1); }
	100% { filter: brightness(5); }
}

.emerald-hud img {
	width: 5px;
	height: 5px;
	padding: 2.5px 2.75px;
}

.hud-bottom-right {
	display: block;
	position: absolute;
	bottom:12px;
	right: 2px;
	display: flex;
	flex-direction: column;
	transform-origin: bottom right;
	justify-content: flex-start;
}

.hud-bottom-left {
	/*display: none;*/
	position: absolute;
	bottom: 5px;
	left: 5px;
	height: 36px;
	overflow: hidden;
	transform-origin: bottom left;
	justify-content: flex-start;
	padding-left: 48px !important;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/*filter: brightness(0);*/
	border-top-left-radius: 19px !important;
	border-bottom-left-radius: 18px !important;
	/*transform: translateX(-120%) !important;*/
	/*transition: transform 0.5s ease-in, filter 0.75s 0.25s ease-in;*/
	transition: transform 750ms ease-out, filter 0.5s ease-in;
	/*transition: transform 750ms ease-in, filter 0.5s ease-in;*/
	/*display: none;*/
}

.hud-bottom-left:empty {
	display: none;
}

.hud-bottom-left[data-extra^="https://www.newgrounds.com/"] .hud-character-string:not(:first-child)::after {
	background-image: url('/ng_tank.svg'), url('/ng_beams.png');
	background-size: contain, cover;
	background-repeat: no-repeat;
	background-color: rgba(255, 181, 14, 0.75);
	background-position: center, center bottom;
	width: 22px;
	height: 22px;
	border-radius: 10%;
	margin-left: 0.5rem;
	position: relative;
	top: -1px;
	display: inline-block;
	/* filter: invert(1); */
	content: ' ';
}

.hud-bottom-left[data-extra]:not([data-extra=""]) {
	cursor: pointer;
}

.hide-now-playing .hud-bottom-left {
	transition: transform 750ms 250ms ease-in, filter 0.5s ease-in;
	transform: translateX(-120%) !important;
}

.hidden-now-playing .hud-bottom-left {
	display: none;
}

.hide-now-playing .hud-bottom-left::before {
	background-color: rgba(255,255,0,1);
	transition: background-color 250ms;
}

.hud-bottom-left {
	/*transition: transform 0.5s ease-out, filter 0.75s ease-in !important;;*/
	/*transform: scale(var(--scale)) translateX(0%) !important;*/
	/*transform: scale(0.5, 0.5);*/
}

.hud-bottom-left > .hud-character-string {
	flex-shrink: 0;
	flex-grow: 0;
}

.hud-bottom-left::before {
	content: ' ';
	position: absolute;
	left: -0px;
	top: 0px;
	transition: background-color 850ms;
	background-image: url(/Sonic/headphones.png);
	background-color: rgba(255,192,0,0.75);
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	padding: 2px;
	margin: 2px;
}

.hud-bottom-left[data-secret-icon="10"]::before {
	background-image: url(/Sonic/headphones-robotnik.png);
	background-size: contain;
}

.hud-bottom-left[data-secret-icon="100"]::before {
	background-image: url(/Sonic/headphones-vector.png);
	background-color: rgba(0,96,255,0.75);
	background-size: contain;
}

.hud-top-left > :empty {
	display: none;
}

.hud-frame {
	width: 79px;
	height: 25px;
	position: relative;
}

.hud-frame:before {
	background-image: url(/Sonic/hud-frame.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	content: ' ';
	z-index: 1;
}

.ring-frame:before {
	background-image: url(/Sonic/ring-hud.png);
}

.coin-frame:before {
	background-image: url(/custom/coin-hud.png);
}

.emerald-frame:before {
	background-image: url(/custom/emerald-hud.png);
}

.hud-value {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 69px;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	box-sizing: border-box;
	background-color: rgba(0,0,0,0.5);
	text-align: right;
}

.ring-frame .hud-value {
	width: 50px;
	left: 24px;
}

.timer {
}


.viewport .hud {
	position: absolute;
	z-index: 0;
}

.viewport .hud-dark {
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 3px;
	background-color: rgba(0,0,0,0.5);
	pointer-events: initial;
}

.viewport .hud table {
	border-spacing: 0;
	border-collapse: collapse;
	font-family: 'early_gameboy_regular'
}

.viewport .hud tr > td {
	padding: 0;
	margin: 0;
}

.viewport .hud tr > td > * {
	vertical-align: middle;
	margin-top: -3px;
}

.viewport .hud tr > td:nth-child(2) {
	margin: 0;
	text-align: right;
}

img.inventory-icon,
.emblem-hud img {
	filter:
		drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.35))
		drop-shadow(-1px -1px 0px rgba(0, 0, 0, 0.35))
		drop-shadow(-1px 1px 0px rgba(0, 0, 0, 0.35))
		drop-shadow(1px -1px 0px rgba(0, 0, 0, 0.35))
	;
}

img.inventory-icon {
	margin-left: 1px;
}

img.chao-icon {
	/* margin-left: 2px; */
	margin-right: 3px;
	/* display: none; */
}

.hud-top-right > div {
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	z-index: 1;
}

.emblem-hud:not(:empty) {
	display: flex;
	align-items: center;
	min-height: 10px;
}


.emerald-hud img,
.hud .hud-character-string {
	filter:
		drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.5))
		drop-shadow(-1px -1px 0px rgba(0, 0, 0, 0.5))
		drop-shadow(-1px 1px 0px rgba(0, 0, 0, 0.5))
		drop-shadow(1px -1px 0px rgba(0, 0, 0, 0.5))
	;
}

.status-message .hud-character {
	background-color: rgb(0,0,0,0.5);
	animation: sine 1.5s ease-in-out infinite;
	animation-delay: calc(calc(-1 * var(--time)) * var(--index));
}

.status-message .hud-character.hidden {
	/* animation: none; */
}

.status-message {
	contain: strict;
}

.status-message .hud-character-string {
	transition: opacity 0.333s 0.5s ease-in;
	opacity: 1;
}

.status-message .hud-character-string.hide {
	opacity: 0;
}

.status-message .hud-character-string.hidden {
	display: none;
}

@keyframes sine {
	0%,100% {transform: translateY( var(--distance) );}
	25% {transform: translateY( calc(-1 * var(--distance)) );}
	50% {transform: translateY( var(--distance) );}
	75% {transform: translateY( calc(-1 * var(--distance)) );}
}

.demo-hud:empty {
	display: none;
}

.demo-hud {
	margin-bottom: 2px;
}
