.sheild-hud {
	display: flex;
	flex-direction: row;
	width: 42px;
	flex-wrap: wrap;
	justify-content: space-around;
	transform: scaleY(-1);
	margin-left: auto;
	margin-bottom: 12px;
}

.sheild-hud .sheild-icon {
	width: 14px;
	height: 12px;
	background-image: url(/Sonic/monitor-screens.png);
	--sprite-offset-x: calc(calc(-16px * var(--screen-x)));
	--sprite-offset-y: calc(calc(-16px * var(--screen-y)));
	background-position: calc(-1px + var(--sprite-offset-x)) calc(-2px + var(--sprite-offset-y));
	transform: scaleY(-1);
	transition: transform 0.2s 0.1s ease-out, filter 0.3s ease-in, opacity 0.3s ease-in;
	opacity: 0.25;
}

.sheild-hud .sheild-icon:not(.spacer) {
	/*box-shadow: 1px 1px 0px #000000;*/
	filter: saturate(0);
}

.sheild-hud .sheild-icon.sheild-fire {
	transform: scaleY(-1) translateX(calc(-0px + 0%));
	--screen-x: 1;
	--screen-y: 2;
}

.sheild-hud .sheild-icon.sheild-normal {
	transform: scaleY(-1) translateY(calc(-0px + 100%));
	--screen-x: 1;
	--screen-y: 6;
}

.sheild-hud .sheild-icon.sheild-water {
	transform: scaleY(-1) translateY(calc(0px + 0%));
	--screen-x: 2;
	--screen-y: 2;
}

.sheild-hud .sheild-icon.sheild-electric {
	transform: scaleY(-1) translateX(calc(0px + 0%));
	--screen-x: 0;
	--screen-y: 2;
}

.sheild-hud .sheild-icon.spacer {
	background-image: none;
}

.sheild-hud.normal .sheild-icon.sheild-normal {
	transform: scaleY(-1) translateY(0%);
	filter: saturate(1) contrast(2);
	opacity: 1;
}

.sheild-hud.fire .sheild-icon.sheild-fire {
	transform: scaleY(-1) translateX(-100%);
	filter: saturate(1) contrast(2);
	opacity: 1;
}

.sheild-hud.electric .sheild-icon.sheild-electric {
	transform: scaleY(-1) translateX(100%);
	filter: sepia(5) saturate(5) contrast(5);
	opacity: 1;
}

.sheild-hud.water .sheild-icon.sheild-water {
	transform: scaleY(-1) translateY(100%);
	filter: none;
	opacity: 1;
}

.sheild-hud.hasWater .sheild-icon.sheild-water {
	opacity: 1;
}

.sheild-hud.hasFire .sheild-icon.sheild-fire {
	opacity: 1;
}

.sheild-hud.hasElectric .sheild-icon.sheild-electric {
	opacity: 1;
}

.sheild-hud.hasNormal .sheild-icon.sheild-normal {
	opacity: 1;
}
