html, body {
	height: 100%;
	width: 100%;
	display: flex;
	margin: 0;
}

body {
	justify-content: center;
	align-items: center;
}

.viewport {
	width: calc(1px * var(--width));
	height: calc(1px * var(--height));
	border: 1px solid black;
	position: relative;
	overflow: hidden;
	color: red;
}

.viewport-background,
.viewport-content {
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
}

.viewport-content {
	transform: translate(calc(1px * var(--x)), calc(1px * var(--y)));
}

.viewport-background {
	transform: translate(calc(1px * var(--xMod)), calc(1px * var(--yMod)));
	display: flex;
	justify-content: center;
	align-items: center;
}

.viewport-background > div {
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	box-sizing: border-box;
}
