.viewport.construct {
	background-color: #411 !important;
}

.viewport.construct .viewport-background > div {
	filter: invert(0.15);
	box-shadow: inset 0 0 2px rgba(0,255,0,0.5), 0 0 2px rgba(0,255,0,0.5);
	box-shadow: none !important;


	/*--distX: calc(calc(calc(var(--screenX)*var(--screenX))*var(--screenX))*var(--screenX));
	--distY: calc(calc(calc(var(--screenY)*var(--screenY))*var(--screenY))*var(--screenY));
	--dist: calc(var(--distX)*var(--distY));*/

	/*--outline-color: rgba(
		0
		, calc(128 + calc( -255 * var(--distX) ))
		, 0
		, calc(0.75 * calc( 1 - var(--distY)))
	);*/

	/*--outline-color: #030;

	filter:
		drop-shadow(-1px  1px 0px var(--outline-color))
		drop-shadow(-1px -1px 0px var(--outline-color))
		drop-shadow( 1px  1px 0px var(--outline-color))
		drop-shadow( 1px -1px 0px var(--outline-color))
	;*/
}


.viewport.construct .viewport-background > div::after {
	/*content: attr(data-mapX);*/
}
