html, body {
	font-family: verdana;
	height: 100%;
	width: 100%;
	margin: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	min-height: 512px;
	min-width: 908px;
}

.contents {
	display: contents;
}

.labels:empty {
	display: none;
}

.viewport-frame {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	--scale-transition: 0.1s ease-in;
}

.viewport-frame,
.viewport-frame.standalone {
	--scale-transition: 0s linear;
}

section.filters {
	width: 0px;
	height: 0px;
}

.viewport {
	image-rendering: high-quality;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
	width: calc(1px * calc(var(--width)  * var(--scale) ));
	height: calc(1px * calc(var(--height)  * var(--scale) ));
	transition: width var(--scale-transition), height var(--scale-transition);
	border: 1px solid black;
	position: relative;
	overflow: hidden;
	color: red;
	font-size: 0.7rem;
}

.viewport .viewport-bg-layers {
	contain: size layout;
}

.viewport.mouse-moved {
	cursor: initial;
}

.viewport.mouse-hide {
	cursor: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7), auto;
}

.viewport-caption button {
	background: black;
	border: none;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	padding: 0.5em;
	margin-right: 0.5em;
	vertical-align: middle;
}

.viewport-header {
	position: sticky;
	top: 0;
	z-index: 1;
	padding: 0.5em;
	flex-direction: row;
	align-items: center;
	white-space: nowrap;
}

.viewport,
.viewport-header,
.viewport-caption {
	white-space: nowrap;
}

.alert {
	color: #A00;
	font-weight: bold;
}

.viewport,
.viewport-caption {
	box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.viewport-header,
.viewport-caption {
	z-index: 2000;
	box-sizing: border-box;
	width: calc(1px * calc(var(--width)  * var(--scale) ));
	min-width: 550px;
	max-width: 100vw;
	line-height: 1.25em;
	display: flex;
}

.viewport-caption {
	position: sticky;
	bottom: 0;
	font-size: smaller;
	background-color: rgba(255,255,255,0.75);
	padding: 0.5em;
	flex-direction: column;
}

.viewport-caption > div {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.viewport-caption > div,
.viewport-caption > label {
	padding: 0.5em;
}

.viewport-caption > div:not(:last-child) {
	padding-bottom: 0;
}

.viewport-caption .label,
.viewport-caption label {
	padding: 0.25em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.viewport-caption .top-bar label {
	padding: 0.5em;
}

.viewport-caption .top-bar .buttons {
	display: flex;
	flex-direction: row;
}

.viewport-caption > div > div,
.viewport-caption > div > .label {
	flex: 1;
	display: flex;
	min-height: 2em;
	flex-direction: column;
	align-items: flex-start;
}

.viewport-caption input,
.viewport-caption select {
	margin-left: 0.25em;
	text-align: right;
}

.viewport-caption select {
	background: none;
	color: white;
	border: none;
}

.viewport-caption select option {
	color: black;
	background: white;
}

.viewport-caption a {
	margin-right: 1em;
}

.viewport-zoom {
	position: absolute;
	top: 0px;
	left: 0px;
	transform-origin: top left;
	transform: scale(var(--scale));
	width: calc(100% / var(--scale));
	height: calc(100% / var(--scale));
	transition: transform var(--scale-transition), width var(--scale-transition), height var(--scale-transition);
	/*will-change: contents, transform;*/
}

.viewport-overlay {
	contain: strict;
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;

	width: calc(100% / var(--scale));
	height: calc(100% / var(--scale));
	transform-origin: top left;
}

.viewport-overlay .hud-character-string {
	pointer-events: initial;
}

.viewport-overlay {
	transform: scale(var(--scale));
	transition: transform var(--scale-transition);
}

.viewport-double-zoom {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	/*transition: transform var(--scale-transition) 0.25s, width var(--scale-transition) 0.25s, height var(--scale-transition) 0.25s;*/
	transform-origin: top left;
	pointer-events: none;
}

.viewport-zoom,
.viewport-background,
.viewport-content {
	position: absolute;
	top: 0px;
	left: 0px;
}

.viewport-background[data-name^="Foreground"],
.viewport-background[data-name^="Background"] {
	z-index: 1000;
}

.viewport-double-zoom {
	position: absolute;
	z-index: 10000;
}

.viewport .filters,
.viewport-content {
	transform: translate(calc(1px * var(--x)), calc(1px * var(--y)));
}

/*.viewport .point-actor:not(.region):not(.actor-water-fall):not(.actor-water-jet) canvas,*/

.viewport-content > *,
.viewport-particles > * {
	contain: layout size;
}

.viewport-particles > *,
.viewport .point-actor.actor-drill-car .sprite,
.viewport .point-actor:not(.region):not(.actor-water-fall):not(.actor-water-jet):not(.actor-super-ring):not(.actor-drill-car):not(.actor-block) {
	--outlineWidthNeg: calc(-1 * var(--outlineWidth));
	--hoverWidth:      calc(2px + var(--outlineWidthNeg));
	--outlineColor:    rgba(0,0,0,1);

	filter:	drop-shadow( var(--outlineWidth) var(--outlineWidth)   0px var(--outlineColor))
		drop-shadow( var(--outlineWidth)    var(--outlineWidthNeg) 0px var(--outlineColor))
		drop-shadow( var(--outlineWidthNeg) var(--outlineWidth)    0px var(--outlineColor))
		drop-shadow( var(--outlineWidthNeg) var(--outlineWidthNeg) 0px var(--outlineColor));
}

.controllable.actor-generic:hover:not([data-selected=true]),
.controllable:not(.actor-generic):hover:not([data-selected=true]) .sprite {
	--outlineColor: white !important;
	filter:	drop-shadow(1px 1px 0px var(--outlineColor))
		drop-shadow(-1px 1px 0px var(--outlineColor))
		drop-shadow(-1px -1px 0px var(--outlineColor))
		drop-shadow(1px -1px 0px var(--outlineColor));
}

.viewport-background {
	/*transform: translate(calc(1px * var(--xMod)), calc(1px * var(--yMod)));*/
	transform: translate3d(calc(-1px * var(--offsetX, 0)),calc(-1px * var(--offsetY, 0)),0);
	display: flex;
	justify-content: center;
	align-items: center;
}

.viewport-background > div {
	background-repeat: no-repeat;
	contain: strict;
}

.viewport-zoom .blurAngle {
	transform:rotate(calc(1rad * var(--blurAngle)));
}
.viewport-zoom .blurAngleCancel {
	transform:rotate(calc(-1rad * var(--blurAngle)));
	contain: layout size;
}

span.arrow-east,
span.arrow-west {
	background-image: url(/debug/arrow-east.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 1.5em;
	height: 0.5em;
	display: inline-block;
	margin-left: 0.25em;
	margin-right: 0.25em;
}

span.arrow-north,
span.arrow-south {
	background-image: url(/debug/arrow-north.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 1em;
	height: 1.5em;
	display: inline-block;
	margin-left: 0.25em;
	margin-right: 0.25em;
	margin-bottom: -0.25em;
}

span.arrow-west {
	transform: scaleX(-1);
}

span.arrow-south {
	transform: scaleY(-1);
	margin-bottom: -0.5em;
}

span.button {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 2em;
	height: 1.5em;
	display: inline-block;
	margin-left: 0.25em;
	margin-right: 0.25em;
}

span.button.ps-x {
	background-image: url(/ui/playstation-button-x.svg);
}
span.button.ps-o {
	background-image: url(/ui/playstation-button-circle.svg);
}
span.button.ps-s {
	background-image: url(/ui/playstation-button-square.svg);
}
span.button.ps-t {
	background-image: url(/ui/playstation-button-triangle.svg);
}

span.button.ps-l1 {
	background-image: url(/ui/playstation-button-l1.svg);
}

span.button.ps-r1 {
	background-image: url(/ui/playstation-button-r1.svg);
}

span.button.xb-a {
	background-image: url(/ui/xbox-button-a.svg);
}
span.button.xb-b {
	background-image: url(/ui/xbox-button-b.svg);
}
span.button.xb-x {
	background-image: url(/ui/xbox-button-x.svg);
}
span.button.xb-y {
	background-image: url(/ui/xbox-button-y.svg);
}

span.button.xb-lb {
	background-image: url(/ui/xbox-button-lb.svg);
}

span.button.xb-rb {
	background-image: url(/ui/xbox-button-rb.svg);
}

span.arrow-west {
	transform: scaleX(-1);
}


.right {
	align-items: flex-end !important;;
	text-align: right !important;
}

.standalone .viewport-caption,
.viewport-caption {
	display: none;
}

.viewport-caption i {
	margin-bottom: 0.5em;
}

.viewport-caption input[type="number"] {
	max-width: 3em;
}

.topLine,
.focus-me {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100%);
	bottom: 0;
	/*transform: scale(1);*/
	/*transform: scale(calc(1 / var(--scale)));*/
	font-size: 2em;
	z-index: 1000000;
	color: white;
	pointer-events: none;
}

.viewport .status-message,
.focus-me .status-message {
	transition: opacity 0.3s 0.2s ease-out, transform var(--scale-transition), width var(--scale-transition), height var(--scale-transition);
	opacity: 1;
}

.viewport .status-message.hide,
.viewport:focus-within .focus-me .status-message {
	transition: opacity 0.2s ease-in;
	opacity: 0;
}

.status-message {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100%);
	height: calc(100%);
	display: flex;
	align-items: flex-end;
	justify-content: center;
	--distance: 4px;
	--time: 30ms;
	z-index: 100000;
	pointer-events: none;
}

.topLine > .status-message {
	align-items: flex-start;
}

.status-message > .hud-character-string {
	display: flex;
	margin:  1rem;
}

a.github {
	background-color: black;
	color: white;
	display: flex;
	padding: 0.5em;
	border-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	font-size: smaller;
}

.github-icon {
	background-image: url(/ui/github.svg);
	display: inline-block;
	width: 1.5em;
	height: 1.25em
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 0.5em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: "Always Show Up/Down Arrows";
}

.viewport-actors,
.viewport-particles {
	display: contents;
}

.viewport-particles {
	pointer-events: none;
}

.change-character {
	background: black;
	color: white;
	font-weight: bold;
	font-size: smaller;
	border-radius: 5px;
}

.viewport .filters {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.viewport .filters.filters-foreground {
	z-index: 10000;
}

.input-xbox .button.ps {
	display: none;
}

.button.ps, .button.xb {
	position: relative;
	margin-right: 1em !important;
}

.button.ps::after, .button.xb::after {
	content: '/';
	position: absolute;
	display: inline-block;
	right: -1em;
	top: 0em;
}

.viewport,
.viewport.standalone {
	position: fixed;
	z-index: 10000;
	background-color: black;
	border: none;
	outline: none;
}

.intro-cards {
	position: absolute;
	transform-origin: left top;
	/*transform: scale(var(--scale));*/

	width: calc(100%);
	height: calc(100%);
}

.viewport-frame,
.viewport-frame.standalone {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: black;
}

.viewport section.full {
	position: absolute;
	top: 0px;
	left: 0px;
	width: calc(100%);
	height: calc(100%);
	transform-origin: top left;
	background-color: transparent !important;
}

.viewport div.intro-cards {
	z-index: 1002;
}

.viewport.mouse-hide .labels {
	display: none;
}

.viewport .shade {
	transition: background 0.5s ease-in;
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100%);
	height: calc(100%);
	z-index: 1001;
	transform: none;
}

.viewport .shade[data-fade=true] {
	background-color: rgba(0,0,0,1);
}
