html, body {
	font-family: verdana;
	height: 100%;
	width: 100%;
	margin: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.viewport-frame {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	--scale-transition: 0.2s ease-in;
	--scale: 1;
}

.viewport {
	image-rendering: pixelated;
	image-rendering: high-quality;
	image-rendering: crisp-edges;
	width: calc(1px * calc(var(--width)  * var(--scale) ));
	height: calc(1px * calc(var(--height)  * var(--scale) ));
	transition: width var(--scale-transition), height var(--scale-transition);
	border: 1px solid black;
	position: relative;
	overflow: hidden;
	color: red;
	font-size: 0.7rem;
}

.viewport-caption button {
	background: black;
	border: none;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	padding: 0.5em;
	margin-right: 0.5em;
	vertical-align: middle;
}

.viewport-header {
	position: sticky;
	top: 0;
	z-index: 1;
	padding: 0.5em;
	flex-direction: row;
	align-items: center;
	white-space: nowrap;
}

.viewport,
.viewport-header,
.viewport-caption {
	margin-bottom: 1em;
	white-space: nowrap;
}

.alert {
	color: #A00;
	font-weight: bold;
}

.viewport,
.viewport-caption {
	box-shadow: 2px 2px 10px rgba(0,0,0,0.5);

}

.viewport-header,
.viewport-caption {
	z-index: 2000;
	box-sizing: border-box;
	width: calc(1px * calc(var(--width)  * var(--scale) ));
	min-width: 550px;
	max-width: 100vw;
	transition: width var(--scale-transition);
	line-height: 1.25em;
	display: flex;
}

.viewport-caption {
	position: sticky;
	bottom: 0;
	font-size: smaller;
	background-color: rgba(255,255,255,0.75);
	padding: 0.5em;
	flex-direction: column;
}

.viewport-caption > div {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.viewport-caption > div,
.viewport-caption > label {
	padding: 0.5em;
}

.viewport-caption > div:not(:last-child) {
	padding-bottom: 0;
}

.viewport-caption .label,
.viewport-caption label {
	padding: 0.25em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.viewport-caption .top-bar label {
	padding: 0.5em;
}

.viewport-caption .top-bar .buttons {
	display: flex;
	flex-direction: row;
}

.viewport-caption > div > div,
.viewport-caption > div > .label {
	flex: 1;
	display: flex;
	min-height: 2em;
	flex-direction: column;
	align-items: flex-start;
}

.viewport-caption input,
.viewport-caption select {
	margin-left: 0.25em;
	text-align: right;
}

.viewport-caption select {
	background: none;
	color: white;
	border: none;
}

.viewport-caption select option {
	color: black;
	background: white;
}

.viewport-caption a {
	margin-right: 1em;
}

.viewport-zoom {
	transition: transform var(--scale-transition);
	transform: scale(var(--scale));
	transform-origin: top left;
}

.viewport-double-zoom {
	position: absolute;
	top: 0px;
	left: 0px;
	height: calc( 200% / var(--scale) );
	width: calc( 200% / var(--scale) );
	transition: transform var(--scale-transition) 0.25s, width var(--scale-transition) 0.25s, height var(--scale-transition) 0.25s;
	transition-duration: 0.0s;
	transform: scale( calc(  var(--scale) * 0.5) );
	transform-origin: top left;
	pointer-events: none;
}

.viewport-zoom,
.viewport-background,
.viewport-content {
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
}

.viewport-double-zoom {
}

.viewport-content {
	transform: translate(calc(1px * var(--x)), calc(1px * var(--y)));
}

.viewport-background {
	/*transform: translate(calc(1px * var(--xMod)), calc(1px * var(--yMod)));*/
	transform: translate3d(0,0,0)
	display: flex;
	justify-content: center;
	align-items: center;
}

.viewport-content {
	z-index: 999;
}

.viewport-background[data-layer="0"] {

}

.viewport-background[data-layer="2"] {
	z-index: 1000;
}

.viewport-background[data-layer="2"] > div {
	/*box-shadow: inset 0 0 4px rgba(255,0,0,0.4);*/
	border-top: 0.5px solid #020;
	border-left: 0.5px solid #020;
}

.viewport-background > div {
	background-repeat: no-repeat;
	/*border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	box-sizing: border-box;*/
}

.viewport-zoom .blurAngle {
	transform:rotate(calc(1rad * var(--blurAngle)));
}
.viewport-zoom .blurAngleCancel {
	transform:rotate(calc(-1rad * var(--blurAngle)));
}

.viewport .hud {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	padding: 1em;
	background-color: rgba(0,0,0,0.5);
	pointer-events: initial;
}

.viewport .hud > div {
	display: flex;
}

.viewport .hud table {
	border-spacing: 0;
	border-collapse: collapse;
	font-family: 'early_gameboy_regular'
}

.viewport .hud tr > td {
	padding: 0;
}

.viewport .hud tr > td:nth-child(2) {
	margin: 0;
	padding: 0;
	text-align: right;
}

span.arrow-east,
span.arrow-west {
	background-image: url(/debug/arrow-east.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 1.5em;
	height: 0.5em;
	display: inline-block;
	margin-left: 0.25em;
	margin-right: 0.25em;
}

span.arrow-north,
span.arrow-south {
	background-image: url(/debug/arrow-north.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 1em;
	height: 1.5em;
	display: inline-block;
	margin-left: 0.25em;
	margin-right: 0.25em;
	margin-bottom: -0.25em;
}

span.arrow-west {
	transform: scaleX(-1);
}

span.arrow-south {
	transform: scaleY(-1);
	margin-bottom: -0.5em;
}

span.button {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 2em;
	height: 1.5em;
	display: inline-block;
	margin-left: 0.25em;
	margin-right: 0.25em;
}

span.button.ps-x {
	background-image: url(/ui/playstation-button-x.svg);
}
span.button.ps-o {
	background-image: url(/ui/playstation-button-circle.svg);
}
span.button.ps-s {
	background-image: url(/ui/playstation-button-square.svg);
}
span.button.ps-t {
	background-image: url(/ui/playstation-button-triangle.svg);
}

span.button.ps-l1 {
	background-image: url(/ui/playstation-button-l1.svg);
}

span.button.ps-r1 {
	background-image: url(/ui/playstation-button-r1.svg);
}

span.button.xb-a {
	background-image: url(/ui/xbox-button-a.svg);
}
span.button.xb-b {
	background-image: url(/ui/xbox-button-b.svg);
}
span.button.xb-x {
	background-image: url(/ui/xbox-button-x.svg);
}
span.button.xb-y {
	background-image: url(/ui/xbox-button-y.svg);
}

span.button.xb-lb {
	background-image: url(/ui/xbox-button-lb.svg);
}

span.button.xb-rb {
	background-image: url(/ui/xbox-button-rb.svg);
}

span.arrow-west {
	transform: scaleX(-1);
}


.right {
	align-items: flex-end !important;;
	text-align: right !important;
}

.viewport-caption i {
	margin-bottom: 0.5em;
}

.viewport-caption input[type="number"] {
	max-width: 3em;
}

.focus-me {
	font-size: 2em;
	z-index: 1000;
	background-color: white;
	color: red;
	pointer-events: none;
	transition: opacity 0.25s ease-in;
}

.viewport:focus .focus-me {
	transition: opacity 0.2s ease-out;
	opacity: 0;
}

.status-message {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 1em;
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	--distance: 4px;
	--time: 30ms;
}

.status-message .hud-character {
	background-color: rgb(0,0,0,0.5);
	animation: sine 1.5s ease-in-out infinite;
	animation-delay: calc(var(--time) * calc( var(--index) - var(--length) ));
}
.status-message .hud-character-string {
	transition: opacity 0.333s 0.5s ease-in;
	opacity: 1;
}

.status-message .hud-character-string.hide {
	opacity: 0;
}

@keyframes sine {
	0%,100% {transform: translateY( var(--distance) );}
	25% {transform: translateY( calc(-1 * var(--distance)) );}
	50% {transform: translateY( var(--distance) );}
	75% {transform: translateY( calc(-1 * var(--distance)) );}
}

a.github {
	background-color: black;
	color: white;
	display: flex;
	padding: 0.5em;
	border-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	font-size: smaller;
}

.github-icon {
	background-image: url(/ui/github.svg);
	display: inline-block;
	width: 1.5em;
	height: 1.25em
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 0.5em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: "Always Show Up/Down Arrows";
}

span.button-index {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0.125em;
	margin-bottom: 0.125em;
}

span.button-index .arrow,
span.button-index .button,
span.button-index b{
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.viewport-actors,
.viewport-particles {
	display: contents;
}

.viewport-particles {
	pointer-events: none;
}


.change-character {
	background: black;
	color: white;
	font-weight: bold;
	font-size: smaller;
	border-radius: 5px;
}
