.actor {
	position:absolute;
	left: calc(1px * calc(var(--x)));
	top: calc(1px * calc(var(--y)));
	transform: rotate( calc( 1rad * var(--angle) ) );
	/*background-color: rgba(255, 255, 0, 0.75);*/
}

.actor .sprite {
	position: absolute;
}

.actor.facing-left .sprite {
	transform: scaleX(-1) translateZ(100px);
}

/*.actor[data-mode="1"] {
	transform: rotate( calc(90deg  + calc( 1rad * var(--angle) ) ) );
}


.actor[data-mode="2"] {
	transform: rotate( calc(180deg  + calc( 1rad * var(--angle) ) ) );
}


.actor[data-mode="3"] {
	transform: rotate( calc(270deg  + calc( 1rad * var(--angle) ) ) );
}
*/
