.actor-item.actor-switch .sprite,
.actor-item.actor-block .sprite,
.actor-item.actor-breakable-block .sprite,
.actor-item.actor-marble-companion-block .sprite,
.actor-item.actor-block-marble .sprite {
	--hoverWidth: calc(1px  / var(--scale));
}

.actor-item.actor-block svg {
	pointer-events: none;
}

.actor-item.actor-breakable-block {
	filter: initial !important;
}

.actor-item.actor-marble-companion-block .sprite::after {
	content: '';
	left: 0;
	top: 0;
	position: absolute;
	background-image: url(/Sonic/marble-companion-block.png);
	width: 32px;
	height: 32px;
	transition: filter 0.25s ease-in;
}

.actor-item.actor-marble-companion-block-dead .sprite::after {
	filter: saturate(10%) brightness(0.85) contrast(150%);
}

.actor-item.actor-marble-companion-block-dying .sprite::after {
	animation:
		companion-block-shake   6 ease-in-out 75ms,
		companion-block-shake-2 12 ease-in-out 75ms 450ms;

	filter: saturate(10%) brightness(0.75) contrast(120%);
}

.actor-item.actor-breakable-block {
	--break-speed: 0s;
	--x-speed:  0.75s;
	--y-speed: 1.0s;
	--xTarget: 0vh;
	--yTarget: 0vh;
	--spread: 0%;
}

.actor-item.actor-breakable-block.broken {
	--break-speed: 0.5s;
	--x-speed:  0.75s;
	--y-speed: 1.0s;
	--spread: 250%;
}

.actor-item.actor-breakable-block.collapsible-block.broken {
	--y-speed: 1.5s;
	--spread: 10%;
}

.actor-item.actor-breakable-block > * {
	z-index: 100;
}

.actor-item.actor-breakable-block:not(.broken) .sprite {
	background-image: var(--sprite-sheet, url(/Sonic/marble-companion-block.png));
	background-position-x: calc(var(--sprite-x) * -32px);
	background-position-y: calc(var(--sprite-y) * -32px);
}

.actor-item.actor-breakable-block .fragmentsX {
	/*display: none;*/
}
.actor-item.actor-breakable-block.broken .fragmentsX,
.actor-item.actor-breakable-block.broken .fragmentsX,
.actor-item.actor-breakable-block.breaking .fragmentsX,
.actor-item.actor-breakable-block.will-break .fragmentsX {
	display: initial;
}

.actor-item.actor-breakable-block.broken .fragmentsX {
	--xTarget: calc(var(--xSpeed) * 24px);
	--yTarget: 80vh;
	transform: translate(var(--xTarget), -144px);
	/*transform: translate(var(--xTarget), 0px);*/
}

.actor-item.actor-breakable-block.collapsible-block.broken .fragmentsX {
	transform: translate(var(--xTarget), 16px);
	--yTarget: 180vh;
	opacity: 0;
}

.actor-item.actor-breakable-block.collapsible-block.worm.broken .fragmentsX {
	--yTarget: 80vh;
}

.actor-item.actor-breakable-block.breaking {
	z-index: 1000;
}

.actor-item.actor-breakable-block.breaking .fragmentsX {
	/*filter: brightness(1.15) saturate(0.25) contrast(1.25);*/
}

.actor-item.actor-breakable-block .fragmentsX {
	position: absolute;
	transition: transform var(--x-speed) ease-out , opacity var(--y-speed) ease-in;
	transform: translate(var(--xTarget), -0px);
	/*opacity: 0.5;*/
	top:  calc(var(--height, 32) * -0.5px);
	left: 0px;
	width: calc(var(--width, 32) * 1px);
	height: calc(var(--height, 32) * 1px);
}

.actor-item.actor-breakable-block .fragmentsY {
	position: absolute;
	transform: translate(0, var(--yTarget));
	transition: transform var(--y-speed) ease-in, opacity var(--y-speed) ease-in;
	/*opacity: 0.5;*/
	top: calc(var(--height, 32) * -0.5px);
	left: calc(var(--width, 32) * -0.5px);
	width: calc(var(--width, 32) * 1px);
	height: calc(var(--height, 32) * 1px);
	opacity: 1;
}

.actor-item.actor-breakable-block.collapsible-block.broken.worm {
	--y-speed: 1.0s;
	--break-speed: 3.5s;
}

.actor-item.actor-breakable-block.collapsible-block.broken.worm .fragment-top-left,
.actor-item.actor-breakable-block.collapsible-block.broken.worm .fragment-bottom-left {
	transition-duration: calc(var(--break-speed) * 0.66);
}

.actor-item.actor-breakable-block.collapsible-block.broken.worm .fragment-top-left,
.actor-item.actor-breakable-block.collapsible-block.broken.worm .fragment-top-right {
	transition-duration: calc(var(--break-speed) * 0.75);
	--spread: 150%
}

.actor-item.actor-breakable-block.broken .fragmentsY {
	opacity: 0;
}

.actor-item.actor-breakable-block .fragment {
	background-image: var(--sprite-sheet, url(/Sonic/marble-companion-block.png));
	background-position-x: calc(var(--sprite-x) * 32);
	background-position-y: calc(var(--sprite-y) * 32);
	position: absolute;
	transition: transform var(--break-speed) ease-out;
	--halfX: calc(var(--width, 32) * 0.5px);
	--halfY: calc(var(--height, 32) * 0.5px);
	--centerX: calc(var(--sprite-x) * calc(32 * -1px));
	--centerY: calc(var(--sprite-y) * calc(32 * -1px));
	width: var(--halfX);
	height: var(--halfY);
	--spreadX: var(--spread);
	--spreadY: var(--spread);
}

.actor-item.actor-breakable-block.worm .fragment {
	--spreadX: 0;
	--spreadY: calc(var(--spread) * 2);
}

.actor-item.actor-breakable-block .fragment-top-left {
	background-position-x: calc(var(--centerX));
	background-position-y: calc(var(--centerY));
	top: 0px;
	left: 0px;
	transform: scale(1.01) translate(calc(-1 * var(--spreadX)), calc(-1 * var(--spreadY)));
}

.actor-item.actor-breakable-block .fragment-top-right {
	background-position-x: calc(var(--centerX) - var(--halfX));
	background-position-y: calc(var(--centerY));
	top: 0px;
	left: calc(var(--width) * 0.5px);
	transform: scale(1.01) translate(var(--spreadX), calc(-1 * var(--spreadY)));
}

.actor-item.actor-breakable-block .fragment-bottom-left {
	background-position-x: calc(var(--centerX));
	background-position-y: calc(var(--centerY) - var(--halfY));
	top: calc(var(--height) * 0.5px);
	left: 0px;
	transform: scale(1.01) translate(calc(-1 * var(--spreadX)), var(--spreadY));
}

.actor-item.actor-breakable-block .fragment-bottom-right {
	background-position-x: calc(var(--centerX) - var(--halfX));
	background-position-y: calc(var(--centerY) - var(--halfY));
	top: calc(var(--height) * 0.5px);
	left: calc(var(--width) * 0.5px);
	transform: scale(1.01) translate(var(--spreadX), var(--spreadY));
}

.actor-item.actor-block {
	z-index: var(--z);
}

.actor-item.actor-block .sprite.collapse {
	/*filter: grayscale(85%) brightness(1.125);*/
}

.actor-item.actor-block .sprite.platform {
	/*filter: sepia(85%) brightness(0.9125) hue-rotate(140deg);*/
	/*z-index: -10000 !important;*/
}

.actor-item.actor-block .sprite,
.actor-item.actor-block-marble .sprite {
	/*background-image: url(/Sonic/marble-zone-block.png);*/
	background-image: var(--sprite-sheet, url(/Sonic/marble-zone-block.png));
	background-position-x: calc(var(--sprite-x) * -32px);
	background-position-y: calc(var(--sprite-y) * -32px);
	background-repeat: repeat;
	/*width: 32px;
	height: 32px;*/
	background-position-x: calc(1.2px * var(--conveyed));
}

.actor-item.actor-question-block {
	z-index: 1100;
}

.actor-item.actor-question-block .sprite {
	background-image: url(/Sonic/question-block.png);
	--sprite-offset-x: -16px;
	--sprite-offset-y: -13px;
	position: absolute;
/*	top: -32px;
	left: -16px;*/
	background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	animation: q-block-spin steps(4) infinite;
	animation-duration: calc(1ms * 480);
}

.actor-item.actor-question-block[data-empty="true"] .sprite {
	background-image: url(/Sonic/question-block.png);
	--sprite-offset-x: -16px;
	--sprite-offset-y: -76px;
	background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	animation: none;
}

.actor-item.actor-block[data-design="azure-lake"] .sprite {
	background-position: bottom center;
	height: 40px;
	width: 101px;
}

.actor-item.actor-block[data-design="emerald-isle"] .sprite {
	background-position: top center;
	top: -5px;
	height: 52px;
	width: 96px;
}

@keyframes companion-block-shake {
	0%{
		transform: translateX(0px);
	}
	25%{
		transform: translateX(-1px);
	}
	75%{
		transform: translateX(1px);
	}
	100%{
		transform: translateX(0px);
	}
}

@keyframes companion-block-shake-2 {
	0%{
		transform: translateX(0px);
	}
	25%{
		transform: translateX(-2px);
	}
	75%{
		transform: translateX(2px);
	}
	100%{
		transform: translateX(0px);
	}
}

.sprite.collapse:not(.broken) {
	contain:strict
}

.actor-block-3d {
	/* transform: rotateY(0deg); */
	/* transform: rotateY(90deg); */
	/* transform: rotateY(-90deg); */
	/* transform: rotateX(90deg); */
	/* transform: rotateY(45deg); */
 	transform:
		translate(
			calc(1px * calc(var(--x) + var(--xPos)) )
			, calc(1px * calc(var(--y) + var(--yPos)) )
		) translateZ( 0px )
		translateX( calc(var(--xPerspective) * 0.035px) )
		rotateY(calc(1.125deg * calc(var(--xPerspective) / -15)))
		!important;
}

.actor-block-3d {
	z-index: 1000 !important;
}

.actor-block-3d .sprite {
	display: none;
}

.actor-block-3d .panel-3d {
	background-image: var(--sprite-sheet, url(/Sonic/marble-zone-block.png));
	background-position-x: calc(var(--sprite-x) * -32px);
	background-position-y: calc(var(--sprite-y) * -32px);
	width:  calc(1px * var(--width));
	height: calc(1px * var(--height));
	position: absolute;
	top: calc(-1px * var(--height));
	left: calc(-0.5px * var(--width));
	--width3d: var(--width);
	--width3d: 64;
}

.actor-block-3d.actor-block-3d-stretched .panel-3d {
	/* background-size: calc(100% * calc(var(--width) / 64)); */
	background-size: 100% 100%;
}

.actor-block-3d .front-3d {
	transform:
		rotateY( 0deg )
		translateZ( calc(var(--width3d) * 0.5px) );

	z-index: 1;
}

.actor-block-3d .back-3d {
	display: none;
	transform:
		rotateY( 180deg )
		translateZ( calc(var(--width3d) * -0.5px) );

	z-index: -1;
}

.actor-block-3d .left-3d {
	width: calc(var(--width3d) * 1px);
	filter: brightness(0.75) contrast(1.125);
	transform-origin: top left;
	transform:
		rotateY( -90deg )
		translateX( calc(var(--width3d) * -0.5px) );
}

.actor-block-3d .right-3d {
	width: calc(var(--width3d) * 1px);
	filter: brightness(1.125) contrast(1.125);
	transform-origin: top left;
	transform:
		rotateY( -90deg )
		translateZ( calc(var(--width) * -1px) )
		translateX( calc(var(--width3d) * -0.5px) );
}

.actor-block-3d .top-3d {
	height: 64px;
	transform-origin: top;
	transform:
		rotateX( 90deg )
		translateZ( calc(var(--height) * 0px) )
		translateY( calc(var(--width3d) * -0.5px) );

	z-index: 1;

	/* display: none; */
}

.actor-block-3d .bottom-3d {
	height: 64px;
	filter: brightness(0.725) contrast(1.125);
	transform-origin: top;
	transform:
		rotateX( -90deg )
		translateZ( calc(var(--height) * 1px) )
		translateY( calc(var(--width3d) * -0.5px) );

	z-index: -1;

}


