.actor-item.actor-boost-pole .sprite {
	background-image: url(/Sonic/boost-pole.png);
	background-position-y: calc(calc(-28px * var(--bend, 0)) + 0px);
	transform: var(--base-transform) scaleX(var(--direction, -1)) !important;
	top: 18px;
	width: 48px;
	height: 28px;
}
