.actor-item.actor-bubbles .sprite {
	height: 64px;
	width: 64px;
}

.actor-item.actor-bubbles .sprite:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	/*background-image: url(/secret/super-seymour.png);*/
	--sprite-offset-x: 0px;
	--sprite-offset-y: -64px;
	background-image: url(/Sonic/bubbles.png);
	background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	height: 64px;
	width: 64px;
	z-index: 1;
}

.actor-item.actor-bubbles[data-gold=true] .sprite:after {
	--sprite-offset-y: 0px;
}

.actor-item.actor-bubbles[data-fade=true] .sprite:after {
	animation:
		bubbles-spin 150ms steps(5) 1 forwards
		,  bubbles-fade 400ms ease-out 1 forwards;
}

.actor-item.actor-bubbles .bubbles-flame {
	position: absolute;
	top: 48px;
	left: 3px;
	width: 12px;
	height: 8px;
	--sprite-offset-x: -0px;
	--sprite-offset-y: -128px;
	background-image: url(/Sonic/bubbles-flame.png);
	background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	animation: bubbles-flame-flicker 100ms ease-out infinite forwards;
}

@keyframes bubbles-spin {
	from{
		background-position-x: -0px;
	}
	to{
		background-position-x: -320px;
	}
}

@keyframes bubbles-fade {
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}

@keyframes bubbles-flame-flicker {
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}
