.actor-item.actor-drill-car .sprite {
	content: ' ';
	background-image: url(/Sonic/drill-car-body.png);
	position: absolute;
	left: 0px;
	width: 100px;
	height: 48px;
	z-index: 1;
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	--animation-steps: 2;
	--animation-width: 100px;
	animation: drill-car-animate steps(2) infinite 64ms;
}

.actor-item.actor-drill-car .sprite:not(.sprite-back) {
}

.actor-item.actor-drill-car .sprite-back {
	z-index: -1;
}

.actor-item.actor-drill-car .drill-car-tire {
	background-image: url(/Sonic/drill-car-tire.png);
	width: 32px;
	height: 32px;
	position: absolute;
	transition: animation-duration 0.75s ease-in-out;
}

.actor-item.actor-drill-car[data-animation='walking'] .drill-car-tire {
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	--animation-steps: 2;
	--animation-width: 32px;
	animation: drill-car-animate steps(var(--animation-steps)) infinite;
	animation-duration: 96ms;
}

.actor-item.actor-drill-car[data-animation='running'] .drill-car-tire {
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	--animation-steps: 2;
	--animation-width: 32px;
	animation: drill-car-animate steps(var(--animation-steps)) infinite;
	animation-duration: 32ms;
}

.actor-item.actor-drill-car[data-animation='skidding'] .drill-car-tire {
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	--animation-steps: 2;
	--animation-width: 32px;
	animation: drill-car-animate steps(var(--animation-steps)) infinite;
	animation-duration: 192ms;
}

.actor-item.actor-drill-car[data-animation='walking'] .drill-car-tire-front-b,
.actor-item.actor-drill-car[data-animation='running'] .drill-car-tire-front-b,
.actor-item.actor-drill-car[data-animation='walking'] .drill-car-tire-back-b,
.actor-item.actor-drill-car[data-animation='running'] .drill-car-tire-back-b {
	--sprite-offset-x: 0px;
	--sprite-offset-y: 32px;
	--animation-steps: 2;
	--animation-width: 32px;
	/*animation: drill-car-animate steps(var(--animation-steps)) infinite 96ms;*/
}
.actor-item.actor-drill-car .drill-car-seat {
	background-image: url(/Sonic/drill-car-seat.png);
	width: 37px;
	height: 20px;
	position: absolute;
	z-index: 0;
	top: -20px;
	left: 12px;
}

.actor-item.actor-drill-car .drill-car-windsheild {
	background-image: url(/Sonic/drill-car-windsheild.png);
	width: 23px;
	height: 11px;
	position: absolute;
	top: -11px;
	left: 53px;
}

.actor-item.actor-drill-car .drill-car-copter-cap {
	background-image: url(/Sonic/drill-car-copter-cap.png);
	width: 16px;
	height: 16px;
	position: absolute;
	left: 30px;
	z-index: 0;
	top:0px;
	transition: top 0.5s 0.2s ease-out, z-index 0s linear 0.1s;
}

.actor-item.actor-drill-car .drill-car-copter-blade-a,
.actor-item.actor-drill-car .drill-car-copter-blade-b {
	background-image: url(/Sonic/drill-car-copter-blade.png);
	width: 0px;
	height: 2px;
	position: absolute;
	top: -24px;
	transition: width 0.125s ease-in;
	z-index: 0;
}

.actor-item.actor-drill-car[data-animation='flying'] .drill-car-copter-blade-a,
.actor-item.actor-drill-car[data-animation='flying'] .drill-car-copter-blade-b {
	width: 64px;
}

.actor-item.actor-drill-car .drill-car-copter-blade-a {
	/*display: none;*/
	left: 46px;
}
.actor-item.actor-drill-car .drill-car-copter-blade-b {
	/*display: none;*/
	right: 70px;
}

.actor-item.actor-drill-car[data-animation='flying'] .drill-car-copter-cap {
	transition: top 0.125s ease-out, z-index 0s linear 0.1s;
	top: -33px;
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	--animation-steps: 2;
	--animation-width: 16px;
	animation: drill-car-animate steps(var(--animation-steps)) infinite 64ms;
	z-index: 1
}

.actor-item.actor-drill-car[data-animation='flying'] .drill-car-copter-blade-a {
	animation: drill-car-copter steps(2) infinite 64ms 64ms;
	display: initial;
}

.actor-item.actor-drill-car[data-animation='flying'] .drill-car-copter-blade-b {
	animation: drill-car-copter steps(2) infinite 64ms 0ms;
	display: initial;
}

.actor-item.actor-drill-car .drill-car-drill {
	background-image: url(/Sonic/drill-car-drill.png);
	width: 31px;
	height: 23px;
	position: absolute;
	top: 14px;
	right: -20px;
	z-index: 2;
}

.actor-item.actor-drill-car[data-animation='walking'] .drill-car-drill {
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	--animation-steps: 3;
	--animation-width: 32px;
	animation: drill-car-animate steps(var(--animation-steps)) infinite;
	animation-duration: 256ms;
}

.actor-item.actor-drill-car[data-animation='running'] .drill-car-drill {
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	--animation-steps: 3;
	--animation-width: 32px;
	animation: drill-car-animate steps(var(--animation-steps)) infinite;
	animation-duration: 128ms;
}

.actor-item.actor-drill-car[data-animation='skidding'] .drill-car-drill {
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	--animation-steps: 3;
	--animation-width: 32px;
	animation: drill-car-animate steps(var(--animation-steps)) infinite 128ms;
	transition: animation-duration 0.5s ease-in;
	animation-duration: 256ms;
}

.actor-item.actor-drill-car .drill-car-tire-back-a {
	bottom: 0px;
	left: 0px;
	z-index: 2;
}


.actor-item.actor-drill-car .drill-car-tire-back-b {
	bottom: 0px;
	left: 14px;
	background-position: 0px 32px;
	z-index: 0;
}

.actor-item.actor-drill-car .drill-car-tire-front-a {
	bottom: 0px;
	right: 14px;
	z-index: 2;
}

.actor-item.actor-drill-car .drill-car-tire-front-b {
	z-index: 0;
	bottom: 0px;
	right: -14px;
	background-position: 0px 32px;
}

@keyframes drill-car-animate {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(calc(calc(-1 * var(--animation-steps)) * var(--animation-width)) + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes drill-car-copter {
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
