.actor-eggmobile {
	mix-blend-mode: exclusion;
}

.actor-eggmobile .sprite {
	background-image: url(/Sonic/egg-mobile.png);

	height: 45px !important;
	width:  70px !important;

	z-index: 1;

	--sprite-offset-x: 0px;
	--sprite-offset-y: -0px;
	--animation-steps: 2;
	--animation-width: 70px;

	animation: eggmobile-animate steps(var(--animation-steps)) infinite 64ms;
}

@keyframes eggmobile-animate {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(calc(calc(-1 * var(--animation-steps)) * var(--animation-width)) + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}
