.actor-item.actor-emerald .sprite {
	background-image: url(/Sonic/emerald-dull.png);
}

.actor-item.actor-emerald.emerald-orangered .sprite {
	background-image: url(/Sonic/emerald-orangered.png);
}

.actor-item.actor-emerald.emerald-yellow .sprite {
	background-image: url(/Sonic/emerald-yellow.png);
}

.actor-item.actor-emerald.emerald-cyan .sprite {
	background-image: url(/Sonic/emerald-cyan.png);
}

.actor-item.actor-emerald.emerald-green .sprite {
	background-image: url(/Sonic/emerald-green.png);
}

.actor-item.actor-emerald.emerald-red-alt .sprite {
	background-image: url(/Sonic/emerald-red-alt.png);
}

.actor-item.actor-emerald.emerald-white .sprite {
	background-image: url(/Sonic/emerald-white.png);
}

.actor-item.actor-emerald.emerald-pink .sprite {
	background-image: url(/Sonic/emerald-pink.png);
}

.actor-item.actor-emerald.emerald-purple .sprite {
	background-image: url(/Sonic/emerald-purple.png);
}
