.actor-item.actor-emerald:after {
	background-image: url(/Sonic/emerald-white.png);
	filter: saturate(200%);
}

.actor-item.actor-emerald.emerald-orangered:after {
	background-image: url(/Sonic/emerald-orangered.png);
}

.actor-item.actor-emerald.emerald-pink:after {
	background-image: url(/Sonic/emerald-pink.png);
}

.actor-item.actor-emerald.emerald-purple:after {
	background-image: url(/Sonic/emerald-purple.png);
}

.actor-item.actor-emerald.emerald-yellow:after {
	background-image: url(/Sonic/emerald-yellow.png);
}

.actor-item.actor-emerald.emerald-green:after {
	background-image: url(/Sonic/emerald-green.png);
}

.actor-item.actor-emerald.emerald-yellow:after {
	background-image: url(/Sonic/emerald-red-alt.png);
}
