.actor-fake-emerald .sprite::before {
	display: block;
	content: ' ';
	width: 64px;
	height: 34px;
	/*background-image: url(/Sonic/fake-master-emerald.png);*/
	/*transform: rotate(calc(180deg + calc(-1rad * var(--air-angle))));*/
	transform-origin: center bottom;
}

.actor-item.actor-fake-emerald.broken .sprite {
	opacity: 1;
}

.actor-fake-emerald .fragmentsX {
	opacity: 0.85;
}

.actor-fake-emerald .sprite::after {
	content: ' ';
	background-image: url(/Sonic/fake-master-emerald.png);
	background-position-x: -64px;
	display: block;
	content: ' ';
	width: 64px;
	height: 34px;
	position: absolute;
	top: 0;
}
