.actor-item.actor-grapple-point .sprite {
	background-image: url(/Sonic/hook.png);
	background-position: center -4px;
	height: calc(var(--height) * 1px);
	width: 22px;
	position: absolute;
	z-index: -100;

}
