.actor-item.actor-grounder .sprite {
	height: 40px;
	width: 32px;
}

.actor-item.actor-grounder[data-color="red"] .sprite:after {
	--sprite-offset-y: -0px;
}

.actor-item.actor-grounder[data-color="green"] .sprite:after {
	--sprite-offset-y: -40px;
}

.actor-item.actor-grounder[data-color="white"] .sprite:after {
	--sprite-offset-y: -80px;
}

.actor-item.actor-grounder .sprite:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0;
	/*background-image: url(/secret/super-seymour.png);*/
	--sprite-offset-x: 0px;
	background-image: url(/Sonic/grounder.png);
	background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	height: 40px;
	width: 32px;
	z-index: 1;
}

.actor-item.actor-grounder[data-animation="standing"] .sprite:after {
	--sprite-offset-x: -32px;
}

.actor-item.actor-grounder[data-animation="walking"] .sprite:after {
	--sprite-offset-x: -128px;
	animation: grounder-walk steps(3) infinite 160ms;
}

.actor-item.actor-grounder[data-animation="walking"][data-direction="-1"] .sprite:after {
	transform: scaleX(-1);
}

.actor-item.actor-grounder[data-animation="shooting"] .sprite:after {
	--sprite-offset-x: 0px;
	--sprite-offset-x: -320px;
}

@keyframes grounder-walk {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-384px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}
