.actor.knuckles {
	z-index: 1000;
	width:64px;
	height:64px;
	--frameMs: calc(var(--animspeed) * 32ms);
}

.actor.knuckles .sprite {
	top: 14px;
	width:64px;
	height:64px;
	background-image: url(/Sonic/knux.png);
	image-rendering: pixelated;
}

.actor[data-mode="2"] .sprite,
.actor[data-mode="3"] .sprite {
	top: 15px;
}

.actor.knuckles.standing .sprite {

}

.actor.knuckles.walking .sprite {
	animation: knucklesWalking steps(8) infinite;
	animation-duration: calc(var(--frameMs) * 16);
}

@-webkit-keyframes knucklesWalking{
	from{
		background-position:-64px 0px;
	}
	to{
		background-position:-576px 0px;
	}
}

.actor.knuckles.running .sprite {
	animation: knucklesRunning steps(4) infinite;
	animation-duration: calc(var(--frameMs) * 8);
}

@-webkit-keyframes knucklesRunning{
	from{
		background-position:0px -64px;
	}
	to{
		background-position:-256px -64px;
	}
}

.actor.knuckles.jumping .sprite {
	animation: knucklesJumping steps(5) infinite;
	animation-duration: calc(42ms * 5);
}

@-webkit-keyframes knucklesJumping{
	from{
		background-position:0px -128px;
	}
	to{
		background-position:-320px -128px;
	}
}
