.actor-item.actor-knuckles .sprite {
	height: 64px;
	width: 64px;
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	z-index: 1;
}

.actor-item.actor-knuckles .sprite:after {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(/Sonic/knuckles.png);
	background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	height: 64px;
	width: 64px;
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	z-index: 1;
}

.actor-item.actor-knuckles[data-animation="standing"] .sprite:after {
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
}

.actor-item.actor-knuckles[data-animation="hold-bomb"] .sprite:after {
	--sprite-offset-y: -416px;
}

.actor-item.actor-knuckles[data-animation="throw-bomb"] .sprite:after {
	--sprite-offset-y: -416px;
	animation: knuckles-jump steps(5) 1 160ms;
}

.actor-item.actor-knuckles[data-animation="punching"] .sprite:after {
	--sprite-offset-y: 0px;
	--sprite-offset-y: -352px;
	animation: knuckles-punch steps(4) 1 192ms;
}

.actor-item.actor-knuckles[data-animation="walking"] .sprite:after {
	--sprite-offset-x: 0px;
	--sprite-offset-y: -64px;
	animation: knuckles-walk steps(8) infinite 512ms;
}

.actor-item.actor-knuckles[data-animation="running"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -128px;
	animation: knuckles-run steps(4) infinite 192ms;
}

.actor-item.actor-knuckles[data-animation="rolling"] .sprite:after,
.actor-item.actor-knuckles[data-animation="jumping"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -192px;
	animation: knuckles-jump steps(5) infinite 128ms;
}

.actor-item.actor-knuckles[data-animation="spindash"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -320px;
	animation: knuckles-spindash steps(5) infinite 96ms;
}

.actor-item.actor-knuckles[data-animation="climbing"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -480px;
}

.actor-item.actor-knuckles[data-animation="climbing-up"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -480px;
	animation: knuckles-climbing steps(3) infinite 256ms;
}

.actor-item.actor-knuckles[data-animation="climbing-down"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -480px;
	animation: knuckles-climbing steps(3) infinite 256ms reverse;
}

.actor-item.actor-knuckles[data-animation="rolling"] .sprite:after {
	animation-direction: reverse;
}

.actor-item.actor-knuckles[data-animation="flying"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -256px;
	--animation-steps: 2;
	--animation-width: 64px;
	background-position: var(--sprite-offset-x) var(--sprite-offset-y);
}

/*.actor-item.actor-knuckles[data-animation="skidding"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -256px;
	--animation-steps: -2;
	--animation-width: 64px;

	animation: knuckles-animate steps(var(--animation-steps)) infinite 96ms;
}*/

@keyframes knuckles-walk {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-512px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes knuckles-run {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-256px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes knuckles-punch {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-256px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes knuckles-jump {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-320px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes knuckles-spindash {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-320px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes knuckles-climbing {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-192px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

/*.actor-item.actor-knuckles .knuckles-knuckles {
	position: absolute;
	top: 32px;
	left: -6px;

	--sprite-offset-x: -0px;
	--sprite-offset-y: -0px;
	--animation-steps: 6;
	--animation-width: 32px;

	width: 32px;
	height: 32px;

	background-image: url(/Sonic/knuckles-knuckles.png);
	background-position: var(--sprite-offset-x) var(--sprite-offset-y);

	z-index: -1;

	animation: knuckles-animate steps(var(--animation-steps)) infinite 350ms;
}*/

.actor-item.actor-knuckles[data-animation="walking"] .knuckles-knuckles,
.actor-item.actor-knuckles[data-animation="running"] .knuckles-knuckles {
	display: none;
}

.actor-item.actor-knuckles[data-animation="jumping"] .knuckles-knuckles,
.actor-item.actor-knuckles[data-animation="rolling"] .knuckles-knuckles {
	--sprite-offset-y: -32px;
	--animation-steps: 5;
	top: 32px;
	left: -10px;
	transform-origin: 42px 16px;
	transform: rotate(calc(0deg + calc(1rad * var(--display-angle))));
}

.actor-knux-bomb .sprite {
	background-image: url(/Sonic/knuckles-bomb.png);
	height: 20px !important;
	width:  14px !important;
	background-position: 0px 0;
	animation: knuckles-bomb steps(2) infinite 50ms;
}

@keyframes knuckles-bomb {
	from{
		background-position: 0px 0;
	}
	to{
		background-position: -28px 0;
	}
}
