.actor-item.actor-knuckles .sprite {
	height: 64px;
	width: 64px;
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	z-index: 1;
	/*filter:
		contrast(calc(100% - calc(5% * calc(0.0 * var(--punchCharge)))))
		brightness(calc(100% + calc(5% * calc(0.6 * var(--punchCharge)))))
		saturate(calc(100% + calc(25% * calc(0.3 * var(--punchCharge)))))
		hue-rotate(calc(30deg * calc(0.02 * var(--punchCharge))));*/
	/*filter: invert(100%) hue-rotate(180deg);*/
}

.actor-item.actor-knuckles .sprite:after {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(/Sonic/knuckles.png);
	background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	height: 64px;
	width: 64px;
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	z-index: 1;
}

.actor-item.actor-knuckles[data-animation="standing"] .sprite:after {
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
}

.actor-item.actor-knuckles[data-animation="skidding"] .sprite:after {
	--sprite-offset-x: 0px;
	--sprite-offset-y: -1120px;
	animation: knuckles-skid steps(2) 1 forwards 160ms;
}

.actor-item.actor-knuckles[data-animation="dead"] .sprite:after {
	--sprite-offset-x: -128px;
	--sprite-offset-y: -928px;
}

.actor-item.actor-knuckles[data-animation="startle"] .sprite:after {
	--sprite-offset-x: 0px;
	--sprite-offset-y: -928px;
}

.actor-item.actor-knuckles[data-animation="hold-bomb"] .sprite:after {
	--sprite-offset-y: -416px;
}

.actor-item.actor-knuckles[data-animation="throw-bomb"] .sprite:after {
	--sprite-offset-y: -416px;
	animation: knuckles-jump steps(5) 1 320ms;
}

.actor-item.actor-knuckles[data-animation="readying"] .sprite:after {
	--sprite-offset-y: 0px;
	--sprite-offset-y: -544px;
	animation: knuckles-ready steps(3) infinite forwards 360ms;
}

.actor-item.actor-knuckles[data-animation="jabbing"] .sprite:after {
	--sprite-offset-y: 0px;
	--sprite-offset-y: -544px;
	animation: knuckles-jab steps(1) 1 calc(72ms * calc(1 / var(--punchSpeed))) forwards;
}

.actor-item.actor-knuckles[data-animation="punching"] .sprite:after {
	--sprite-offset-y: 0px;
	--sprite-offset-y: -352px;
	animation: knuckles-punch steps(4) 1 calc(96ms * calc(1 / var(--punchSpeed))) forwards;
}

/* .actor-item.actor-knuckles[data-animation="last-punching"] .sprite:after {
	--sprite-offset-y: 0px;
	--sprite-offset-y: -544px;
	animation: knuckles-last-punch steps(2) 1 calc(72ms * calc(1 / var(--punchSpeed))) forwards;
} */

.actor-item.actor-knuckles[data-animation="walking"] .sprite:after {
	--sprite-offset-x: 0px;
	--sprite-offset-y: -64px;
	animation: knuckles-walk steps(8) infinite 512ms;
}

.actor-item.actor-knuckles[data-animation="running"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -128px;
	animation: knuckles-run steps(4) infinite 192ms;
}

.actor-item.actor-knuckles[data-animation="crouching"] .sprite:after {
	--sprite-offset-x: -384px;
	--sprite-offset-y: -128px;
	animation: knuckles-skid steps(2) 1 160ms;
	background-position: calc(-64px + var(--sprite-offset-x)) var(--sprite-offset-y);
}

.actor-item.actor-knuckles[data-animation="looking-up"] .sprite:after {
	--sprite-offset-x: -256px;
	--sprite-offset-y: -128px;
	animation: knuckles-skid steps(2) 1 80ms;
	background-position: calc(-64px + var(--sprite-offset-x)) var(--sprite-offset-y);
}

.actor-item.actor-knuckles[data-animation="rolling"] .sprite:after,
.actor-item.actor-knuckles[data-animation="jumping"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -192px;
	animation: knuckles-jump steps(5) infinite 128ms;
}

.actor-item.actor-knuckles[data-animation="grinding"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -736px;
		animation: knuckles-run steps(4) infinite 192ms;
}

.actor-item.actor-knuckles[data-animation="spindash"] .sprite:after {
	--sprite-offset-x: -320px;
	--sprite-offset-y: -192px;
	animation: knuckles-spindash steps(5) infinite 96ms;
}

.actor-item.actor-knuckles[data-animation="climbing"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -480px;
	transform: scaleX(-1);
}

.actor-item.actor-knuckles[data-animation="climbing-up"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -480px;
	transform: scaleX(-1);
	animation: knuckles-climbing steps(3) infinite 256ms;
}

.actor-item.actor-knuckles[data-animation="climbing-down"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -480px;
	transform: scaleX(-1);
	animation: knuckles-climbing steps(3) infinite 256ms reverse;
}

.actor-item.actor-knuckles[data-animation="climbing-over"] .sprite:after {
	top: 26px;
	left: -14px;
	--sprite-offset-x: -384px;
	--sprite-offset-y: -480px;
	transform: scaleX(-1);
	animation: knuckles-climbing-over steps(3) 1 200ms;
	background-position: calc(-128px + var(--sprite-offset-x)) var(--sprite-offset-y);
}

.actor-item.actor-knuckles[data-animation="rolling"] .sprite:after {
	animation-direction: reverse;
}

.actor-item.actor-knuckles[data-animation="flying"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -256px;
	--animation-steps: 2;
	--animation-width: 64px;
	background-position: var(--sprite-offset-x) var(--sprite-offset-y);
}
.actor-item.actor-knuckles[data-animation="sliding"] .sprite:after {
	--animation-steps: 2;
	--animation-width: 64px;
	--sprite-offset-x: -640px;
	--sprite-offset-y: -256px;
	/* top: 6px; */
	background-position: var(--sprite-offset-x) var(--sprite-offset-y);
}

.actor-item.actor-knuckles[data-animation="swimming"] .sprite:after {
	--sprite-offset-x: -320px;
	--sprite-offset-y: -352px;
	animation: knuckles-run steps(4) infinite 350ms;
	animation-play-state: initial !important;
}

.actor-item.actor-knuckles[data-animation="flying-turning"] .sprite:after {
	--sprite-offset-x: -64px;
	--sprite-offset-y: -256px;
	--animation-steps: 2;
	--animation-width: 64px;
	background-position: var(--sprite-offset-x) var(--sprite-offset-y);
}

.actor-item.actor-knuckles[data-animation="flying-stalled"] .sprite:after {
	--sprite-offset-x: -128px;
	--sprite-offset-y: -256px;
	--animation-steps: 2;
	--animation-width: 64px;
	background-position: var(--sprite-offset-x) var(--sprite-offset-y);
}

.actor-item.actor-knuckles[data-animation="uppercut"] .sprite:after {
	--sprite-offset-y: -864px;
	--sprite-offset-x: -0px;
	animation: knuckles-uppercut steps(5) 1 140ms forwards;
}

.actor-item.actor-knuckles[data-animation="kick"] .sprite:after {
	--sprite-offset-y: -864px;
	--sprite-offset-x: -382px;
	animation: knuckles-kick steps(3) 96ms forwards 1;
}

.actor-item.actor-knuckles[data-animation="grinding"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -736px;
	animation: knuckles-run steps(4) infinite 192ms;
}

.actor-item.actor-knuckles[data-animation="hanging"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -992px;
	top: 24px;
}

.actor-item.actor-knuckles[data-animation="springdash"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -800px;
	transform: rotate(calc(1rad * var(--air-angle))) translateY(-3px);
}

.actor-item.actor-knuckles[data-facing="left"][data-animation="springdash"] .sprite:after {
	transform: scale(1,1) rotate(calc(calc(-1rad * var(--air-angle)) + 180deg))  translateY(-3px);
}

.actor-item.actor-knuckles[data-animation="dropping"] .sprite:after {
	--sprite-offset-x: -128px;
	--sprite-offset-y: -800px;
}

/*.actor-item.actor-knuckles[data-animation="skidding"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -256px;
	--animation-steps: -2;
	--animation-width: 64px;

	animation: knuckles-animate steps(var(--animation-steps)) infinite 96ms;
}*/

@keyframes knuckles-kick {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-192px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes knuckles-uppercut {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-320px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes knuckles-walk {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-512px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes knuckles-run {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-256px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes knuckles-ready {
	from{
		background-position: calc(-64px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-256px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes knuckles-skid {
	from{
		background-position: calc(0px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-128px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes knuckles-jab {
	from{
		background-position: calc(-192px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-384px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes knuckles-punch {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-256px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

/* @keyframes knuckles-last-punch {
	from{
		background-position: calc(-576px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-704px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
} */

@keyframes knuckles-jump {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-320px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes knuckles-spindash {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-320px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes knuckles-climbing {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-192px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes knuckles-climbing-over {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-192px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

/*.actor-item.actor-knuckles .knuckles-knuckles {
	position: absolute;
	top: 32px;
	left: -6px;

	--sprite-offset-x: -0px;
	--sprite-offset-y: -0px;
	--animation-steps: 6;
	--animation-width: 32px;

	width: 32px;
	height: 32px;

	background-image: url(/Sonic/knuckles-knuckles.png);
	background-position: var(--sprite-offset-x) var(--sprite-offset-y);

	z-index: -1;

	animation: knuckles-animate steps(var(--animation-steps)) infinite 350ms;
}*/

.actor-item.actor-knuckles[data-animation="walking"] .knuckles-knuckles,
.actor-item.actor-knuckles[data-animation="running"] .knuckles-knuckles {
	display: none;
}

.actor-item.actor-knuckles[data-animation="jumping"] .knuckles-knuckles,
.actor-item.actor-knuckles[data-animation="rolling"] .knuckles-knuckles {
	--sprite-offset-y: -32px;
	--animation-steps: 5;
	top: 32px;
	left: -10px;
	transform-origin: 42px 16px;
	transform: rotate(calc(0deg + calc(1rad * var(--display-angle))));
}

.actor-knux-bomb .sprite {
	background-image: url(/Sonic/knuckles-bomb.png);
	height: 20px !important;
	width:  14px !important;
	background-position: 0px 0;
	animation: knuckles-bomb steps(2) infinite 50ms;
}

@keyframes knuckles-bomb {
	from{
		background-position: 0px 0;
	}
	to{
		background-position: -28px 0;
	}
}

.actor-item.actor-knuckles .sprite .punch-aura {
	width: 64px;
	height: 48px;
	bottom: 0px;
	right: 25px;
	position: absolute;
	background-image: url(/Sonic/shield-fire-boost.png);
	background-position: calc(-64px * 0) 0px;

	animation:
		knuckles-punch-aura 85ms steps(3) infinite,
		knuckles-punch-aura-press 60ms 20ms ease-out 1 forwards,
		knuckles-punch-aura-flicker 200ms steps(4) infinite;

	background-position: calc(-64px * 1) 0px;
}

.actor-item.actor-knuckles[data-animation="uppercut"] .sprite .punch-aura {
	/*display: initial !important;*/
	right: -3px !important;
	bottom: -10px;
	z-index: 10;

	animation:
		knuckles-punch-aura-uppercut 85ms steps(3) infinite,
		knuckles-punch-aura-press 60ms 20ms ease-out 1 forwards,
		knuckles-punch-aura-flicker 200ms 200ms steps(4) infinite;
}

.actor-item.actor-knuckles[data-animation="jabbing"] .sprite .punch-aura {
	z-index: -10;
	bottom: -2px;
}

.actor-item.actor-knuckles[data-animation="punching"] .sprite .punch-aura {
	z-index: 10;
	bottom: 0px;
}

@keyframes knuckles-punch-aura {
	from{
		background-position: calc(-64px * 0) 0px;
		transform: scaleY(0.90);
	}
	to{
		background-position: calc(-64px * 3) 0px;
		transform: scaleY(0.25);
	}
}

@keyframes knuckles-punch-aura-uppercut {
	from{
		background-position: calc(-64px * 0) 0px;
		transform: rotate(-75deg) scaleY(0.75);
	}
	to{
		background-position: calc(-64px * 3) 0px;
		transform: rotate(-90deg) scale(0.5);
		opacity: 0.5;
	}
}

@keyframes knuckles-punch-aura-press {
	from{
		right: 35px;
	}
	to{
		right: 6px;
	}
}


@keyframes knuckles-punch-aura-press-uppercut {
	from{
		bottom: -0px;
	}
	to{
		bottom: -12px;
	}
}

@keyframes knuckles-punch-aura-flicker {
	from {
		opacity: 0;
	}
	25% {
		opacity: 0.75;
	}
	50% {
		opacity: 0.85;
	}
	75% {
		opacity: 0.25;
	}
	to {
		opacity: 0;
	}
}
