.actor-item.actor-meanie {
	z-index: var(--z, -10);
}

.actor-item.actor-meanie .sprite {
	height: 29px;
	width: 16px;
}

.actor-item.actor-meanie .sprite:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0;
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	background-image: url(/Sonic/meanie.png);
	background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	height: 29px;
	width: 16px;
}

.actor-item.actor-meanie[data-animation="standing"] .sprite:after {
}

.actor-item.actor-meanie[data-falling=false] .sprite:after {
	animation: meanie-walk steps(3) 1 180ms reverse forwards;
}

.actor-item.actor-meanie[data-falling=true] .sprite:after {
	animation: meanie-walk steps(3) 1 180ms forwards;
}

.actor-item.actor-meanie[data-direction="-1"] .sprite:after {
	transform: scaleX(-1);
}

@keyframes meanie-walk {
	from{
		background-position: calc(-48px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
	to{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
}
