.actor-item .chain {
	z-index: -100000;
	height: calc(calc(1px * calc(var(--distance, 64)+0)) - calc(var(--height) * 1px));
	width: 6px;
	position: absolute;
	bottom: calc(0px + calc(var(--height) * 1px));
	left: calc(50% - 4px);
	background-image: url(/Sonic/chain-link.png);
	background-position: bottom;
}


[data-bg="wood"] .actor-item .chain {
	background-image: url(/Sonic/rope.png);
	background-repeat: repeat-y;
}
