.actor-propeller .sprite {
	background-image: url(/Sonic/propeller.png);
	width: 128px;
	height: 16px;
	animation: propeller-spin 75ms infinite alternate steps(4);
	transform: var(--base-transform) scaleX(var(--direction)) !important;
}

@keyframes propeller-spin {
	  0% { background-position-y: 0px; }
	100% { background-position-y: -64px; }
}
