.actor-item.actor-redz .sprite {
	width: 64px;
	height: 32px;
}

.actor-item.actor-redz .sprite:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	/*background-image: url(/secret/super-seymour.png);*/
	--sprite-offset-x: 0px;
	--sprite-offset-y: -32px;
	background-image: url(/Sonic/redz.png);
	background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	height: 64px;
	width: 64px;
	z-index: 1;
}

.actor-item.actor-redz[data-direction="-1"] {
	transform: scaleX(-1);
}

.actor-item.actor-redz[data-animation="standing"] .sprite:after {
	/*--sprite-offset-x: 0px;
	--sprite-offset-y: 32px;*/
}

.actor-item.actor-redz[data-animation="walking"] .sprite:after {
	--sprite-offset-x: 0px;
	animation: redz-walk steps(3) infinite alternate 130ms;
}

.actor-item.actor-redz[data-animation="shooting"] .sprite:after {
	--sprite-offset-y: -96px;
	animation: redz-shoot steps(2, end) 350ms 2;
}

@keyframes redz-walk {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-192px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes redz-shoot {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-128px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}
