.region {
	--widthPx: calc(1px * var(--width));
	--heightPx: calc(1px * var(--height));

	--widthNx: calc(-1px * var(--width));
	--heightNx: calc(-1px * var(--height));

	/*pointer-events: none;*/
}

.region.region-water .region-color,
.region.region-water .region-color-wrapper,
.region.region-water .region-filter-wrapper,
.region.region-water .sprite {
	position: absolute;
	width: calc(1px * var(--width));
	height: calc(1px * var(--height));
	/*pointer-events: none;*/
}

.region.region-water .sprite {
	top: calc(1px + calc(-1px * var(--height)));
	left: -16px;
	background-attachment: fixed;
	z-index: 1001;
}

.region.region-water .region-color-wrapper {
	/*filter: hue-rotate(90deg);*/
}

.region.region-water .region-color {
	background-color: rgba(0,128,255,0.25);
}

.region.region-water .region-filter-wrapper {
	overflow: hidden;
}

.region.region-water .region-filter {
	transform: translateY(-2px);
	position: absolute;
	left:    calc(var(--leftBoundry) + 32px);
	top:     calc(var(--topBoundry) - 0px);
	width:   calc(var(--viewportWidth));
	height:  calc(var(--viewportHeight) + 128px);

	left:    0;
	top:     0;
	width: calc(1px * var(--width));
	height: calc(calc(1px * var(--height)) + 128px);

	backdrop-filter: blur(0.25px);
	filter: url(#waves) blur(0.3px);
	/*background-blend-mode: darken;*/
	z-index: -10000;
	/*animation: water-distort infinite 3s alternate ease-in-out;*/

	transform: translate3d(0, 0, 0);
}

.region.region-water .sprite:after {
	content: '.';
	color: transparent;
	background-image: url(Sonic/water-surface-wave.png);
	position: absolute;
	transform: translateY(-16px);
	width: 100%;
	opacity: min(var(--height), 0.5);
	height: 16px;

	background-position: 0px 0px;

	/*animation:  100ms steps(1,end) infinite;
	background-position-x: 0px;
	background-position-y: 32px;*/
	animation-name: water-waves-frames, water-waves-flow;
	animation-timing-function: steps(3), linear;
	animation-iteration-count: infinite, infinite;
	animation-duration: 0.75s, 1.5s;
}

@keyframes water-waves-frames {
	0% {
		background-position-y: 0px;
		/*transform: rotate(0deg);*/
	}
	100% {
		background-position-y: 48px;
		/*transform: rotate(180deg);*/
	}
}

@keyframes water-waves-flow {
	0% {
		background-position-x: 0px;
		/*transform: rotate(0deg);*/
	}
	100% {
		background-position-x: 32px;
		/*transform: rotate(180deg);*/
	}
}
