.actor-item.actor-rhino-bot .sprite::after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0;
	background-image: url(/Sonic/rhino-bot.png);
	left: -8px;
	width: 64px;
	height: 32px;
	z-index: 1;
}

/* .actor-item.actor-rhino-bot[data-animation="standing"] .sprite:after {
	--sprite-offset-x: -32px;
}

.actor-item.actor-rhino-bot[data-animation="walking"] .sprite:after {
	--sprite-offset-x: -128px;
} */

/*
@keyframes grounder-walk {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-384px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}
*/
