.actor.ring {
	width:64px;
	height:64px;
	background: url(/Sonic/rings.png);
	-webkit-animation: ringSpin steps(7) 0.4s infinite;
}

@-webkit-keyframes ringSpin{
	from{
		background-position:0px 0px;
	}
	to{
		background-position:-448px 0px;
	}
}
