.actor-item.actor-seymour .sprite {
	height: 64px;
	width: 64px;
}

.actor-item.actor-seymour .sprite:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	/*background-image: url(/secret/super-seymour.png);*/
	/*background-image: url(/secret/seymour-color-corrected.png);*/
	background-image: var(--sprite-sheet);
	background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	height: 64px;
	width: 64px;
	z-index: 1;
}

.actor-item.actor-seymour[data-animation="standing"] .sprite:after {
	--sprite-offset-x: 0px;
	--sprite-offset-y: 1px;
}

.actor-item.actor-seymour[data-animation="walking"] .sprite:after {
	--sprite-offset-x: 0px;
	--sprite-offset-y: -64px;
	animation: seymour-walk steps(3) infinite 288ms;
}

.actor-item.actor-seymour[data-animation="running"] .sprite:after {
	--sprite-offset-x: 0px;
	--sprite-offset-y: -128px;
	animation: seymour-run steps(5) infinite calc(calc(calc(0 - var(--animation-bias)) * 160ms) + 320ms);
}

.actor-item.actor-seymour[data-animation="rolling"] .sprite:after,
.actor-item.actor-seymour[data-animation="jumping"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -192px;
	background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	animation: seymour-jump steps(4) infinite 96ms;
}

.actor-item.actor-seymour[data-animation="rolling"] .sprite:after {
	transform: translateY(22px);
	animation: seymour-jump steps(4) infinite calc(calc(calc(1 - var(--animation-bias)) * 128ms) + 128ms);

}

@keyframes seymour-walk {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-192px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes seymour-run {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-320px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes seymour-jump {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-256px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}
