.actor-item.actor-skorp .sprite {
	height: 26px;
	width: 39px;
}

.actor-item.actor-skorp .sprite:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0;
	/*background-image: url(/secret/super-seymour.png);*/
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	background-image: url(/Sonic/skorp-body.png);
	background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	height: 26px;
	width: 40px;
	z-index: 1;
}

.actor-item.actor-skorp .tail {
	--recoil: 0px;
	transition: transform 0.01s ease-out;
	/* --tailAngle: 0deg;
	--tailAngle: -21deg;
	--tailAngle: 21deg; */
	position: absolute;
	width: 8px;
	bottom: 28px;
	/* display: flex;
	flex-direction: column-reverse; */
}

.actor-item.actor-skorp:not([data-shooting="0"]) .tail {
	transition: transform 0.5s ease-out;
	--recoil: calc(6px * var(--aim-direction,0));
}

.actor-item.actor-skorp .tail {
	/* --tailAngle: 0deg;*/
	/* --tailAngle: calc(-21deg * var(--direction)); */
	/* --tailAngle: calc(21deg * var(--direction)); */
	/* --tailAngle: -28deg; */
	/* --tailAngle: 19deg; */
}

.actor-item.actor-skorp .tail {
	transition: left 0.1s ease-out;
	transform: translateX(calc(-1 * var(--recoil, 0px)));
	/* --tailAngle: calc(-21deg * var(--aim-direction)); */
}

.actor-item.actor-skorp[data-direction="-1"] .tail {
	left: 4px;
}

.actor-item.actor-skorp[data-direction="-1"] .tail {
	transform: translateX(var(--recoil, 0px));
}

.actor-item.actor-skorp[data-direction="1"] .tail {
	left: -12px;
}

.actor-item.actor-skorp .tail .segment {
	/* background-image: url(/Sonic/skorp-tail.png); */
	flex-shrink: 0;
	width: 8px;
	height: 8px;
	background-repeat: no-repeat;
	position: relative;
	transform: rotate(calc(-1deg * var(--tail-angle, 0)));
	transition: transform 0.20s ease-in;
}

.actor-item.actor-skorp[data-shooting="4"] .tail .segment,
.actor-item.actor-skorp[data-shooting="5"] .tail .segment,
.actor-item.actor-skorp[data-shooting="6"] .tail .segment,
.actor-item.actor-skorp[data-shooting="7"] .tail .segment,
.actor-item.actor-skorp[data-shooting="8"] .tail .segment {
	transform: rotate(calc(-0.9deg * var(--tail-angle, 0)));
	transition: transform .04s 0.1s ease-in;
}

.actor-item.actor-skorp .tail .segment::before {
	background-image: url(/Sonic/skorp-tail.png);
	position: absolute;
	content: '';
	width: 8px;
	height: 8px;
	transform: rotate(calc( calc(var(--tail-angle, 0) * 1deg) * calc(1 + var(--index, 0))));
	transition: transform 0.20s ease-in;
}

.actor-item.actor-skorp .tail .fist {
	background-image: url(/Sonic/skorp-fist.png);
	flex-shrink: 0;
	width: 10px;
	height: 12px;
	background-repeat: no-repeat;
	position: relative;
	transform: scaleX(-1);
}


.actor-item.actor-skorp .tail .gun {
	background-image: url(/Sonic/skorp-gun.png);
	flex-shrink: 0;
	width: 24px;
	height: 32px;
	background-repeat: no-repeat;
	position: relative;
	transform: scaleX(var(--direction));
	transition: transform 0.15s ease-in-out, left 0.1s linear;
	transition-delay: 0.1s;
}

.actor-item.actor-skorp:not([data-aiming="0"]) .tail .gun {
	transition-delay: 0.0s;
}

.actor-item.actor-skorp[data-shooting="5"] .tail .gun::after,
.actor-item.actor-skorp[data-shooting="6"] .tail .gun::after,
.actor-item.actor-skorp[data-shooting="7"] .tail .gun::after,
.actor-item.actor-skorp[data-shooting="8"] .tail .gun::after {
	background-image: url(/Sonic/eggrobo-muzzle-flash.png);
	position: absolute;
	top:-10px;
	content: "";
	width: 14px;
	height: 7px;
	background-position-x: -2px;
	background-repeat: no-repeat;
}

.actor-item.actor-skorp:not([data-shooting="0"]) .tail .gun {
	filter: brightness(2);
}

.actor-item.actor-skorp[data-direction="-1"] .tail .gun {
	left: 0px;
}

.actor-item.actor-skorp[data-direction="1"] .tail .gun {
	left: -16px;
}

.actor-item.actor-skorp .tail .segment .segment {
	transform-origin: 50% 150%;
	bottom: 9px;
}

.actor-item.actor-skorp:not([data-shooting="0"]) .tail .segment .segment {
	left: 1px;
}

.actor-item.actor-skorp .tail .segment .fist {
	transform-origin: 50% 150%;
	bottom: 12px;
}

.actor-item.actor-skorp .tail .segment .gun {
	bottom: 30px;
}

.actor-item.actor-skorp[data-animation="standing"] .sprite:after {
	/* --sprite-offset-x: -32px; */
}

.actor-item.actor-skorp:not([data-shooting="0"]) .sprite:after,
.actor-item.actor-skorp[data-animation="walking"] .sprite:after {
	/* --sprite-offset-x: -128px; */
	animation: skorp-walk steps(3) infinite 160ms forwards;
}

.actor-item.actor-skorp[data-direction="-1"] .sprite:after {
	transform: scaleX(-1);
}

.actor-item.actor-skorp[data-animation="shooting"] .sprite:after {
	/* --sprite-offset-x: 0px; */
	/* --sprite-offset-x: -320px; */
}

@keyframes skorp-walk {
	from{
		background-position: 40px 0px;
	}
	to{
		background-position: -80px 0px;
	}
}
