.actor-item.actor-sonic {
}

.actor-item.actor-sonic .sprite {
	height: 64px;
	width: 64px;
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	z-index: 1;
}

.actor-item.actor-sonic .sprite:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background-image: var(--sprite-sheet);
	transition: background-image 0.5s ease-out;
	background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	height: 100%;
	width: 100%;
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	z-index: 1;

	backdrop-filter: var(--bg-filter);
	filter: blur(0px);
	/*filter: url(#sonic-pinch);*/


	/*backdrop-filter: blur(1px);*/
	/*backdrop-filter: var(--fg-filter) blur(0);*/
	/*transform: rotate(calc(1rad * var(--ground-angle)));
	transform-origin: 50%, bottom - 16px;*/
}

.actor-item.actor-sonic .sprite:before {

	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: -10;
}

.actor-item.actor-sonic .sprite:before {
	transform: scale(2,2);
}

.actor-item.actor-sonic[data-facing="left"] .sprite:before {
	transform: scale(-2,2);
	pointer-events: none;
}

.actor-item.actor-sonic[data-animation="spindash"] .sprite:before {
	transform: scale(3,2) translateX(-2px);
}

.actor-item.actor-sonic[data-animation="spindash"][data-facing="left"] .sprite:before {
	transform: scale(-3,2) translateX(2px);
}

.actor-item.actor-sonic[data-animation="standing"] .sprite:after {
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
}

.actor-item.actor-sonic[data-animation="walking"] .sprite:after {
	--sprite-offset-x: 0px;
	--sprite-offset-y: -64px;
	animation: sonic-walk steps(6) infinite 512ms;
}

.actor-item.actor-sonic[data-animation="running"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -128px;
	animation: sonic-run steps(4) infinite 128ms;
}

.actor-item.actor-sonic[data-animation="spindash"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -320px;
	animation: sonic-spindash steps(5) infinite 96ms;
}

.actor-item.actor-sonic[data-animation="lightdash"][data-falling="false"] .sprite:after {
	top: 10px;
}

.actor-item.actor-sonic[data-animation="airdash"] .sprite:after,
.actor-item.actor-sonic[data-animation="lightdash"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -384px !important;

	transform: rotate(calc(1rad * var(--air-angle)));
}

.actor-item.actor-sonic[data-facing="left"][data-animation="airdash"] .sprite:after {
	transform: scale(1,1) rotate(calc(calc(-1rad * var(--air-angle)) + 180deg));
}

.actor-item.actor-sonic[data-animation="lightdash"] .sprite:after {
	animation: sonic-flicker steps(4) infinite 64ms;
}

.actor-item.actor-sonic[data-facing="left"][data-animation="lightdash"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -384px !important;

	transform: scale(1,-1) rotate(calc(calc(1rad * var(--air-angle)) + 180deg));

	animation: sonic-flicker steps(4) infinite 128ms;
}

.actor-item.actor-sonic[data-animation="lightdash-back"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -384px !important;

	transform: scale(1,-1) rotate(calc(calc(-1rad * var(--air-angle)) + 0deg));

	animation: sonic-flicker steps(4) infinite 128ms;
}

.actor-item.actor-sonic[data-facing="left"][data-animation="lightdash-back"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -384px !important;

	transform: scale(-1,-1) rotate(calc(calc(-1rad * var(--air-angle)) + 0deg));

	animation: sonic-flicker steps(4) infinite 128ms;
}


.actor-item.actor-sonic[data-animation="jumping"] .sprite:after,
.actor-item.actor-sonic[data-animation="rolling"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -192px;
}

.actor-item.actor-sonic[data-animation="jumping"] .sprite:after {
	animation: sonic-jump steps(7) infinite 256ms;
}

.actor-item.actor-sonic[data-animation="rolling"] .sprite:after {
	animation: sonic-jump steps(7) infinite calc(calc(calc(1 - var(--animation-bias)) * 512ms) + 128ms);
	/*transform: scale(-1,-1) rotate(calc(calc(-1rad * var(--air-angle)) + 0deg));*/
}

.actor-item.actor-sonic[data-animation="jumping"] .sprite:after {
	transform: none;
}

.actor-item.actor-sonic[data-animation="skidding"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -256px;
	--animation-steps: -2;
	--animation-width: 64px;

	animation: sonic-animate steps(var(--animation-steps)) infinite 96ms;
}

@-webkit-keyframes sonic-animate {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(calc(var(--animation-steps) * var(--animation-width)) + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@-webkit-keyframes sonic-walk {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-384px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@-webkit-keyframes sonic-run {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-256px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@-webkit-keyframes sonic-jump {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-448px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}


@-webkit-keyframes sonic-spindash {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-320px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@-webkit-keyframes sonic-flicker {
	from{
		filter: brightness(1);
	}
	75%{
		filter: brightness(2);
	}
	to{
		filter: brightness(100);
	}
}

