.actor-item.actor-sonic {
}

.actor-item.actor-sonic .sprite {
	height: 64px;
	width: 64px;
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	z-index: 1;
}

.actor-item.actor-sonic .sprite:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(/Sonic/sonic.png);
	background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	height: 100%;
	width: 100%;
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	z-index: 1;
	filter: var(--fg-filter);
	/*transform: rotate(calc(1rad * var(--ground-angle)));
	transform-origin: 50%, bottom - 16px;*/
}

.actor-item.actor-sonic .sprite:before {
	backdrop-filter: var(--bg-filter);
	filter: var(--bg-filter);
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: -10;
}

.actor-item.actor-sonic .sprite:before {
	transform: scale(1.5,1.5) translateX(-6px);
}

.actor-item.actor-sonic[data-facing="left"] .sprite:before {
	transform: scale(-1.5,1.5) translateX(6px);
	pointer-events: none;
}

.actor-item.actor-sonic[data-animation="standing"] .sprite:after {
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
}

.actor-item.actor-sonic[data-animation="walking"] .sprite:after {
	--sprite-offset-x: 0px;
	--sprite-offset-y: -64px;
	animation: sonic-walk steps(6) infinite 512ms;
}

.actor-item.actor-sonic[data-animation="running"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -128px;
	animation: sonic-run steps(4) infinite 128ms;
}

.actor-item.actor-sonic[data-animation="spindash"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -320px;
	animation: sonic-spindash steps(5) infinite 96ms;
}

.actor-item.actor-sonic[data-animation="rolling"] .sprite:after,
.actor-item.actor-sonic[data-animation="jumping"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -192px;
	animation: sonic-jump steps(7) infinite 256ms;
}

.actor-item.actor-sonic[data-animation="skidding"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -256px;
	--animation-steps: -2;
	--animation-width: 64px;

	animation: sonic-animate steps(var(--animation-steps)) infinite 96ms;
}

@-webkit-keyframes sonic-animate {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(calc(var(--animation-steps) * var(--animation-width)) + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@-webkit-keyframes sonic-walk {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-384px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@-webkit-keyframes sonic-run {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-256px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@-webkit-keyframes sonic-jump {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-448px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}


@-webkit-keyframes sonic-spindash {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-320px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}
