.actor-item.actor-sonic {
	transition: opacity 0.5s ease-out;
}

.actor-item.actor-sonic .sprite {
	height: 64px;
	width: 64px;
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	/*z-index: 1;*/
}

.actor-item.actor-sonic .sprite:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background-image: var(--sprite-sheet);
	opacity: var(--opacity, 1);
	transition: background-image 0.5s ease-out;
	background-position-x: var(--sprite-offset-x);
	background-position-y: var(--sprite-offset-y);
	height: 100%;
	width: 100%;
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	/*z-index: 1;*/

	backdrop-filter: var(--bg-filter);
	filter: blur(0px);
	/*filter: url(#sonic-pinch);*/


	/*backdrop-filter: blur(1px);*/
	/*backdrop-filter: var(--fg-filter) blur(0);*/
	/*transform: rotate(calc(1rad * var(--ground-angle)));
	transform-origin: 50%, bottom - 16px;*/
}

.actor-item.actor-sonic .sprite:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	/*z-index: -10;*/
}

.actor-item.actor-sonic .sprite:before {
	transform: scale(2,2);
}

.actor-item.actor-sonic[data-facing="left"] .sprite:before {
	transform: scale(-2,2);
	pointer-events: none;
}

.actor-item.actor-sonic[data-animation="spindash"] .sprite:before {
	transform: scale(3,2) translateX(-2px);
}

.actor-item.actor-sonic[data-animation="spindash"][data-facing="left"] .sprite:before {
	transform: scale(-3,2) translateX(2px);
}

.actor-item.actor-sonic[data-animation="idle"] .sprite:after {
	--sprite-offset-x: -64px;
	--sprite-offset-y: -0px;
	left: -4px;
}

.actor-item.actor-sonic[data-animation="idle-2"] .sprite:after {
	--sprite-offset-x: -128px;
	--sprite-offset-y: -0px;

	--animation-width: 64px;
	--animation-steps: -2;

	left: -4px;

	animation: sonic-animate steps(2) infinite 900ms;
}

.actor-item.actor-sonic[data-animation="idle-3"] .sprite:after {
	--sprite-offset-x: -320px;
	--sprite-offset-y: -0px;

	--animation-width: 64px;
	--animation-steps: -2;

	left: -4px;

	animation: sonic-animate steps(2) infinite 800ms;
}

.actor-item.actor-sonic[data-animation="idle-4"] .sprite:after {
	--sprite-offset-x: -448px;
	--sprite-offset-y: -0px;

	--animation-width: 64px;
	--animation-steps: -3;

	left: -4px;

	animation: sonic-animate steps(3) infinite 800ms;
}

.actor-item.actor-sonic[data-animation="startle"] .sprite:after {
	--sprite-offset-x: -192px;
	--sprite-offset-y: 256px;

	--animation-width: -64px;
	--animation-steps: 3;

	animation: sonic-animate steps(3) 1 160ms
		, sonic-animate-echo steps(2) infinite 192ms 160ms;
}

.actor-item.actor-sonic[data-animation="crouching"] .sprite:after {
	--sprite-offset-x: -64px;
	--sprite-offset-y: -576px;
	--animation-width: -64px;
	--animation-steps: 1;
	animation: sonic-animate steps(1) 1 80ms forwards;
}

.actor-item.actor-sonic[data-animation="looking-up"] .sprite:after {
	--sprite-offset-x: 0px;
	--sprite-offset-y: -576px;
}

.actor-item.actor-sonic[data-animation="walking"] .sprite:after {
	--sprite-offset-y: -64px;
	--sprite-offset-x: -0px;
	animation: sonic-walk steps(12) infinite 608ms forwards;
}

.actor-item.actor-sonic[data-animation="running"] .sprite:after,
.actor-item.actor-sonic[data-animation="running-2"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -128px;
	background-position-y: var(--sprite-offset-y);
	animation: sonic-run steps(4) infinite 128ms;
}

.actor-item.actor-sonic[data-animation="running-2"] .sprite:after {
	--sprite-offset-x: -256px;
}

.actor-item.actor-sonic[data-animation="running-3"] .sprite:after,
.actor-item.actor-sonic[data-animation="running-4"] .sprite:after {
	animation: sonic-run steps(4) infinite 128ms;
	--sprite-offset-y: -896px;
	/*--sprite-offset-x: -0px;
	--sprite-offset-x: -256px;*/
}

.actor-item.actor-sonic[data-animation="running-4"] .sprite:after {
	--sprite-offset-x: -256px;

}

.actor-item.actor-sonic:not([data-pushing=false]) .sprite:after {
	left: 10px;
	--sprite-offset-x: -0px;
	--sprite-offset-y: -640px;
	background-position-y: var(--sprite-offset-y);
	animation: sonic-run steps(4) infinite max(500ms, calc(calc(1 - var(--animation-bias)) * 2500ms));
}

.actor-item.actor-sonic:not([data-pushing=false]) .sprite:after {}

.actor-item.actor-sonic[data-falling="true"][data-animation="dropping-start"] .sprite:after,
.actor-item.actor-sonic[data-falling="true"][data-animation="wall-dropping-start"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -512px !important;
	--animation-steps: 1;

	animation: sonic-drop steps(3) 1 96ms 50ms forwards;

	left: -4px;
}

/*.actor-item.actor-sonic .sprite:after,*/
.actor-item.actor-sonic[data-falling="true"][data-animation="dropping"] .sprite:after,
.actor-item.actor-sonic[data-falling="true"][data-animation="wall-dropping"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -512px !important;
	--animation-steps: 1;

	--animation-width: -64px;
	--sprite-offset-x: -192px;

	animation: sonic-animate-echo steps(2) infinite 96ms;

	left: -4px;
}

.actor-item.actor-sonic[data-falling="true"][data-animation="wall-dropping"] .sprite:after {
	transform: rotate(calc(1rad * var(--ground-angle))) translate(32px, 4px);
	left: -32px;
}


.actor-item.actor-sonic[data-falling="true"][data-facing="left"][data-animation="wall-dropping"] .sprite:after {
	transform: rotate(calc(-1rad * var(--ground-angle))) translate(32px, 4px);
}

.actor-item.actor-sonic[data-animation="spindash"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -320px;
	animation: sonic-spindash steps(5) infinite 96ms;
}

.actor-item.actor-sonic[data-animation="lightdash"][data-falling="false"] .sprite:after {
	top: 10px;
}

.actor-item.actor-sonic[data-animation="dash"][data-falling="false"] .sprite:after {
	top: 05px;
}

.actor-item.actor-sonic[data-animation="dash"] .sprite:after,
.actor-item.actor-sonic[data-animation="airdash"] .sprite:after,
.actor-item.actor-sonic[data-animation="lightdash"] .sprite:after,
.actor-item.actor-sonic[data-animation="springdash"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -384px;
	--animation-steps: -3;
	--animation-width: 64px;

	animation: sonic-animate steps(3) infinite 96ms;

	transform: rotate(calc(1rad * var(--air-angle))) translateY(-3px);
}

.actor-item.actor-sonic[data-falling=true][data-animation="dash"] .sprite:after,
.actor-item.actor-sonic[data-falling=true][data-animation="airdash"] .sprite:after,
.actor-item.actor-sonic[data-falling=true][data-animation="lightdash"] .sprite:after,
.actor-item.actor-sonic[data-falling=true][data-animation="springdash"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -384px !important;
	--animation-width: -64px;
	--animation-steps: 3;

	animation: sonic-animate steps(3) infinite 96ms;

	transform: rotate(calc(1rad * var(--air-angle))) translateY(-3px);
}

.actor-item.actor-sonic[data-falling=true][data-animation="lightdash"] .sprite:after {
	animation: sonic-flicker steps(4) infinite 96ms, sonic-animate steps(3) infinite 96ms;
}

.actor-item.actor-sonic[data-animation="wall-stick"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -448px;

	transform: scale(-1,-1) translate(1px, -32px) rotate(calc(calc(-1rad * var(--air-angle)) + 180deg));

	animation: sonic-wall-stick steps(2) 1 256ms;
}

.actor-item.actor-sonic[data-animation="wall-stick-brake"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -448px;

	transform: scale(-1,-1) translate(1px, -32px) rotate(calc(calc(-1rad * var(--air-angle)) + 180deg));

	animation: sonic-wall-stick steps(2) 1 192ms alternate forwards;
}

.actor-item.actor-sonic[data-animation="wall-stick"][data-facing="right"][data-mode="1"] .sprite:after,
.actor-item.actor-sonic[data-animation="wall-stick"][data-facing="left"][data-mode="3"] .sprite:after {
	transform: translateY(32px) rotate(calc(1rad * var(--ground-angle))) scaleX(-1);
}

.actor-item.actor-sonic[data-facing="left"][data-animation="airdash"] .sprite:after,
.actor-item.actor-sonic[data-facing="left"][data-animation="lightdash"] .sprite:after,
.actor-item.actor-sonic[data-facing="left"][data-animation="springdash"] .sprite:after {
	transform: scale(1,1) rotate(calc(calc(-1rad * var(--air-angle)) + 180deg))  translateY(-3px);
}

.actor-item.actor-sonic[data-falling=true][data-facing="left"][data-animation="airdash"] .sprite:after,
.actor-item.actor-sonic[data-falling=true][data-facing="left"][data-animation="lightdash"] .sprite:after,
.actor-item.actor-sonic[data-falling=true][data-facing="left"][data-animation="springdash"] .sprite:after {
	transform: scale(1,1) rotate(calc(calc(-1rad * var(--air-angle)) + 180deg))  translateY(-3px);
}

.actor-item.actor-sonic[data-animation="lightdash"] .sprite:after {
	animation: sonic-flicker steps(4) infinite 96ms, sonic-animate steps(3) infinite 72ms alternate;
}

.actor-item.actor-sonic[data-facing="left"][data-animation="lightdash"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -384px !important;
	--animation-width: -64px;
	--animation-steps: 3;

	transform: scale(1,-1) rotate(calc(calc(1rad * var(--air-angle)) + 180deg));

	animation: sonic-flicker steps(4) infinite 96ms, sonic-animate steps(3) infinite 72ms alternate;
}

.actor-item.actor-sonic[data-animation="lightdash-back"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -384px !important;
	--animation-width: -64px;
	--animation-steps: 3;

	transform: scale(1,-1) rotate(calc(calc(-1rad * var(--air-angle)) + 0deg));

	animation: sonic-flicker steps(4) infinite 96ms, sonic-animate steps(3) infinite 72ms alternate;
}

.actor-item.actor-sonic[data-facing="left"][data-animation="lightdash-back"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -384px !important;
	--animation-width: -64px;
	--animation-steps: 3;

	transform: scale(-1,-1) rotate(calc(calc(-1rad * var(--air-angle)) + 0deg));

	animation: sonic-flicker steps(4) infinite 96ms, sonic-animate steps(3) infinite 72ms alternate;
}

.actor-item.actor-sonic[data-animation="jumping"] .sprite:after,
.actor-item.actor-sonic[data-animation="rolling"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -192px;
	left:  4px;
	transform: rotate( calc(1rad * var(--ground-angle)) );
	transform-origin: 50% 75%;
}


.actor-item.actor-sonic[data-animation="jumping"][data-mode="0"][data-facing=left] .sprite:after,
.actor-item.actor-sonic[data-animation="rolling"][data-mode="0"][data-facing=left] .sprite:after {
	transform: rotate( calc( calc(-1rad * var(--ground-angle)) + 0deg));
}

.actor-item.actor-sonic[data-animation="jumping"][data-mode="1"] .sprite:after,
.actor-item.actor-sonic[data-animation="rolling"][data-mode="1"] .sprite:after {
	transform: rotate( calc( calc(1rad * var(--ground-angle)) + 270deg));
}

.actor-item.actor-sonic[data-animation="jumping"][data-mode="1"][data-facing=left] .sprite:after,
.actor-item.actor-sonic[data-animation="rolling"][data-mode="1"][data-facing=left] .sprite:after {
	transform: rotate( calc( calc(-1rad * var(--ground-angle)) + 90deg)) translateX(5px);
}

.actor-item.actor-sonic[data-animation="jumping"][data-mode="2"] .sprite:after,
.actor-item.actor-sonic[data-animation="rolling"][data-mode="2"] .sprite:after {
	transform: rotate( calc( calc(1rad * var(--ground-angle)) + 180deg)) translateY(-3px);
}

.actor-item.actor-sonic[data-animation="jumping"][data-mode="2"][data-facing=left] .sprite:after,
.actor-item.actor-sonic[data-animation="rolling"][data-mode="2"][data-facing=left] .sprite:after {
	transform: rotate( calc( calc(-1rad * var(--ground-angle)) + 180deg)) translate(8px, -3px);
}

.actor-item.actor-sonic[data-animation="jumping"][data-mode="3"] .sprite:after,
.actor-item.actor-sonic[data-animation="rolling"][data-mode="3"] .sprite:after {
	transform: rotate( calc( calc(1rad * var(--ground-angle)) + 90deg)) translateX(4px);
}

.actor-item.actor-sonic[data-animation="jumping"][data-mode="3"][data-facing=left] .sprite:after,
.actor-item.actor-sonic[data-animation="rolling"][data-mode="3"][data-facing=left] .sprite:after {
	transform: rotate( calc( calc(-1rad * var(--ground-angle)) + 270deg)) translateX(2px);
}

.actor-item.actor-sonic[data-animation="jumping"] .sprite:after {
	animation: sonic-jump steps(4) infinite 96ms;

	/*animation: sonic-animate steps(4) infinite 1280ms;*/
	--sprite-offset-x: -0px;
	--sprite-offset-y: -192px !important;
	--animation-steps: -4;
	--animation-width: 64px;
}

.actor-item.actor-sonic[data-animation="rolling"] .sprite:after {
	/*animation: sonic-animate steps(4) infinite 128ms;*/
	--sprite-offset-x: -0px;
	--sprite-offset-y: -192px !important;
	--animation-steps: -4;
	--animation-width: 64px;

	animation: sonic-jump steps(8) infinite 180ms;
	/*animation: sonic-jump steps(4) infinite calc(calc(calc(1 - var(--animation-bias)) * 64ms) + 128ms);*/

	/*animation: sonic-jump steps(8) infinite calc(calc(calc(1 - var(--animation-bias)) * 512ms) + 128ms);*/
	/*transform: scale(-1,-1) rotate(calc(calc(-1rad * var(--air-angle)) + 0deg));*/
}

.actor-item.actor-sonic[data-animation="rolling"][data-facing="left"][data-heading="1"] .sprite:after,
.actor-item.actor-sonic[data-animation="rolling"][data-facing="right"][data-heading="-1"] .sprite:after {
	animation: sonic-jump steps(8) infinite 180ms reverse;
}

.actor-item.actor-sonic[data-animation="jumping"] .sprite:after {
	transform: none;
}

.actor-item.actor-sonic[data-animation="turning"] .sprite:after {
	--sprite-offset-x: -256px;
	--sprite-offset-y: -256px;
	--animation-width: -64px;
	--animation-steps: 4;

	animation: sonic-animate steps(var(--animation-steps)) 288ms forwards infinite;
}

/*.actor-item.actor-sonic[data-animation] .sprite:after,*/
.actor-item.actor-sonic[data-animation="skidding"] .sprite:after {
	/*--sprite-offset-x: -0px;*/
	/*--sprite-offset-y: -256px;*/
	--animation-width: 64px;
	/*--animation-steps: -2;*/
	/*animation: sonic-animate steps(var(--animation-steps)) infinite 192ms;*/

	/*--sprite-offset-x: -576px;*/
	--sprite-offset-x: -0px;
	--sprite-offset-y: -256px;
	--animation-width: -64px;
	--animation-steps: 6;

	animation: sonic-animate steps(var(--animation-steps)) 288ms forwards;
}

.actor-item.actor-sonic[data-falling=true][data-animation="skidding"] .sprite:after {
	--sprite-offset-x: -128px;
	--sprite-offset-y: -256px;
	--animation-width: -64px;
	--animation-steps: 2;

	animation: sonic-animate steps(var(--animation-steps)) 320ms forwards infinite;
}

.actor-item.actor-sonic[data-animation="dead"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -768px;
	--animation-width: 64px;
	--animation-steps: -1;

	animation: sonic-animate-echo steps(1) 512ms 144ms infinite;
}

.actor-item.actor-sonic[data-animation="grinding"] .sprite:after {
	top: 2px;
	--sprite-offset-x: -0px;
	--sprite-offset-y: -832px;
	animation: sonic-run steps(4) infinite 128ms forwards;
}

.actor-item.actor-sonic[data-animation="grinding-crouching"] .sprite:after {
	top: 2px;
	--sprite-offset-x: -256px;
	--sprite-offset-y: -832px;
	animation: sonic-run steps(4) infinite 128ms forwards;
}

.actor-item.actor-sonic[data-animation="hanging"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -704px;
	height: 64px;
	top:  24px;
}

.actor-item.actor-sonic[data-super="true"] .sprite {
	animation: super-sonic-flicker steps(10) infinite 1s alternate;
}

.actor-item.actor-sonic[data-hyper="true"] .sprite {
	animation: hyper-sonic-flicker steps(5) infinite 0.25s alternate;
}

.actor-item.actor-sonic .sheild {
	opacity: var(--opacity, 0);
}

.actor-item.actor-sonic[data-facing="left"] .double-spin {
	transform: scaleX(-1);
}

.actor-item.actor-sonic[data-doublespin="true"] .double-spin {
	animation: sonic-double-spin steps(6) 200ms 1 forwards;
	background-repeat: no-repeat;
	background-image: url(/Sonic/double-spin.png);
	width: 48px;
	height: 48px;
	position: absolute;
	top: -41px;
	left: -24px;
	opacity: 0.75;
}

.actor-item.actor-sonic[data-animation="standing"] {
	/*z-index: 100;*/
}

.actor-item.actor-sonic[data-animation="holding"] .sprite:after {
	/*--sprite-offset-x: -64px;*/
	/*--sprite-offset-x: -256px;*/
	/*--sprite-offset-x: -448px;*/
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	--sprite-offset-x: -256px;
	--sprite-offset-x: -320px;
	--sprite-offset-y: -640px;
	--animation-width: 64px;
	--animation-steps: -4;
}

.actor-item.actor-sonic[data-carrying=true][data-animation="standing"],
.actor-item.actor-sonic[data-carrying=true][data-animation="jumping"],
.actor-item.actor-sonic[data-carrying=true][data-animation="walking"] {
	z-index: 100;
}

.actor-item.actor-sonic[data-carrying=true][data-animation="walking"] .sprite:after {
	--sprite-offset-x: -256px !important;
	--sprite-offset-y: -640px !important;
	--animation-width: 64px  !important;
	--animation-steps: -4 !important;
}

.actor-item.actor-sonic[data-carrying=true][data-animation="standing"] .sprite:after,
.actor-item.actor-sonic[data-carrying=true][data-animation="jumping"] .sprite:after,
.actor-item.actor-sonic[data-carrying=true][data-animation="standing"] .sprite:after {
	--sprite-offset-x: -320px;
	--sprite-offset-y: -640px !important;
	--animation-width: 64px  !important;
	--animation-steps: -4 !important;
}

.actor-item.actor-sonic[data-carrying=true][data-animation="jumping"] .sprite:after {
	animation: none;
}
.actor-item.actor-sonic[data-carrying=true][data-animation="walking"] .sprite:after{
	animation: sonic-animate steps(4) infinite 560ms;
}

.actor-item.actor-sonic[data-carrying=true][data-animation="standing"] .rear-arm,
.actor-item.actor-sonic[data-carrying=true][data-animation="jumping"] .rear-arm,
.actor-item.actor-sonic[data-carrying=true][data-animation="walking"] .rear-arm {
	position: absolute;
	width: 64px;
	height: 64px;
	left:  -33px;
	top:  -64px;
	background-image: var(--sprite-sheet);
	background-position-x: -256px;
	background-position-y: -578px;
	--sprite-offset-x: -256px;
	--sprite-offset-y: -578px;
	--animation-width: 64px;
	--animation-steps: -4;
	/*animation: sonic-animate steps(4) infinite 900ms;*/
	z-index: -1 !important;
}

.actor-item.actor-sonic[data-carrying=true][data-facing=right] .rear-arm {
	transform: scale(-1,1);
}

@keyframes sonic-animate {
	from{
		background-position-x: var(--sprite-offset-x);
	}
	to{
		background-position-x: calc(calc(var(--animation-steps) * var(--animation-width)) + var(--sprite-offset-x));
	}
}

@keyframes sonic-animate-echo {
	from{
		background-position-x: calc(calc(calc(1 * var(--animation-width)) + var(--sprite-offset-x)) + calc(var(--animation-width) * calc(var(--animation-steps) - 1)));
	}
	to{
		background-position-x: calc(calc(calc(1 * var(--animation-width)) + var(--sprite-offset-x)) + calc(var(--animation-width) * calc(var(--animation-steps) - 3)));
	}
}

@keyframes sonic-idle {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-192px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes sonic-walk {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-768px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes sonic-run {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-256px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes sonic-jump {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-512px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes sonic-jump-alt {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-448px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes sonic-wall-stick {
	from{
		background-position-x: var(--sprite-offset-x);
	}
	to{
		background-position-x: calc(-128px + var(--sprite-offset-x));
	}
}

@keyframes sonic-drop {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-192px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes sonic-spindash {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-320px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes sonic-double-spin {
	from{
		background-position: 0 -48px;
	}
	to{
		background-position: -288px -48px;
	}
}

@keyframes sonic-flicker {
	from{
		filter: brightness(1);
	}
	50%{
		filter: brightness(2);
	}
	to{
		filter: brightness(10);
	}
}

@keyframes super-sonic-flicker {
	from{
		filter: brightness(0.85);
	}
	to{
		filter: brightness(1.125);
	}
}

@keyframes hyper-sonic-flicker {
	from{
		filter: brightness(0.70) saturate(1.1) contrast(1.25);
	}
	to{
		filter: brightness(1.25);
	}
}

