.actor-item.actor-spikes {
	position: absolute;
}

.actor-item.actor-spikes .sprite {
	position: relative;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url(/Sonic/spikes-wide.png);
	transition: background-position 0.05s linear;
}

.actor-item.actor-spikes[data-retracted="true"] .sprite {
	transition: background-position 0.1s ease-in;
}

.actor-item.actor-spikes[data-pointing="0"][data-retracted="true"] .sprite {
	background-position: 4px 32px;
}

.actor-item.actor-spikes[data-pointing="1"][data-retracted="true"] .sprite {
	background-position: -32px 4px;
}

.actor-item.actor-spikes[data-pointing="2"][data-retracted="true"] .sprite {
	background-position: 4px 32px;
}

.actor-item.actor-spikes[data-pointing="3"][data-retracted="true"] .sprite {
	background-position: 32px 4px;
}

.actor-item.actor-spikes[data-pointing="2"] .sprite,
.actor-item.actor-spikes[data-pointing="0"] .sprite {
	background-image: url(/Sonic/spikes-wide.png);
	background-repeat: repeat-x;
	background-position-x: 4px;
	height: 32px;
}

.actor-item.actor-spikes[data-pointing="1"] .sprite,
.actor-item.actor-spikes[data-pointing="3"] .sprite {
	background-image: url(/Sonic/spikes-wide-horizontal.png);
	background-repeat: repeat-y;
	background-position-y: 4px;
	width: 32px;
}

.actor-item.actor-spikes[data-pointing="1"] .sprite {
	transform-origin: center;
	transform:
		translate(-50%, calc(-100% - var(--hoverWidth)))
		rotate(calc(-1rad* var(--display-angle)))
		scaleX(-1);
}

.actor-item.actor-spikes[data-pointing="2"] .sprite {
	transform-origin: center;
	transform:
		translate(-50%, calc(-100% - var(--hoverWidth)))
		rotate(calc(-1rad* var(--display-angle)))
		scaleY(-1);
}
