.actor-spitfire .sprite::after {
	left: 0;
	content: '';
	position: absolute;
	background-image: url(/Sonic/spitfire.png);
	width: 96px;
	height: 32px;
	animation: spitfire-shoot 0.5s steps(10) infinite;
}

.actor-spitfire[data-direction="-1"] {
	transform: scaleX(-1);
}

.actor-spitfire-gone .sprite::after {
	left: 8px;
	background-image: url(/Sonic/sparkle.png);
	width: 16px;
	height: 16px;
	animation: apple-sparkle 100ms steps(4) infinite
		, apple-sparkle-fade 300ms ease-out 1 backwards;
}
/*
@keyframes apple-hover {
	0% { transform: translateY(0px); }
	50% { transform: translateY(6px); }
	100% { transform: translateY(0px); }
}

@keyframes apple-sparkle {
	0% { background-position-y: 0px; }
	100% { background-position-y: -64px; }
}

@keyframes apple-sparkle-fade {
	0% { opacity: 0; }
	99% { opacity: 1; }
	100% { opacity: 0; }
}

*/

@keyframes spitfire-shoot {
	0% { background-position-y: 0px; }
	100% { background-position-y: -320px; }
}
