.actor-item.actor-spring {
	position: absolute;
	width: 32px;
	height: 32px;
	transform: rotate(calc( calc(var(--angle) * 1rad) + 90deg));
	transform-origin: 0px -16px;
}

.actor-item.actor-spring .sprite {
	background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	background-image: url(/Sonic/springs.png);
	width: 32px;
	height: 32px;
	--sprite-offset-x: -16px;
	--sprite-offset-y: -13px;
}

.actor-item.actor-spring .spring-pad {
	position: absolute;
	top: -14px;
	left: -16px;
	background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	background-image: url(/Sonic/springs.png);
	width: 32px;
	height: 8px;
	--sprite-offset-x: -80px;
	--sprite-offset-y: -92px;
	transition: top 0.4s ease-out 0.2s;
}

.actor-item.actor-spring .spring-pad:not([data-color=""]) {
	filter: hue-rotate(var(--color));
}

.actor-item.actor-spring .spring-pad[data-type=yellow] {
	--sprite-offset-x: -15px;
}

.actor-item.actor-spring[data-colliding=true] .sprite {
	--sprite-offset-x: -80px;
}

.actor-item.actor-spring[data-colliding=true] .spring-pad {
	transition: top 0.2s;
	z-index: 1;
	top: -52px;
}
