.actor-item.actor-spring {
	position: absolute;
	width: 32px;
	height: 32px;
	transform-origin: 0px -16px;
	transform: rotate(calc( calc(var(--angle) * 1rad) + 90deg));
}

.actor-item.actor-spring .sprite {
	position: relative;
	background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	background-image: url(/Sonic/springs.png);
	width: 32px;
	height: 32px;
	--sprite-offset-x: -16px;
	--sprite-offset-y: -13px;
	transition: background 0.0s 0.125s steps(2);
}

.actor-item.actor-spring .spring-pad {
	position: absolute;
	top: -14px;
	left: -16px;
	background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	background-image: url(/Sonic/springs.png);
	width: 32px;
	height: 8px;
	--sprite-offset-x: -80px;
	--sprite-offset-y: -92px;
	transition: top 303ms 30ms ease-out;
	z-index: 1;
}

.actor-item.actor-spring .spring-pad:not([data-color=""]) {
	filter: hue-rotate(var(--color));
}

.actor-item.actor-spring .spring-pad[data-type=yellow] {
	--sprite-offset-x: -15px;
}

.actor-item.actor-spring[data-active=true] .sprite {
	--sprite-offset-x: -80px;
	transition: background 0s steps(2);
}

.actor-item.actor-spring[data-active=true] .spring-pad {
	transition: top 30ms ease-in;
	z-index: 10;
	top: -36px;
}
