.actor-item.actor-star-post .sprite {
	background-image: url(/Sonic/star-post.png);
	height: 48px;
	width: 16px;
}

.actor-star-post {
	z-index: -1;
}

.star-post-head-box {
	z-index: -1;
	position: absolute;
	top: -62px;
	left: -8px;
}

.star-post-head,
.star-post-head-box {
	width: 16px;
	height: 16px;
	transform-origin: center calc(100% + 1px);
}

.star-post-head {
	background-image: url(/Sonic/star-post-head.png);
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
}

.actor-star-post[data-spin="true"] .star-post-head-box {
	animation: spin2x 1 ease-out 700ms both;
	width: 16px;
	height: 16px;
}

.actor-star-post[data-active="true"] .star-post-head {
	animation: starPostActive steps(2) 200ms 0.5s infinite;
}

.actor-star-post[data-active="true"][data-direction="-1"] .star-post-head-box {
	animation-direction: reverse;
	animation-timing-function: ease-in;
}

.actor-item.actor-star-post .sprite {
	background-image: url(/Sonic/star-post.png);
	height: 48px;
	width: 16px;
}

.actor-item.actor-star-post .labels {
	display: flex !important;
	flex-direction: column;
}
