.actor-steel-crate {
	z-index: 1;
}

.actor-steel-crate .sprite.actor-steel-crate {
	background-image: url(/custom/steel-crate.png);
}

.actor-item.actor-breakable-block.actor-steel-crate .fragment {
	background-image: url(/custom/steel-crate.png);
	--centerX: calc(var(--sprite-x, 0) * calc(var(--width, 32) * -1px));
	--centerY: calc(var(--sprite-y, 0) * calc(var(--height, 32) * -1px));
}
