.point-actor.actor-super-ring {
	pointer-events: none;
}

.point-actor.actor-super-ring .sprite {
	/*background: black;*/
	z-index: 2;
}

.point-actor.actor-super-ring canvas {
	position: absolute;
	left: calc(var(--width) * -0.5px);
	top: calc(var(--height) * -1px);
	z-index: -1;
}

.point-actor.actor-super-ring canvas:last-child {
	z-index: 10;
}

.filter-actor-super-ring.pinch-filter {
	transition: transform 0.5s ease-in-out;
	transform: scale(0);
}

.filter-actor-super-ring.pinch-filter.grabbing {
	transform: scale(2.5);
	/*filter: blur(1px) brightness(0) !important;*/
	/*backdrop-filter: blur(1px) !important;*/
}
