.actor-item.actor-switch .sprite {
	content: ' ';
	display: block;
	height: 15px;
	width: 32px;
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	background-image: url(/Sonic/switch.png);
	opacity:  var(--opacity);
}

.actor-item.actor-switch[data-active=true] .sprite {
	--sprite-offset-x: -32px;
}

.actor-item.actor-switch.actor-heavy-duty-switch .sprite {
	background-image: url(/custom/heavy-switch.png);
	height: 18px;
}

.actor-item.actor-switch.actor-heavy-duty-switch[data-active=true] .sprite {
	--sprite-offset-x: -32px;
}
