.actor-item.actor-tails .sprite {
	height: 64px;
	width: 64px;
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
}

.actor-item.actor-tails .sprite:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(/Sonic/tails.png);
	background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	height: 64px;
	width: 64px;
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	/*z-index: 1;*/
}
/*
.actor-item.actor-tails[data-animation="standing"] .sprite:after {
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
} */

.actor-item.actor-tails[data-animation="idle"] .sprite:after {
	--sprite-offset-x: -64px;
	--sprite-offset-y: -0px;
	animation: tails-flying-tired steps(2) infinite 512ms;
}
.actor-item.actor-tails[data-animation="walking"] .sprite:after {
	--sprite-offset-x: 0px;
	--sprite-offset-y: -64px;
	animation: tails-walk steps(8) infinite 512ms;
}

.actor-item.actor-tails[data-animation="side-flip"] .sprite:after {
	--sprite-offset-y: -640px;
	--sprite-offset-x: -0px;
	animation: tails-corkscrew steps(12) infinite 0.75s forwards;
}

.actor-item.actor-tails[data-animation="corkscrew"] .sprite:after {
	--sprite-offset-y: -640px;
	--sprite-offset-x: -0px;
	animation: tails-corkscrew steps(12) infinite 1s calc(-1s * var(--corkscrew)) forwards;
	animation-play-state: paused;
}

.actor-item.actor-tails[data-animation="barrel-roll"] .sprite:after {
	--sprite-offset-y: -640px;
	--sprite-offset-x: -0px;
	animation: tails-corkscrew steps(12) infinite 1s calc(-1s + calc(-1s * var(--corkscrew))) forwards;
	animation-play-state: paused;
	/*transform: rotate(90deg);*/
	/*transition: transform 1s;*/
}

.actor-item.actor-tails[data-animation="flip"] .sprite:after {
	--sprite-offset-y: -640px;
	--sprite-offset-x: -0px;
	animation: tails-corkscrew steps(12) infinite 500ms forwards;
}

.actor-item.actor-tails[data-animation="running"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -128px;
	animation: tails-run steps(4) infinite 128ms;
}

.actor-item.actor-tails[data-animation="running-2"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -128px;
	animation: tails-run-2 steps(4) infinite 64ms;
}

.actor-item.actor-tails[data-animation="crouching"] .sprite:after {
	--sprite-offset-x: -256px;
	--sprite-offset-y: -192px;
}

.actor-item.actor-tails[data-animation="looking-up"] .sprite:after {
	--sprite-offset-x: -192px;
	--sprite-offset-y: -192px;
}

.actor-item.actor-tails[data-animation="rolling"] .sprite:after,
.actor-item.actor-tails[data-animation="jumping"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -192px;
	top: 1px;
	animation: tails-jump steps(3) infinite 192ms;
}

.actor-item.actor-tails[data-animation="spindash"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -384px;
	top: 1px;
	animation: tails-jump steps(3) infinite 96ms;
}

.actor-item.actor-tails[data-animation="flying"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -320px;

	left: 8px;
}

.actor-item.actor-tails[data-animation="flying-tired"] .sprite:after {
	--sprite-offset-x: -64px;
	--sprite-offset-y: -320px;
	left: 8px;
	animation: tails-flying-tired steps(2) infinite 192ms;
}

.actor-item.actor-tails[data-animation="hanging"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -448px;
	top: 32px;
}

.actor-item.actor-tails[data-animation="grinding"] .sprite:after {
	top:3px;
	--sprite-offset-x: -128px;
	--sprite-offset-y: -256px;
	animation: tails-flying-tired steps(2) infinite 80ms;
	animation-play-state: initial !important;
}

.actor-item.actor-tails[data-animation="grinding-crouching"] .sprite:after {
	top:3px;
	--sprite-offset-x: -256px;
	--sprite-offset-y: -256px;
	animation: tails-flying-tired steps(2) infinite 80ms;
	animation-play-state: initial !important;
}

.actor-item.actor-tails[data-animation="grinding"] .tails-tails {
	left: -3px;
}

.actor-item.actor-tails[data-animation="dead"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -512px;
}

.actor-item.actor-tails[data-animation="dropping"] .sprite:after {
	--sprite-offset-x: -320px;
	--sprite-offset-y: -128px;
}

.actor-item.actor-tails[data-animation="dropping"] .tails-tails {
	top: 26px;
	left:-3px
}

.actor-item.actor-tails[data-animation="startle"] .sprite:after {
	--sprite-offset-x: -64px;
	--sprite-offset-y: -512px;
	--animation-width: 64px;
	--animation-steps: 2;

	animation: tails-animate steps(var(--animation-steps)) infinite 960ms;
}

.actor-item.actor-tails[data-animation="skidding"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -256px;
	--animation-steps: -2;
	--animation-width: 64px;

	animation: tails-animate steps(var(--animation-steps)) infinite 96ms;
}

.actor-item.actor-tails[data-animation="springdash"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -576px;
	--animation-steps: -2;
	--animation-width: 64px;
	transform: rotate(calc(90deg + calc(1rad * var(--air-angle)))) scaleX(1) translateX(3px);

	animation: tails-flying-tired steps(2) infinite 192ms;
	animation-play-state: playing !important;
}

.actor-item.actor-tails[data-animation="springdash"][data-facing=left] .sprite:after {
	transform: rotate(calc(-90deg + calc(-1rad * var(--air-angle)))) scaleX(-1) translateY(-3px);
}

.actor-item.actor-tails[data-animation="springdash"] .tails-tails {
	display: none;
}

@keyframes tails-animate {
	from{
		background-position-x: var(--sprite-offset-x);
		background-position-y: var(--sprite-offset-y);
	}
	to{
		background-position-x: calc(calc(calc(-1 * var(--animation-steps)) * var(--animation-width)) + var(--sprite-offset-x));
		background-position-y: var(--sprite-offset-y);
	}
}

@keyframes tails-walk {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-512px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes tails-run {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-256px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes tails-run-2 {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-256px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes tails-corkscrew {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-768px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes tails-flying-tired {
	from{
		background-position: calc(var(--sprite-offset-x)) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-128px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes tails-jump {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-192px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

.actor-item.actor-tails .tails-tails {
	position: absolute;
	top: 32px;
	left: -6px;

	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	--animation-steps: 6;
	--animation-width: 32px;

	width: 32px;
	height: 31px;

	background-image: url(/Sonic/tails-tails.png);
	background-position: var(--sprite-offset-x) var(--sprite-offset-y);

	z-index: -1;

	animation: tails-animate steps(var(--animation-steps)) infinite 350ms;
}

.actor-item.actor-tails[data-animation="walking"] .tails-tails,
.actor-item.actor-tails[data-animation="running"] .tails-tails,
.actor-item.actor-tails[data-animation="running-2"] .tails-tails {
	display: none;
}

.actor-item.actor-tails[data-animation="jumping"] .tails-tails,
.actor-item.actor-tails[data-animation="rolling"] .tails-tails {
	--sprite-offset-y: 64px;
	--animation-steps: 5;
	top: 32px;
	left: -10px;
	transform-origin: 42px 18px;
	transform: rotate(calc(0deg + calc(1rad * var(--air-angle))));
}

.actor-item.actor-tails[data-animation="rolling"][data-facing="left"] .tails-tails,
.actor-item.actor-tails[data-animation="jumping"][data-facing="left"] .tails-tails {
	transform: rotate(calc(180deg - calc(1rad * var(--air-angle))));
}

.actor-item.actor-tails[data-animation="jumping"][data-reversing=true][data-falling=true] .tails-tails,
.actor-item.actor-tails[data-animation="rolling"][data-reversing=true][data-falling=true] .tails-tails {
	/* transform: rotate(calc(180deg + calc(-1rad * var(--air-angle)))) scaleY(-1);pp */
}

.actor-item.actor-tails[data-animation="spindash"] .tails-tails {
	--sprite-offset-y: 64px;
	--animation-steps: 5;
	top: 42px;
	left: -10px;
	transform-origin: 42px 16px;
	/* transform: rotate(calc(-90deg + calc(1rad * var(--air-angle)))); */
}

.actor-item.actor-tails[data-falling=false][data-animation="rolling"] .tails-tails {
	transform: rotate(180deg - calc(calc(-1rad * var(--angle))));
}

.actor-item.actor-tails[data-falling=false][data-animation="rolling"][data-facing="left"] .tails-tails {
	transform: rotate(180deg - calc(calc(1rad * var(--angle))));
}

.actor-item.actor-tails[data-falling=false][data-animation="rolling"][data-reversing=true] .tails-tails {
	transform: rotate(calc(180deg + calc(1rad * var(--air-angle)))) scaleY(-1);
}

.actor-item.actor-tails[data-animation="flying"] .tails-tails,
.actor-item.actor-tails[data-animation="flying-tired"] .tails-tails {
	animation: tails-animate steps(var(--animation-steps)) infinite 50ms;
	--sprite-offset-y: -64px;
	--animation-steps: 2;
	top: 24px;
	left: 16px;
	transform-origin: 42px 16px;
}
