.actor-item.actor-tails .sprite {
	height: 64px;
	width: 64px;
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	z-index: 1;
}

.actor-item.actor-tails .sprite:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(/Sonic/tails.png);
	background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	height: 64px;
	width: 64px;
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	z-index: 1;
}

.actor-item.actor-tails[data-animation="standing"] .sprite:after {
	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
}

.actor-item.actor-tails[data-animation="walking"] .sprite:after {
	--sprite-offset-x: 0px;
	--sprite-offset-y: -64px;
	animation: tails-walk steps(8) infinite 512ms;
}

.actor-item.actor-tails[data-animation="running"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -128px;
	animation: tails-run steps(4) infinite 128ms;
}

.actor-item.actor-tails[data-animation="jumping"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -192px;
	animation: tails-jump steps(3) infinite 96ms;
}

.actor-item.actor-tails[data-animation="skidding"] .sprite:after {
	--sprite-offset-x: -0px;
	--sprite-offset-y: -256px;
	--animation-steps: -2;
	--animation-width: 64px;

	animation: tails-animate steps(var(--animation-steps)) infinite 96ms;
}

@keyframes tails-animate {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(calc(calc(-1 * var(--animation-steps)) * var(--animation-width)) + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes tails-walk {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-512px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes tails-run {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-256px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

@keyframes tails-jump {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-192px + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}

.actor-item.actor-tails .tails-tails {
	position: absolute;
	top: 32px;
	left: -6px;

	--sprite-offset-x: -0px;
	--sprite-offset-y: -0px;
	--animation-steps: 6;
	--animation-width: 32px;

	width: 32px;
	height: 32px;

	background-image: url(/Sonic/tails-tails.png);
	background-position: var(--sprite-offset-x) var(--sprite-offset-y);

	z-index: -1;

	animation: tails-animate steps(var(--animation-steps)) infinite 350ms;
}

.actor-item.actor-tails[data-animation="walking"] .tails-tails,
.actor-item.actor-tails[data-animation="running"] .tails-tails {
	display: none;
}

.actor-item.actor-tails[data-animation="jumping"] .tails-tails,
.actor-item.actor-tails[data-animation="rolling"] .tails-tails {
	--sprite-offset-y: -32px;
	--animation-steps: 5;
	top: 32px;
	left: -10px;
	transform-origin: 42px 16px;
	transform: rotate(calc(0deg + calc(1rad * var(--display-angle))));
}
