.actor-item.actor-tumbler {
	z-index: 10000000;
}

.actor-item.actor-tumbler .sprite::after {
	content: ' ';
	position: absolute;
	left: 0;
	bottom: -22px;
	background-image: url(/outrunners/easy-handling.png);
	width: 96px;
	height: 96px;
	background-position-x: 0;
}

.actor-item.actor-tumbler[data-color=red] .sprite::after {
	background-position-y: -96px;
}

.actor-item.actor-tumbler[data-color=green] .sprite::after {
	background-position-y: calc(2 * -96px);
}

.actor-item.actor-tumbler[data-color=blue] .sprite::after {
}

.actor-item.actor-tumbler[data-animation="tumbling"] .sprite::after {
	animation: car-tumbler 0.5s steps(5) infinite;
}

@keyframes car-tumbler {
	0%  { background-position-x: calc(-0 * 96px); }
	100%{ background-position-x: calc(-5 * 96px); }
}
