.actor-item.actor-turtloid .sprite::after {
	content: ' ';
	position: absolute;
	left: 0%;
	top: -8px;
	background-image: url(/Sonic/turtloid.png);
	width: 56px;
	height: 37px;
}

.actor-item.actor-turtloid[data-animation="swimming"] .sprite::after  {
	animation: turtloid-swim infinite steps(3) 800ms;
}

.actor-item.actor-turtloid[data-animation="sinking"] .sprite::after  {
	background-position-y: 0px;
}

.actor-item.actor-turtloid[data-animation="idle"] .sprite::after  {
	background-position-y: -37px;
}

.actor-item.actor-turtloid .sprite::before {
	position: absolute;
	left: -12px;
	bottom: 2px;
	content:'';
	background-image: url(/Sonic/turtloid-flame.png);
	width: 16px;
	height: 8px;
	animation: turtloid-flame infinite steps(2) 100ms;
}

.actor-item.actor-turtloid[data-direction="-1"] .sprite::after {
	transform: scaleX(-1);
}

.actor-item.actor-turtloid[data-direction="-1"] .sprite::before {
	left: auto;
	right: -12px;
	transform: scaleX(-1);
}


.actor-item.actor-hex-nut {
/*	filter: none !important;*/
}

@keyframes turtloid-flame {
	0% { background-position-y: 0px; }
	100% { background-position-y: -16px; }
}


@keyframes turtloid-swim {
	0% { background-position-y: 0px; }
	100% { background-position-y: -111px; }
}
