.actor-wooden-crate {
	z-index: 1;
}

.actor-wooden-crate .sprite.actor-wooden-crate {
	background-image: url(/Sonic/wooden-crate.png);
	height: 64px;
	width: 64px;
}

.actor-item.actor-breakable-block.actor-wooden-crate .fragment {
	background-image: url(/Sonic/wooden-crate.png);
	--centerX: calc(var(--sprite-x) * calc(var(--width, 32) * -1px));
	--centerY: calc(var(--sprite-y) * calc(var(--height, 32) * -1px));
}
