.particle-dust {
	background-image: url(/Sonic/dust.png);

	width: 14px;
	height: 14px;

	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	--animation-steps: 4;
	--animation-width: 14px;

	animation: particle-animate steps(var(--animation-steps)) infinite 110ms;

	opacity: 0.75;
}

.particle-sparks {

	background-image: url(/Sonic/mecha-sparks.png);

	width: 14px;
	height: 14px;

	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	--animation-steps: 4;
	--animation-width: 14px;

	animation:
		particle-animate steps(var(--animation-steps)) infinite 256ms,
		particle-stretch steps(var(--animation-steps)) infinite 256ms
	;

	opacity: 1;

	transform-origin: center 1em;
}

.particle-spindash-dust {
	background-image: url(/Sonic/spindash-dust.png);
	width: 33px;
	height: 23px;

	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	--animation-steps: 7;
	--animation-width: 33px;

	animation:
		particle-animate
		steps(var(--animation-steps))
		infinite
		calc(calc( 256 / var(--dashCharge) ) * 1ms);

	transform: translate(-125%, -100%) scaleX(var(--direction)) !important;

	opacity: calc(0 + calc( 0.5 * var(--dashCharge) ));

	z-index: -1;
}

.particle-spindash-dust[data-facing=left] {
	transform: translate(25%, -100%) scaleX(var(--direction)) !important;
}
