.particle-dust {
	background-image: url(/Sonic/dust.png);

	width: 14px;
	height: 14px;

	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	--animation-steps: 4;
	--animation-width: 14px;

	animation: particle-animate steps(var(--animation-steps)) infinite 110ms;

	opacity: 0.75;
}

.particle-skim {
	background-image: url(/Sonic/skim-splash.png);

	width: 48px;
	height: 16px;

	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	--animation-steps: 4;
	--animation-width: 48px;

	transform: translate(-50%, -100%) scaleX(var(--flip, 1)) !important;

	animation:
		particle-animate steps(var(--animation-steps)) infinite 256ms
		, particle-fade ease-out 1 256ms forwards
	;
}

.particle-sparks {

	background-image: url(/Sonic/mecha-sparks.png);

	width: 14px;
	height: 14px;

	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	--animation-steps: 4;
	--animation-width: 14px;

	animation:
		particle-animate steps(var(--animation-steps)) infinite 256ms,
		particle-animate steps(var(--animation-steps)) infinite 256ms,
		spark-y-fall ease-in infinite 1024ms forwards
	;

	opacity: 1;

	transform-origin: center 1em;
}

.envelope-sparks {
	animation: spark-x-fall ease-out infinite 1024ms forwards;
}

@keyframes spark-x-fall {
	from{
		transform: translate(calc(0px * var(--xMomentum)), 0px);
	}
	to{
		transform: translate(calc(-4px * var(--xMomentum)), 0px);
	}
}

@keyframes spark-y-fall {
	from{
		transform: translate(0, calc(1px * var(--yMomentum)));
	}
	to{
		transform: translate(0, 50vh);
	}
}

.particle-spindash-dust {
	background-image: url(/Sonic/spindash-dust.png);
	width: 33px;
	height: 23px;

	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	--animation-steps: 7;
	--animation-width: 33px;

	animation:
		particle-animate
		steps(var(--animation-steps))
		infinite
		calc(calc( 256 / var(--dashCharge) ) * 1ms);

	transform: translate(-125%, -100%) scaleX(var(--direction)) !important;

	opacity: calc(0 + calc( 0.5 * var(--dashCharge) ));

	z-index: -1;
}

.particle-spindash-dust[data-facing=left] {
	transform: translate(25%, -100%) scaleX(var(--direction)) !important;
}
