.particle-explosion {
	background-image: url(/Sonic/explosion.png);
	width: 64px;
	height: 64px;

	--animation-steps: 4;
	--sprite-offset-x: 0px;
	--sprite-offset-y: -64px;
	/*--sprite-offset-y: -192px;*/

	z-index: 100;

	animation: explosion steps(4) 1 forwards;
	animation-duration: 512ms;
}

@-webkit-keyframes explosion{
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(-256px + var(--sprite-offset-x)) var(--sprite-offset-y);
		opacity: 0.5
	}
}
