.viewport-particles > * {
	position: absolute;
	left: 0!important;
	top: 0!important;
	--base-transform:
		translate(-50%, -50%)
		translate(
			calc(1px * calc(var(--x) + var(--xPos)) )
			, calc(1px * calc(var(--y) + var(--yPos)) )
		)
		rotate(calc(var(--angle, 0) * 1rad ));
	transform: var(--base-transform);
	filter:url(#motionBlur);
}

[data-paused="0"] .viewport-particles > *,
[data-paused="-1"] .viewport-particles > * {
	animation-play-state: paused !important;
}

@keyframes particle-animate {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(calc(calc(-1 * var(--animation-steps)) * var(--animation-width)) + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}


@keyframes particle-stretch {
	from{
		transform: scale(1) translateY(-0.5em);
	}
	to{
		transform: scale(1.25) translateY(-1em);
	}
}

@keyframes particle-x-fall {
	from{
		transform: translate(0px, 0);
	}
	to{
		transform: translate(calc(1px * var(--xMomentum)), 0);
	}
}

@keyframes particle-y-fall {
	from{
		transform: translate(0, calc(-1px * var(--yMomentum)));
	}
	to{
		transform: translate(0, 50vh);
	}
}

@keyframes particle-glow {
	from{
		filter:  contrast(0) brightness(5);
	}
	to{
		filter:  initial
	}
}


@keyframes particle-fade {
	from{
		opacity:  1;
	}
	to{
		opacity:  0;
	}
}
