.viewport-particles > * {
	position: absolute;
	left: calc(1px * var(--x));
	top: calc(1px * var(--y));
	transform: translate(-50%, -50%);
	filter:url(#motionBlur);
}

@keyframes particle-animate {
	from{
		background-position: var(--sprite-offset-x) var(--sprite-offset-y);
	}
	to{
		background-position: calc(calc(calc(-1 * var(--animation-steps)) * var(--animation-width)) + var(--sprite-offset-x)) var(--sprite-offset-y);
	}
}


@keyframes particle-stretch {
	from{
		transform: scale(1) translateY(-0.5em);
	}
	to{
		transform: scale(1.25) translateY(-1em);
	}
}

@keyframes particle-x-fall {
	from{
		transform: translate(0px, 0);
	}
	to{
		transform: translate(calc(1px * var(--xMomentum)), 0);
	}
}


@keyframes particle-y-fall {
	from{
		transform: translate(0, calc(-1px * var(--yMomentum)));
	}
	to{
		transform: translate(0, 50vh);
	}
}
