.particle-rock {
	width: 23px;
	height: 23px;
	animation: particle-x-fall ease-out 1 calc(1ms * var(--fallSpeed)) forwards;
	z-index: 200 !important;
}

.particle-rock:after {
	z-index: 200 !important;
	content: ' ';
	display: block;
	transform-origin: bottom center;
	background-image: url(/Sonic/rocks-split.png);
	width: 23px;
	height: 23px;

	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	--animation-steps: 4;
	--animation-width: 23px;

	transform: translate(0, calc(-1px * var(--yMomentum)));

	animation: particle-y-fall ease-in 1 calc(1ms * var(--fallSpeed)) forwards, particle-animate steps(var(--animation-steps)) infinite 512ms;

}
