.particle-splash {
	transform: translate(-50%, calc(-100% + 6px)) scale(var(--particleScale, 1));
	transform-origin: bottom center;
	background-image: url(/Sonic/splash.png);
	width: 32px;
	height: 32px;

	--sprite-offset-x: 0px;
	--sprite-offset-y: 0px;
	--animation-steps: 7;
	--animation-width: 32px;

	animation: particle-animate steps(var(--animation-steps)) 1 forwards calc(240ms * var(--particleScale, 1));

	z-index: 10000;
}
