/*.backdrop.marble-garden {
	background-color: #000;
	transform: scale(2);
}
.backdrop.marble-garden {
	background-color: #000;
	transform: scale(2);
}
*/
.aurora .backdrop::before {
	opacity: 0.65;
}

.backdrop::before {
	/*opacity: 1;*/
	opacity: 0;
	background-image: url(/custom/aurora.png);
	background-size: 100% 55%;
	background-repeat: no-repeat;
}

.aurora .backdrop {
	background-color: #323292;
}

.backdrop.west-side {
	/*background: linear-gradient(0deg, rgba(10,194,133,1) 40%, rgba(0,114,255,1) 100%);*/
	/*background-color: #323292;*/
	background-color: #1e1659;
	/*filter: blur(0.5px);*/
}

.backdrop.west-side-cloudy {
	background-color: #12173c;
	filter: blur(0.5px);
}

.backdrop.west-side-cloudy.lightning {
	animation: west-side-lightning 1s ease-out infinite forwards;
}

@keyframes west-side-lightning {
	0% { background-color: #12173c; filter: brightness(1) blur(0.5px); }
	5% {
		background-color: #CCC;
		filter: opacity(0.75) hue-rotate(180deg) brightness(1.5) invert(1) brightness(0.5) blur(0.5px);
	}
	10% { filter: brightness(1) blur(0.5px); }
	50% { background-color: #12173c; filter: brightness(1) blur(0.5px); }
	100% { background-color: #12173c; filter: brightness(1) blur(0.5px); }
}

.backdrop {
	/*filter: blur(1.5px);*/
}

.backdrop::before {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: opacity 0.25s 0.75s ease-out;
	opacity: 0;
	z-index: -1;
}

.backdrop {
	pointer-events: none;
	transition: background-color 0.75s ease-out;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/*width: 50%;
	min-height: 50%;
	transform-origin: top left;
	*/
	/*background-image: url(/Sonic/marble-garden-bg.png);
	background-size: 100% auto;
	/*--height: 1024;*/
}

.backdrops .backdrop .parallax {
	left: calc(calc(calc(var(--x) + var(--bX)) - var(--xPan)) * 1px);
	width: calc(calc(var(--width) + var(--xPan)) * 1px);
}

.backdrop.marble-garden {
	background-color: rgba(25,0,75,0.5);
	background-color: #4848d8;
	height: 632px;
}

.backdrop .parallax {
	position: absolute;
	left: 0;
	width: 100%;
	min-height: 100%;
}

.backdrop.marble-garden .parallax {
	height: 632px;
	transform: translateY(calc(calc(var(--y) / var(--yMax)) * calc(256px - 512px)));
}

.backdrop.industrial .parallax {
	height: calc(-1 * var(--stacked));
	transform: translateY(calc(calc(var(--y) / var(--yMax)) * calc(var(--stacked) / 4)));
}

.backdrop.industrial {
	/*background-color: rgba(255,255,255,1);*/
	/*background-color: #4848d8;*/
	background-color: rgba(95,60,70,1);
}

.backdrop.mystic-cave .parallax,
.backdrop.proto-labrynth .parallax {
	height: auto;
	top: max( calc(100% - calc(1px * var(--top))), calc(1% * 0));
	bottom: max( calc(100% - calc(1px * var(--bottom))), calc(1% * 0));
}

.backdrop.underground {
	background-color: #408080;
}

.backdrop.south-ridge {
	background-color: #6c90fc;
}
